
<!-- Project list -->
<mat-expansion-panel #projects>
    
  <mat-expansion-panel-header fxLayoutAlign="space-between center">
    <mat-panel-title>{{msgs.title}}</mat-panel-title>
    <mat-panel-description fxLayoutAlign="end center"> 
      <mat-icon>{{msgs.icon}}</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  
  <mat-grid-list rowHeight="2:1" [cols]="cols" gutterSize="10" #grid>
    <mat-grid-tile *ngFor="let tile of tiles; let i = index">
      {{i+1}}
    </mat-grid-tile>     
  </mat-grid-list>

  <mat-action-row fxLayout="row" fxLayout.lt-sm="column">
    <button mat-button color="primary" routerLink="../projects">
      {{msgs.buttons.browse}}
    </button>
    <button mat-button color="primary" routerLink="../apply">
      {{msgs.buttons.create}}
    </button>
    <button mat-button color="primary" (click)="projects.close()">
      {{msgs.buttons.close}}
    </button>
  </mat-action-row>

</mat-expansion-panel>
