
:host {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;

  margin-left: auto;
  margin-right: auto; 

  //background-origin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}