
@import './link//link-theme';
@import './logo/logo-theme';
@import './toggler/toggler-theme';
@import './avatar/avatar-theme';
@import './spinner/spinner-theme';
@import './thumbnail/thumbnail-theme';
@import './inkbar/inkbar-theme';
@import './popup/popup-theme';
@import './illustration/illustration-theme';

@mixin wm-elements-theme($theme) {

  /*$background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);*/

  // Includes element specifics theme styles
  @include wm-link-theme($theme);
  @include wm-logo-theme($theme);
  @include wm-toggler-theme($theme);
  @include wm-avatar-theme($theme);
  @include wm-spinner-theme($theme);
  @include wm-thumbnail-theme($theme);
  @include wm-inkbar-theme($theme);
  @include wm-popup-theme($theme);
  @include wm-illustration-theme($theme, ('stroke', 'fill', 'stop-color'));
}