
<ng-container *wmContent="let msgs select 'folder'">
      
  <!-- Action Bar (projected in the top toolbar) -->
  <ng-template wmActionbar>
    <ng-container *ngIf="msgs.actions || {} as actions">

      <wm-action color="primary" [icon]="actions.delete?.icon || 'delete'" [disabled]="" (click)="dlgDelete.open()">
        {{ actions.delete?.caption || 'Delete' }}
      </wm-action>

      <wm-action color="primary" [icon]="actions.upload?.icon || 'cloud_upload'" (click)="openfile.open()">
        {{ actions.upload?.caption || 'Upload' }}
      </wm-action>

    </ng-container>

    <!-- Hidden OpenFile component -->
    <wm-openfile accept="image/*" multiple (files)="uploadFiles($event)" #openfile></wm-openfile>

    <!-- Can Delete confirmation dialog -->
    <wm-dialog (closedChange)="!!$event && deleteFiles()" #dlgDelete>

      <ng-container *ngIf="msgs.canDelete || {} as delete">
  
        <h2 mat-dialog-title><b>{{ delete.title || 'Deleting files' }}</b></h2>
  
        <mat-dialog-content [wm-readme]="delete.message">
          <b>WARNIN!!!G</b><br>By proceeding you'll permanently delete the selected file(s).
        </mat-dialog-content>
      
        <mat-dialog-actions align="end">
          <button mat-button color="primary" (click)="dlgDelete.close(false)" cdkFocusInitial>{{ delete.cancel || 'Abort' }}</button>
          <button mat-button color="warn" (click)="dlgDelete.close(true)">{{ delete.ok || 'Proceed' }}</button>
        </mat-dialog-actions>
  
      </ng-container>
  
    </wm-dialog>

  </ng-template>
      
  <!-- Page body: Folder with file thumbnails -->
  <section class="folder" fxLayout="column" fxLayoutAlign="center center">

    <div class="row" fxLayout="row wrap" fxLayout.lt-sm="column">
  
      <ng-container *ngFor="let file of files$ | async">
    
        <div class="cell" fxFlex="33.3%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
  
          <wm-thumbnail class="file" [name]="file.name$ | async" [src]="file.url$ | async" size="md">

            <wm-spinner></wm-spinner>

          </wm-thumbnail>
  
        </div>
  
      </ng-container>
      
    </div>
  
  </section>

</ng-container>

<!-- Cloud upload image for progress  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" display="none">
  <symbol id="upload" viewBox="0 0 24 24">
    <path fill="currentColor" d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"/>
  </symbol>
</svg>