
:host {
  position: relative;
  display: flex;
  flex-flow: row;
  width: 100%;

  &.in { justify-content: flex-start; }
  &.out { justify-content: flex-end; }

  .spacer {
    display: inline-block;
    width: 32px;
  }

  .time {
    position: absolute;
    right: 5px;
    bottom: 0;
    opacity: 0.5;
  }
}