
:host {

  display: block;
  position: relative;

  .desk {
    perspective: 1500px;
    background-color: rgb(200, 200, 220);
    box-shadow: inset 0 0 6px 3px rgba(0,0,0,0.125);
  }
  
  .page { 
    box-sizing: border-box;
    width: 100%; 
    padding: 5vw;
  }
  
  .tools {
    position: fixed;
    top: 10px;
    right: 10px;
  }
 /* 
  .sticky {
    margin: 10px 10px;
    position: sticky;
    top: 72px;
  }
  
  .table-of-contents {
    border-left: 3px solid map-get($wm-foregnd, toc-delimiter);
    //margin: 10px 0 10px 10px;
    padding: 5px 0 10px 10px;
    box-sizing: border-box;
  } */
}

