
<!-- Document body -->
<div fxLayout="row" fxLayoutAlign="space-between strech">

  <div fxFlex="1 1 auto" class="desk">

    <!--div fxLayout="column" fxLayoutAlign="start start" class="page" [@editing]="editMode"-->
    <div class="page" [@editing]="editMode">

      <!-- Renders the table of contents on top on small screens -->
      <!--wm-editable-toc class="table-of-contents" [source]="doc" fxHide fxShow.lt-sm>
        <h2>{{ msgs.tableOfContents }}</h2>
      </wm-editable-toc-->

      <!-- Renders the documetn body -->
      <wm-editable-document
        (contextmenu)="editMode ? menu.open($event) : true" 
        (change)="save($event)"
        [source]="document"
        [edit]="editMode" #doc>
      </wm-editable-document>

    </div>
  
  </div>

  <!-- Renders the table of contents by side on big screens -->
  <!--div fxFlex="0 0 auto" fxHide.lt-sm>
    <wm-editable-toc class="table-of-contents sticky" [source]="doc">
      <h3>{{ msgs.tableOfContents }}</h3>
    </wm-editable-toc>
  </div-->

</div>

<!-- Context menu -->
<wm-context-menu #menu [msgs]="msgs.tools"></wm-context-menu>

<!-- Editing tools -->
<wm-toolbox *ngIf="editMode" [msgs]="msgs.tools"></wm-toolbox>
