
:host {

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;

  width: 350px;
  max-width: 100%;

  .providers {
    height: 48px;
    svg { width: 48px; height: 48px; }
  }
  
  .bit-of-space { margin: 12px 0; }

  .pwd { cursor: pointer; }
  
  .btn {
    margin-top: 10px;
    min-height: 48px;
  }
}
