:host {

  display: block;
  width: 100%;
  min-height: 100%;

  .author {

    padding: 16px 0;

    .avatar {
      
      width: 40px;
      height: 40px;

      margin-right: 10px;
    }
  }

  .body {
    min-height: 200px;
  }

  .mat-dialog-actions {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}