
<ng-container *wmContent="let msgs select 'explorer-feed-edit'">
        
  <h4 mat-dialog-title>{{ msgs.title || "New Post" }}</h4>
    
  <!--mat-divider></mat-divider-->

  <mat-dialog-content>

    <section [wm-editable-document]="data" 
             [customClasses]="{ a: 'primary', caption: 'mat-small' }"
             class="body"
             edit>
    </section>

  </mat-dialog-content>

  <mat-dialog-actions align="end">

    <button mat-button color="primary" (click)="saveAndClose()" cdkFocusInitial>{{ msgs.save || "Post" }}</button>
 
  </mat-dialog-actions>
  
</ng-container>