
<!-- Gets the localized content -->
<ng-container *wmContent="let msgs select 'explorer-feed-edit'">
        
  <!-- Common header with close button -->
  <header mat-dialog-title fxLayout="row" fxLayoutAlign="space-between end">
    
    <span>{{ new ? (msgs.title?.new || "New post") : (msgs.title?.edit || 'Edit post') }}</span>
    
    <!-- Closes the dialog returning null -->
    <button mat-icon-button mat-dialog-close>
      <wm-icon inline="true" icon="close"></wm-icon>
    </button>

  </header>
    
  <mat-divider></mat-divider>

  <!-- Author's info -->
  <div fxLayout="row" fxLayoutAlign="start center" class="author">
  
    <!-- Author's picture -->
    <wm-avatar class="avatar" [src]="author.photo"></wm-avatar>
    
    <!-- Author's name -->
    <b>{{ author.fullName }}</b>
            
  </div>

  <!-- Tag list editor -->
  <!--mat-form-field style="width: 100%;">
    <mat-label>Tags</mat-label>
    <mat-chip-list #tagList aria-label="Tags">
      <mat-chip *ngFor="let tag of data.tags" removable (removed)="removeTag(tag)">
        <span class="mat-small">{{ tag }}</span>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="New tag..." [matChipInputFor]="tagList" (matChipInputTokenEnd)="addTag($event)" />
    </mat-chip-list>
  </mat-form-field-->

  <!-- Body editor -->
  <mat-dialog-content>

    <section [wm-editable-document]="data"
             [attr.placeholder]="msgs.placeholder || 'What\'s uuuuuuup!'"
             [customClasses]="{ a: 'primary', caption: 'mat-small' }"
             (longpress)="longpress.lookup($event)"
             (change)="data = $event; modified = !body.empty"
             class="body" 
             edit 
             cdkFocusInitial 
             #body="Editable">
    </section>

    <!-- Longpress key char alternatives -->
    <wm-longpress color="primary" [sel]="body.selection" [caret]="body.caret" #longpress></wm-longpress> 

  </mat-dialog-content>

  <mat-dialog-actions align="start">

    <div fxFlex="100%" fxLayout="column" fxLayoutGap="8px">

      <!--mat-divider></mat-divider-->

      <wm-post-toolbar [sel]="body.selection" color="primary"></wm-post-toolbar>

      <button mat-flat-button fxFlex="100%" color="primary" (click)="saveAndClose()" [disabled]="!modified">{{ 
        new ? (msgs.action?.post || "Post") : (msgs.action?.update || 'Update post') 
      }}</button>

    </div>
 
  </mat-dialog-actions>
  
</ng-container>