
<mat-list-item *ngIf="!!message">
  
  <!-- Sender image with info -->
  <wm-avatar mat-list-avatar [src]="message.from.img" [wmUserInfoTrigger]="userInfo">
  <wm-user-info [userId]="message.sender" #userInfo></wm-user-info>
  </wm-avatar>
  
  <!-- Sender name and time of last message -->
  <p fxLayout="row" fxLayoutAlign="space-between center" mat-line>
    <span>{{ message.from.name }}</span>
    <span class="time">{{ formatDate(message.last.created) }}</span>
  </p>
  
  <!-- Msg subject and content -->
  <p mat-line>
    <strong>{{ message.about.name }}</strong>
    <span>&nbsp;-&nbsp;</span>
    <span>{{ message.last.content }}</span>
  </p>

</mat-list-item>

<ng-content></ng-content>

<!--ng-container *ngIf="!!message">

  <mat-list-item *ngIf="mode === 'view'">
    <wm-avatar mat-list-avatar [src]="message.from.img"></wm-avatar>
    
    <p fxLayout="row" fxLayoutAlign="space-between center" mat-line>
      <span>{{ message.from.name }}</span>
      <span class="time">{{ formatDate(message.when) }}</span>
    </p>
    
    <p mat-line>
      <strong>{{ message.subject }}</strong>
      <span>&nbsp;-&nbsp;</span>
      <span>{{ message.content }}</span>
    </p>

  </mat-list-item>

  <mat-list-option [disabled]="disabled" [value]="message" *ngIf="mode === 'select'">
    <wm-avatar mat-list-avatar [src]="message.from.img"></wm-avatar>
    
    <p fxLayout="row" fxLayoutAlign="space-between center" mat-line>
      <span>{{ message.from.name }}</span>
      <span class="time">{{ formatDate(message.when) }}</span>
    </p>
    
    <p mat-line>
      <strong>{{ message.subject }}</strong>
      <span>&nbsp;-&nbsp;</span>
      <span>{{ message.content }}</span>
    </p>
  </mat-list-option>

</ng-container>

<ng-content></ng-content-->
