

@mixin wm-navigator-theme($theme) {

  $background: map-get($theme, background);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  /*$foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);*/
 
  .wm-navigator {
    
    header { 
    
      .mat-toolbar {
      
        background-color: transparent;// !important;
  
        // Reduces the standard 16px left/right padding to 8px on mobile
        .mat-toolbar-row { @media ($mat-xsmall) { padding: 0 8px; } }
  
        .background {
      
          background-color: map-get($background, app-bar);
          box-shadow: 0 6px 12px rgba(black, 0.125);
        }
      }
    }

    .wm-menu {

      background-color: map-get($background, app-bar);
      //box-shadow: 0 6px 12px rgba(black, 0.125);
    
      .link-active {
        border-left: 2px solid mat-color($primary);
        border-right: 2px solid mat-color($primary);
      }
    }

    .wm-footer .tag-line {

      background-color: mat-color($wm-primary, 'darker');
      color: mat-color($wm-primary, 100);
    }
  }

  .wm-feedback {
    
    // Uses the "accent" color palette
   .info {
     background-color: mat-color($primary, 50);
     color: mat-color($primary, 600);
     border: 1px solid mat-color($primary, 600);
     border-radius: 5px;
   }
 
   // Uses the "warning" color palette
   .error {
     background-color: mat-color($warn, 50);
     color: mat-color($warn, 600);
     border: 1px solid mat-color($warn, 600);
     border-radius: 5px;
   }
  }
}
