
:host {
  
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  
  // Settle a lower general zindex (1)
  z-index: 1;

  & > header { 
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
    // Makes sure all the children lays on the same z-index
    z-index: 2;
    & * { z-index: 2; }

    .mat-toolbar {
    
      background-color: transparent;

      .mat-toolbar-row {

        // Reduces the standard 16px left/right padding to 8px on mobile
        @media (max-width: 959px) { padding: 0 8px; }

        &[auto] { height: auto; }
      }

      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        
        pointer-events: none;

        box-shadow: 0 6px 12px rgba(black, 0.125);
      }
    }
  }

  & > main {
    router-outlet {
      display: block;
      position: relative;
    }
  }
}

