
:host {
  
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  // Settle a lower general zindex (1)
  z-index: 1;

  & > header { 
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
    // Makes sure all the children lays on the same z-index
    z-index: 2;
    & * { z-index: 2; }

    .mat-toolbar {
    
      //background-color: transparent !important;

      .mat-toolbar-row {
        &[compact] { height: 40px; }
        &[auto] { height: auto; }
      }

      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        
        pointer-events: none;
      }
    }
  }

  .feedback-btn {
    position: fixed;
    right: 14px;
    bottom: 14px;
    border-radius: 500px;
  }
}

