@import 'variables';
@import 'theme';


:host {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  // Settle a lower general zindex (1)
  z-index: 1;//$wm-zindex-content;

  header { 
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
    // Makes sure all the children lays on the same z-index
    z-index: 2;
    & * { z-index: 2; }

    mat-toolbar {
    
      background-color: transparent !important;

      mat-toolbar-row {
        // Reduces the standard 16px left/right padding to 8px
        padding: 0 8px;
        // Adjusts the height based on the specified attribute
        &[compact] { height: 40px; }
        &[auto] { height: auto; }
      }

      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        
        pointer-events: none;
    
        background-color: map-get($wm-theme-background, app-bar);
        box-shadow: 0 6px 12px rgba(black, 0.125);
      }
    }
  }
}

