<!-- @Levitates the header while scrolling up the page -->
<header fxFlex="0 0 auto" [@levitate]="scrolled">

  <mat-toolbar>

    <!-- Navigation bar -->
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">

      <wm-logo routerLink="."></wm-logo>  
  
      <nav fxLayout="row" fxLayoutAlign="end center">
  
        <wm-navbar [menuItems]="desktopMenu" fxHide.lt-sm></wm-navbar>
  
        <button mat-icon-button routerLink="profile" *ngIf="signedIn">
          <wm-avatar [src]="userImage"></wm-avatar>
        </button>
  
        <button mat-icon-button (click)="menu = !menu" fxHide fxShow.lt-sm>
          <wm-toggler toggler-style="more_vert" [status]="menu"></wm-toggler>
        </button>
      </nav>
    
    </mat-toolbar-row>

    <!-- Action toolbar -->
    <mat-toolbar-row *ngIf="signedIn" fxLayoutAlign="end center" [@expand]="someActions$ | async">

      <wm-toolbar [buttons]="actionButtons$ | async"></wm-toolbar>
  
    </mat-toolbar-row>

  </mat-toolbar>

  <!-- Error message displayer -->
  <wm-errors [error]="error" (clear)="clearError()"></wm-errors>

</header>

<!-- Viewport container -->
<main fxFlex="1 1 auto" fxLayout="column">

  <!-- Mobile version Menu -->
  <wm-menu *ngIf="menu" [menuItems]="mobileMenu"></wm-menu>
  
  <!-- Content Viewport (scrollable) -->
  <wm-viewport fxFlex="1 1 auto" fxLayout="column" treshold="20" [(scrolled)]="scrolled"> 

    <!-- Router Outlet stretched to fit -->
    <div fxFlex="1 1 auto">
      <router-outlet (deactivate)="clearActions()">
      </router-outlet>
    </div>
    
    <!-- Footer always on the bottom -->
    <wm-footer fxFlex="0 0 auto" [language]="!signedIn"></wm-footer>
  </wm-viewport>
</main>

<!--wm-consent [ask]="askConsent" (granted)="consentGranted()"></wm-consent-->
  