@import 'variables';

:host {
  position: absolute;
  top: 0;// top property will be overwrite by the code
  left: 0;
  width: 100%;
  height: 100%;

  // Same as fxLayout="column" on the host element
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  // Settle a lower general zindex (1)
  z-index: $wm-zindex-content;

  // Rise the header zindex (2) over the content
  header { z-index: $wm-zindex-control; }

  main {
    position: relative;
    overflow: hidden;
  
    // Makes sure the menu overlays (2) the content same as the header
    wm-menu { z-index: $wm-zindex-control;}
  
    // Makes sure the viewport content overflows
    wm-viewport { overflow: auto; scroll-behavior: smooth; }
  }
}

