<header fxFlex="0 0 auto">

  <mat-toolbar>

    <!-- Background w/ shadow to fade while blending in -->
    <div class="background" [@blendin]="!menu && !(scrolled$ | async)"></div>

    <!-- Navigation bar -->
    <mat-toolbar-row fxLayoutAlign="space-between center">

      <!-- Left pane -->
      <nav fxLayout="row" fxLayoutAlign="start center">

        <!-- Wizdm logo routing to home -->
        <wm-logo routerLink="."></wm-logo>  
    
        <!-- Desktop navigation links -->
        <wm-navbar [menuItems]="desktopMenu" *ngIf="nav.desktop"></wm-navbar>
      
      </nav>

      <!-- Right pane -->
      <div fxLayout="row" fxLayoutAlign="end center">

        <!-- Action toolbar -->
        <wm-toolbar *ngIf="someActions$ | async" 
                    [buttons]="actionButtons$ | async" 
                    (action)="performAction($event)">
        </wm-toolbar>

        <!-- Sign-in / User profile button -->
        <button mat-icon-button [routerLink]="signedIn ? 'profile' : 'login'">
          <!-- Flip button -->
          <wm-flip [flip]="signedIn">
            <!-- Shows a generic signIn icon on the front -->
            <wm-icon front icon="fas:fa-sign-in-alt"></wm-icon>
            <!-- Shows the loggedIn avatar on the back -->
            <wm-avatar back color="accent" [src]="userImage"></wm-avatar>
          </wm-flip>
        </button>

        <!-- Mobile menu toggler -->
        <button mat-icon-button (click)="toggleMenu()" *ngIf="nav.mobile">
          <wm-toggler toggler-style="menu" [status]="toggler"></wm-toggler>
        </button>

      </div>
    </mat-toolbar-row>

    <!-- Mobile menu -->
    <mat-toolbar-row auto *ngIf="nav.mobile">
      
      <wm-menu [menuItems]="mobileMenu" [toggle]="toggler" (visible)="menu = $event"></wm-menu>    
    
    </mat-toolbar-row>

  </mat-toolbar>

  <!-- Global error message displayer -->
  <wm-errors [msgs]="msgs?.errors" [error]="nav.error" (clear)="nav.clearError()"></wm-errors>
  
</header>

<!-- Viewport container -->
<main fxFlex="1 1 auto" fxLayout="column">

  <!-- Router Outlet stretched to fit -->
  <div fxFlex="1 1 auto">
    <router-outlet (deactivate)="clearActions()">
    </router-outlet>
  </div>
  
  <!-- Footer always on the bottom -->
  <wm-footer fxFlex="0 0 auto" [language]="!signedIn"></wm-footer>
</main>

<!-- Cookies conset pop-up -->
<!--wm-consent [ask]="askConsent" (granted)="consentGranted()"></wm-consent-->
  