
<ng-container *wmContent="let msgs select 'navigator'">

  <!-- Updates the Title and the description meta-tag -->
  <header [wmTitle]="msgs.title" [description]="msgs.description">

    <mat-toolbar>

      <!-- Background w/ shadow to fade while blending in -->
      <div class="background background-color" [@backgndBlendin]="!(sideToggler || menuToggler || menuVisible) && !(scrolled$ | async)"></div>

      <!-- Navigation bar (1st row) -->
      <mat-toolbar-row fxLayoutAlign="space-between center" #navbar>

        <!-- Left pane -->
        <nav fxLayout="row" fxLayoutAlign="start center">

          <!-- Wizdm logo routing to home -->
          <wm-logo color="primary" routerLink="."></wm-logo>
      
          <!-- Desktop navigation links -->
          <wm-navbar *ngIf="desktop && msgs.navbar as navbar" [menuItems]="navbar[signedIn ? 'private' : 'public']" color="primary"></wm-navbar>
        
        </nav>

        <!-- Right pane -->
        <div fxLayout="row" fxLayoutAlign="end center">

          <!-- Action toolbar animating the element's entrance -->
          <div [@actionActivate]="activateActions">

            <!-- De-sugared wmPortat directive: Actions will be teleported here -->
            <ng-template wmPortal="actionbar" [wmPortalContext]="{ isMobile: mobile }" (wmPortalTemplate)="activateActions = $event"></ng-template>

          </div>

          <!-- Sign-in / User profile button -->
          <button mat-icon-button [routerLink]="signedIn ? 'profile' : 'login'">
            
            <!-- Flip button -->
            <wm-flip [flipped]="signedIn">
            
              <!-- Shows a generic signIn icon on the front -->
              <wm-icon front icon="fas:fa-sign-in-alt"></wm-icon>
            
              <!-- Shows the loggedIn avatar on the back -->
              <wm-avatar back color="primary" [src]="userImage"></wm-avatar>
            
            </wm-flip>

          </button>

          <!-- Mobile menu toggler -->
          <button mat-icon-button (click)="toggleMenu()" *ngIf="mobile">
            <wm-toggler toggler-style="more_vert" [toggled]="menuToggler"></wm-toggler>
          </button>

        </div>
      </mat-toolbar-row>

      <!-- Mobile menu (2nd row) -->
      <mat-toolbar-row auto *ngIf="mobile && msgs.menu as menus">
        
        <wm-menu color="primary" [items]="menus[signedIn ? 'private' : 'public']" [(toggler)]="menuToggler" (visible)="menuVisible = $event"></wm-menu>    
      
      </mat-toolbar-row>

    </mat-toolbar>

  </header>

  <!-- Main Navigation Container with dynamic background -->
  <mat-sidenav-container fxFlex="1 1 auto" fxLayout="column" [ngStyle]="background$ | async">

    <!-- Side Navigation Panel -->
    <mat-sidenav class="mat-elevation-z3" fixedInViewport [style.padding-top.px]="navbar?.clientHeight || 0" 
      [mode]="mobile ? 'over' : 'side'" [(opened)]="sideToggler"> 

      <!-- Side panel toggler to stay visible even when the panel is closed -->
      <button mat-icon-button class="sidenav-toggler background-color" (click)="toggleSidenav()" *ngIf="sidenavOn" @sidenavOn>
        <wm-icon [class.closed]="!sideToggler" icon="fas:fa-chevron-left"></wm-icon>
      </button>

      <!-- Side panel content is teleported here -->
      <ng-template wmPortal="sidenav" [wmPortalContext]="{ isMobile: mobile }" (wmPortalActive)="activateSidenav($event)">

        <!-- Secondary router outlet named "side" -->
        <router-outlet name="side" (activate)="activate(true)" (deactivate)="activateSidenav(false)"></router-outlet>

      </ng-template>
        
    </mat-sidenav>
  
    <!-- Page container to fit all the available space -->
    <mat-sidenav-content fxFlex="1 1 auto" fxLayout="column" [style.margin-top.px]="navbar?.clientHeight || 0">

      <!-- Page's container adjusting the animation view top to skip the toolbar -->
      <div class="page" fxFlex="1 1 auto" [wmAnimateView.top]="navbar?.clientHeight || 0">

        <!-- Pages will fit here -->
        <router-outlet></router-outlet>
      </div>

      <!-- Footer always on the content's bottom -->
      <footer wm-footer fxFlex="0 0 auto"></footer>

    </mat-sidenav-content>

  </mat-sidenav-container>

  <!-- Login popup dialog activated on 'login' action link @see navigator-router-module -->
  <wm-login-dlg maxWidth="95vw" wmActionLink="login" (activate)="login.open($event)" #login></wm-login-dlg>

  <!-- Feedback form activated on 'contact' action link  @see navigator-router-module -->
  <wm-feedback-dlg maxWidth="95vw" disableClose="true" wmActionLink="contact" (activate)="feedback.open($event)" #feedback></wm-feedback-dlg>
  
</ng-container>