:host {

  display: flex;
  flex-direction: column;

  min-width: 250px;

  .w100 { width: 100%; }

  // Overrides the general selection theme to remove the border
  .selected { border: none; }

  // Customizes the button
  .mat-button { 
    height: 48px; 
    text-align: start;
  }

  // Animates the chevron icon
  .mat-icon {
    transition: transform 150ms ease;
    &.opened { transform: rotateZ(90deg); }
  }
}