
<!-- USER IMAGE -->
<header fxLayout="column" fxLayoutAlign="center center">

  <!-- Select the image among the uploads -->
  <wm-uploads [msgs]="msgs.uploadImage" (file)="selectImage($event)" #uploads>
    <!-- Open the selection on click -->
    <button mat-button class="user" (click)="uploads.chooseFile(userImage)">
      <!-- Displays the image as an Avatar -->
      <wm-avatar color="accent" [src]="userImage"></wm-avatar>
    </button>
  </wm-uploads>

</header>

<!-- PROFILE PANELS -->
<mat-accordion>
  <mat-expansion-panel *ngFor="let panel of msgs.panels; let i = index" (closed)=panelClose(i)>

    <!-- PANEL HEADER -->
    <mat-expansion-panel-header fxLayoutAlign="space-between center">
      <mat-panel-title>{{ panel.title }}</mat-panel-title>
      <mat-panel-description fxLayoutAlign="end center"> 
        <wm-icon [icon]="panel?.icon">"</wm-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- PANEL ITEM LIST -->
    <mat-list>

      <wm-user-item *ngFor="let field of panel.fields"
                       [name]="field.key"
                       [label]="field.label"
                       [icon]="field.icon"
                       [hint]="field.hint"
                       [type]="field.type"
                       [value]="profileValue(field.key)"
                       [options]="profileOptions(field.key)"
                       [validators]="profileValidators(field.key)"
                       [editable]="profileEditable(field.key)"
                       [mobile]="nav.mobile"
                       (editDone)="updateUserProfile(field.key, $event)">
      </wm-user-item>

    </mat-list>

    <!-- ACTION BUTTONS or LINKS -->
    <mat-action-row fxLayout="row" fxLayout.lt-sm="column" *ngIf="panel.buttons || panel.applyChanges">

      <ng-container *ngFor="let btn of panel.buttons">

        <button *ngIf="btn.action" 
                 mat-button color="primary" 
                 (click)="action(btn.action)"
                 [disabled]="disabled(btn.action)">
          {{ btn.caption }}
        </button>

      </ng-container>

      <!-- APPLY CHANGES BUTTON -->
      <button mat-button *ngIf="panel.applyChanges"
                          color="primary" 
                         [disabled]="!itemChanges"
                         (click)="applyAllItemChanges()">
        {{ panel.applyChanges }}
      </button>

    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
