
$wm-colors: ('red', light, $mat-red), ('pink', light, $mat-pink), ('purple', light, $mat-purple), ('deep-purple', light, $mat-deep-purple), ('indigo', light, $mat-indigo), ('blue', light, $mat-blue), ('light-blue', light, $mat-light-blue), ('cyan', light, $mat-cyan), ('teal', light, $mat-teal), ('green', dark, $mat-green), ('light-green', dark, $mat-light-green), ('lime', dark, $mat-lime), ('yellow', dark, $mat-yellow), ('amber', dark, $mat-amber), ('orange', dark, $mat-orange), ('deep-orange', light, $mat-deep-orange), ('brown', light, $mat-brown), ('grey', dark, $mat-grey), ('gray', dark, $mat-grey), ('blue-grey', light, $mat-blue-grey), ('blue-gray', light, $mat-blue-grey);

@mixin wm-theme-color($color, $back, $text) {
  .wm-theme-#{$color} {
    background-color: $back;
    color: $text;
  }
  
  *[wm-theme-color="#{$color}"] {
    @extend .wm-theme-#{$color};
  }
}

@mixin wm-theme-colors($light: white, $dark: black) {

  // Inlcudes all the material colors
  @each $color, $contrast, $palette in $wm-colors {
    @if $contrast == light { 
      @include wm-theme-color($color, map-get($palette, 500), $light); 
    }
    @if $contrast == dark { 
      @include wm-theme-color($color, map-get($palette, 500), $dark);
    }
  }
  // Completes with black/white and none
  @include wm-theme-color('black', black, $light);
  @include wm-theme-color('white', white, $dark);
  @include wm-theme-color('none', transparent, $dark);
}
