
:host {
  position: relative;
  width: 100%;
  min-height: 100%;
  padding: 8px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;

  .mat-list-item { height: 72px; }

  .message {
    position: relative;
    display: flex;
    flex-flow: row;
    padding: 0 2vw;

    &.in { justify-content: flex-start; }
    &.out { justify-content: flex-end; }

    .spacer {
      display: inline-block;
      width: 32px;
    }

    .time {
      position: absolute;
      right: 5px;
      bottom: 0;
      opacity: 0.5;
    }
  }

  // Customize the distance between messages
  .in + .in, .out + .out { margin-top: 2px; }
  .in + .out, .out + .in { margin-top: 12px; }

/*
  // Outer container to fill the available space (display: flex)
  .viewer {
    position: relative;
    overflow: hidden;

    //box-shadow: inset 0 8px 12px -6px rgba(black, 0.125);

    .back-to-bottom {
      position: absolute;
      right: 16px;
      top: 16px;
    }

    // Scrolling container to enable scroll (display: flex)
    .scroller {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;  
      padding: 10px 5%;

      overflow-x: hidden;
      overflow-y: auto;

      // Makes sure there's no smooth scrolling to avoid falsing the manual scroll detection
      // during automatic scrolling of new messages to the bottom
      scroll-behavior: unset;
      &::-webkit-scrollbar { width: 6px; }
      &::-webkit-scrollbar-track { background: transparent; }
      &::-webkit-scrollbar-thumb { background: #DDD; border-radius: 6px; }

      // Content inner container to align the message bottom using margin-top: auto
      .content {
        position: relative;
        margin-top: auto;

        // Customize the distance between messages
        .in + .in, .out + .out { margin-top: 2px; }
        .in + .out, .out + .in { margin-top: 12px; }
      }
    }
  }
  */
}