
<ng-container *wmContent="let msgs select 'chat'" gtag="chat">

  <!-- Actionbar -->
  <ng-template wmActionbar let-mobile="isMobile">

    <!-- Notification's button -->
    <button mat-icon-button *ngIf="unreadCount" color="primary">
      <!-- Displays the icon with the overall unread count -->
      <wm-icon icon="far:fa-bell" [matBadge]="unreadCount" matBadgeSize="small"></wm-icon>
    </button>

  </ng-template>

  <!-- Sidenav panel -->
  <ng-template wmSidenav opened persist>

    <!-- List of active conversations -->
    <mat-action-list>

      <mat-list-item  *ngFor="let conv of conversations$ | async; trackBy: trackById"
                      (click)="selectConversation(conv.id)"
                      [fxHide]="conv.archived" 
                      class="height-unset">

        <wm-conversation [data]="conv" (unreadCount)="accumulateUnread(conv.id, $event)"></wm-conversation>
      
      </mat-list-item>

    </mat-action-list>

  </ng-template>

  <!-- Message thread -->
  <ng-container *ngFor="let msg of messages$ | async; trackBy: trackById">

    <!-- Message row -->
    <div class="message" [class.in]="msg.sender !== me" [class.out]="msg.sender === me">

      <wm-balloon [color]="msg.sender === me ? 'accent' : 'primary'"
                  [side]="msg.sender === me ? 'right' : 'left'" 
                  class="mat-elevation-z3"
                  anchor="end">

        <span [wm-emoji-text]="msg.body"></span>
      
        <span class="spacer"></span>
        
        <time class="time mat-small">{{ msg.created?.toDate() | moment:'HH:mm' }}</time>
      
      </wm-balloon>

    </div>

  </ng-container>

  <!-- Back to bottom button appearing when scrolled back enough -->
  <ng-container *wmFab>

    <button mat-mini-fab side="right" edge="bottom" color="primary" (click)="scrollToBottom()" *ngIf="scrolled$ | async" @pop>
      <mat-icon>expand_more</mat-icon>
    </button>

  </ng-container>
  
  <!-- Message composer on the navigator's sticky footer-->
  <wm-composer *wmFooter [(value)]="text" [keys]="keys" (expanded)="onKeyboardExpand()" (send)="send($event)"></wm-composer> 

  <!-- Can Leave dialog -->
  <wm-dialog *ngIf="msgs.canLeave as leave" [dontLeave]="!!text">

    <h2 mat-dialog-title><b>{{ leave.title || 'Unsent message' }}</b></h2>
  
    <mat-dialog-content [wm-readme]="leave.message">
      You're about to leave the page without sending the last message.
    </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button mat-button color="warn" [mat-dialog-close]="false" cdkFocusInitial>{{ leave.cancel || 'Wait' }}</button>
      <button mat-button color="primary" [mat-dialog-close]="true">{{ leave.ok || 'Proceed' }}</button>
    </mat-dialog-actions>

  </wm-dialog>

</ng-container>

