
<!-- Loads the localized content -->
<ng-container *wmContent="let msgs select 'chat'" gtag="chat">

  <!-- Actionbar -->
  <ng-template wmActionbar let-mobile="isMobile">

    <!-- New chat button -->
    <button mat-stroked-button type.lt-sm="icon" color="primary" [routerLink]="msgs.conversation?.new?.link || '/explore/people'">

      <!-- Use an icon button on small screens -->
      <wm-icon *ngIf="mobile; else newMessage" [icon]="msgs.conversation?.new?.icon || 'add_comment'"></wm-icon>

      <!-- Use a stroked button on large screens -->
      <ng-template #newMessage>{{ msgs.conversation?.new?.caption || 'New chat' }}</ng-template>

    </button>

    <!-- Notification's button -->
    <!--button mat-icon-button *ngIf="unreadCount$ | async as unreadCount" color="primary">
      <wm-icon icon="far:fa-bell" [matBadge]="unreadCount" matBadgeSize="small"></wm-icon>
    </button-->

    <!-- Teleports to the side panel. Forced open on large screens -->
    <ng-template wmSidenav [opened]="((conversations$ | async)?.length > 0) && (browse || !mobile)" (openedChange)="browse = $event" persist minWidth="280px" maxWidth="350px">

      <!-- Resolves the active conversation -->
      <ng-container *ngIf="activeConversation$ | async as activeConversation">

        <!-- Displays the active conversation on the toolbar on small screens -->
        <ng-container *ngIf="mobile">

          <wm-conversation *wmToolbar [content]="activeConversation" (deleting)="onDeleting($event, conv.id)" (click)="browse = !browse"></wm-conversation>

        </ng-container>

        <!-- List all the active conversations within the side panel -->
        <wm-conversation *ngFor="let conv of conversations$ | async; trackBy: trackById"
                         color="primary"
                         [content]="conv" 
                         [highlight]="conv.id === activeConversation.id"
                         [showUnread]="conv.id !== activeConversation.id"
                         (deleting)="onDeleting($event, conv.id)"
                         (click)="mobile && (browse = !browse)">
        </wm-conversation>

      </ng-container>
        
    </ng-template><!-- Sidenav -->

  </ng-template><!-- Actionbar -->

  <!-- Message thread -->
  <div fxFlex="100" fxLayout="column" fxLayoutAlign="end stretch"> 

    <!-- Loading spinner -->
    <div fxLayout="row" fxLayoutAlign="center" *ngIf="loading">
      <mat-spinner mode="indeterminate" diameter="40"></mat-spinner>
    </div>

    <ng-container *ngIf="messages$ | async as messages"> 

      <!-- List all messages -->
      <ng-container *ngFor="let msg of messages; let i = index; trackBy: trackById">

        <!-- Group messages by date (different day) -->
        <ng-container *ngIf="i === 0 || (messages[i-1] | createdTime | moment:'D') !== (msg | createdTime | moment:'D')">

          <!-- Displays a balloon with the date -->
          <wm-balloon fxFlexAlign="center" class="group-label mat-elevation-z2">{{ 
              
            msg | createdTime | calendar:msgs.thread?.timeFormat || {
              sameDay: "[Today]",
              lastDay: "[Yesterday]",
              lastWeek: "dddd",
              sameElse: "L"
            }

          }}</wm-balloon>

        </ng-container>

        <!-- Displays the next message -->
        <wm-message [thread]="(messages[i-1] | snapshotData)?.sender" [message]="msg"></wm-message>

      </ng-container>

    </ng-container>

  </div>

  <!-- FAB button for scrolling back -->
  <ng-template wmFab="right bottom">

    <!-- Back to bottom button appearing when scrolled back enough -->
    <button mat-mini-fab color="primary" (click)="scrollToBottom()" *ngIf="scrolled$ | async" @pop>
      <mat-icon>expand_more</mat-icon>
    </button>

  </ng-template>

  <!-- Message composer on the navigator's sticky footer -->
  <wm-composer *wmFooter [(value)]="text" 
                         [keys]="keys" 
                         [disabled]="!recipient || loading || deleting"
                         (expanded)="onKeyboardExpand()" 
                         (send)="send($event)">
  </wm-composer> 

  <!-- Can Leave dialog -->
  <wm-dialog *ngIf="msgs.canLeave as leave" [dontLeave]="!!text">

    <h2 mat-dialog-title><b>{{ leave.title || 'Unsent message' }}</b></h2>
  
    <mat-dialog-content [wm-readme]="leave.message">
      You're about to leave the page without sending the last message.
    </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button mat-button color="warn" [mat-dialog-close]="false" cdkFocusInitial>{{ leave.cancel || 'Wait' }}</button>
      <button mat-button color="primary" [mat-dialog-close]="true">{{ leave.ok || 'Proceed' }}</button>
    </mat-dialog-actions>

  </wm-dialog>

</ng-container>

