
:host {
  position: relative;
  min-height: 100%;
  width: 100%;
  padding: 8px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  // Customize the distance between messages
  .in + .in, .out + .out { margin-top: 2px; }
  .in + .out, .out + .in { margin-top: 12px; }

  .group-label {
    margin: 12px 0;
    padding: 6px 12px;
    border-radius: 5px;
  }
}