
<ng-container *wmContent="let msgs select 'chat'" gtag="chat">

  <!-- Actionbar -->
  <ng-template wmActionbar let-mobile="isMobile">

    <!-- Notification's button -->
    <button mat-icon-button *ngIf="unreadCount" color="primary">
      <!-- Displays the icon with the overall unread count -->
      <wm-icon icon="far:fa-bell" [matBadge]="unreadCount" matBadgeSize="small"></wm-icon>
    </button>

  </ng-template>

  <!-- Sidenav panel -->
  <ng-template wmSidenav opened persist>

    <!-- Normally, displays the list of active conversations -->
    <mat-action-list>

      <mat-list-item class="height-unset" *ngFor="let conversation of conversations$ | async">

        <wm-chat-conversation [data]="conversation" 
                              [style.visibility.hidden]="conversation.archive"
                              (unreadCount)="accumulateUnread(conversation.id, $event)"
                              (click)="selectConversation(conversation.id)">
        </wm-chat-conversation>
      
      </mat-list-item>

    </mat-action-list>

  </ng-template>

  <!-- Message list viewer accomidating the maximum space left from the composer -->
  <div class="viewer" fxFlex="1 1 auto" fxLayout="column">

    <!-- Scrolling container using display: flex to ensure content end alignement with margin-top: auto -->
    <div class="scroller" fxLayout="column" cdkScrollable>

      <!-- Content inner container using display: block ensuring scrolling works on all browsers -->
      <div class="content">

        <wm-message [message]="msg" *ngFor="let msg of messages$ | async; trackBy: trackById"></wm-message>

      </div>
    </div>

    <!-- Back to bottom button appearing when scrolled back enough -->
    <button mat-mini-fab color="primary" class="back-to-bottom" (click)="scrollToBottom()" *ngIf="scrolled$ | async" @pop>
      <mat-icon>expand_more</mat-icon>
    </button>

  </div>

  <!-- Message composer on the bottom -->
  <wm-chat-composer fxFlex="0 0 auto" [(value)]="text" [keys]="keys" (expanded)="onKeyboardExpand()" (send)="send($event)">
  </wm-chat-composer> 

  <!-- Can Leave dialog -->
  <wm-dialog *ngIf="msgs.canLeave as leave" [dontLeave]="!!text">

    <h2 mat-dialog-title><b>{{ leave.title || 'Unsent message' }}</b></h2>
  
    <mat-dialog-content [wm-readme]="leave.message">
      You're about to leave the page without sending the last message.
    </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button mat-button color="warn" [mat-dialog-close]="false" cdkFocusInitial>{{ leave.cancel || 'Wait' }}</button>
      <button mat-button color="primary" [mat-dialog-close]="true">{{ leave.ok || 'Proceed' }}</button>
    </mat-dialog-actions>

  </wm-dialog>

</ng-container>

