:host {

  display: block;
  position: relative;
  margin-top: 20px;

  .places {

    padding: 32px;

    .row {

      .cell {

        padding: 8px;

      }
    }
  }

  .add {
    position: fixed;
    margin: 32px;
    right: 0;
    bottom: 0;
  }
}