
  <div fxLayout="row" fxLayoutAlign="center center">

    <span>

      <!-- Text Format -->
      <button mat-icon-button *ngFor="let item of styles" (click)="sel.toggleFormat(item)" [ngClass]="{'selected': hasStyle(item) }">
        <mat-icon>{{ 'format_' + item }}</mat-icon>
      </button>

      <!-- Alignement -->
      <button mat-icon-button [matMenuTriggerFor]="alignMenu">
        <mat-icon>{{'format_align_' + sel.align }}</mat-icon>
      </button>

      <!--mat-button-toggle-group [value]="style" (change)="format($event)" multiple>
        <mat-button-toggle *ngFor="let format of styles" [value]="format">
          <mat-icon>{{ 'format_' + format }}</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group-->

    </span>

  </div>

<!-- Alignement -->
<mat-menu #alignMenu="matMenu" fxLayout="column">

  <button mat-icon-button *ngFor="let item of alignements" (click)="sel.align = item">
    <mat-icon>{{'format_align_' + item }}</mat-icon>
    <!--span>{{ labels.align[item] }}</span-->
  </button>

</mat-menu>

  <!--/div-->

    <!--mat-button-toggle-group #style="matButtonToggleGroup">
      <mat-button-toggle value="size">
        <mat-icon>format_size</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="quote">
        <mat-icon>format_quote</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="bulletted">
        <mat-icon>format_list_bulleted</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="numbered">
        <mat-icon>format_list_numbered</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group-->

    <!-- Alignement -->
    <!--mat-button-toggle-group #alignement="matButtonToggleGroup" 
      [value]="align"
      (valueChange)="changeAlign($event)">
      <mat-button-toggle value="left">
        <mat-icon>format_align_left</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center">
        <mat-icon>format_align_center</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="right">
        <mat-icon>format_align_right</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="justify" disabled>
        <mat-icon>format_align_justify</mat-icon>
      </mat-button-toggle>
  </mat-button-toggle-group-->