<div fxLayout="row" fxLayoutAlign="center center">

  <span>

    <!-- Size -->
    <button mat-icon-button [matMenuTriggerFor]="sizeMenu">
      <mat-icon>format_size</mat-icon>
    </button>

    <!-- Text Format -->
    <button mat-icon-button [matMenuTriggerFor]="formatMenu" [disabled]="sel.belongsTo('link')">
      <mat-icon>{{ sel.style.length > 0 ? 'format_' + sel.style[0] : 'text_format' }}</mat-icon>
    </button>

    <!-- Alignement -->
    <button mat-icon-button [matMenuTriggerFor]="alignMenu">
      <mat-icon>{{'format_align_' + sel.align }}</mat-icon>
    </button>

    <!-- Numbered list -->
    <button mat-icon-button
      [style.backgroundColor]="sel.belongsTo('numbered') ? 'rgba(0,0,0,0.1)' : 'unset'"
      (click)="sel.toggleList('numbered')">
      <mat-icon>format_list_numbered</mat-icon>
    </button>

    <!-- Bulletted list -->
    <button mat-icon-button
      [style.backgroundColor]="sel.belongsTo('bulleted') ? 'rgba(0,0,0,0.1)' : 'unset'"
      (click)="sel.toggleList('bulleted')">
      <mat-icon>format_list_bulleted</mat-icon>
    </button>

    <!-- Quote -->
    <button mat-icon-button 
      [style.backgroundColor]="sel.belongsTo('blockquote') ? 'rgba(0,0,0,0.1)' : 'unset'"
      (click)="sel.toggleQuote()">
      <mat-icon>format_quote</mat-icon>
    </button>

    <!-- Indent less -->
    <button mat-icon-button (click)="sel.unindent()">
      <mat-icon>format_indent_decrease</mat-icon>
    </button>

    <!-- Indent more -->
    <button mat-icon-button (click)="sel.indent()">
      <mat-icon>format_indent_increase</mat-icon>
    </button>

    <!-- More -->
    <button mat-icon-button [matMenuTriggerFor]="extraMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

  </span>

</div>

<!-- Size -->
<mat-menu #sizeMenu="matMenu">

  <button mat-menu-item *ngFor="let level of [1, 2, 3]"
          [style.backgroundColor]="sel.level === level ? 'rgba(0,0,0,0.1)' : 'unset'"
          (click)="sel.level = level">
          <span [ngClass]="'mat-h' + level">{{ 'Heading ' + level }}</span>
  </button>

  <button mat-menu-item 
          [style.backgroundColor]="sel.level === 0 ? 'rgba(0,0,0,0.1)' : 'unset'"
          (click)="sel.level = 0">Paragraph</button>

</mat-menu>

<!-- format -->
<mat-menu #formatMenu="matMenu">

  <button mat-icon-button *ngFor="let item of styles" 
          style="display: block; border-radius: 0"
          [style.backgroundColor]="hasStyle(item) ? 'rgba(0,0,0,0.1)' : 'unset'"
          (click)="sel.toggleFormat(item)">
    <mat-icon>{{'format_' + item }}</mat-icon>
  </button>

</mat-menu>

<!-- Alignement -->
<mat-menu #alignMenu="matMenu">

  <button mat-icon-button *ngFor="let item of alignements" 
          style="display: block; border-radius: 0"
          [style.backgroundColor]="item === sel.align ? 'rgba(0,0,0,0.1)' : 'unset'"
          (click)="sel.align = item">
    <mat-icon>{{'format_align_' + item }}</mat-icon>
  </button>

</mat-menu>

<!-- Extras -->
<mat-menu #extraMenu="matMenu">

  <button mat-icon-button style="display: block; border-radius: 0" (click)="doNothing()">
    <mat-icon>format_quote</mat-icon>
  </button>

  <button mat-icon-button style="display: block; border-radius: 0" *ngIf="!sel.belongsTo('link')" (click)="sel.link('./')">
    <mat-icon>link</mat-icon>
  </button>

  <button mat-icon-button style="display: block; border-radius: 0" *ngIf="sel.belongsTo('link')" (click)="sel.unlink()">
    <mat-icon>link_off</mat-icon>
  </button>

  <button mat-icon-button style="display: block; border-radius: 0" (click)="doNothing()">
    <mat-icon>format_clear</mat-icon>
  </button>

  <button mat-icon-button style="display: block; border-radius: 0" (click)="doNothing()">
    <mat-icon>table_chart</mat-icon>
  </button>

  <button mat-icon-button style="display: block; border-radius: 0" (click)="doNothing()">
    <mat-icon>insert_photo</mat-icon>
  </button>

</mat-menu>