<div fxLayout="row" fxLayoutAlign="center center">

    <span fxLayout="row" fxLayoutAlign="center center" class="wrapper">
      <!-- Edit -->
      <span fxLayout="column" fxLayoutAlign="center center">
         <!-- Undo -->
        <button mat-icon-button 
          [matTooltip]="msgs?.edit?.undo"
          [matTooltipShowDelay]="tooltipDelay"
          [disabled]="!sel.undoable" 
          (click)="sel.undo()">
          <mat-icon>undo</mat-icon>
        </button>
        <!-- Redo -->
        <button mat-icon-button 
          [matTooltip]="msgs?.edit?.redo"
          [matTooltipShowDelay]="tooltipDelay"
          [disabled]="!sel.redoable" 
          (click)="sel.redo()">
          <mat-icon>redo</mat-icon>
        </button>
      </span>
      <!-- Format -->
      <span fxLayout="column" fxLayoutAlign="center center">
        <!-- Size (level) -->
        <button mat-icon-button [matMenuTriggerFor]="sizeMenu">
          <mat-icon>format_size</mat-icon>
        </button>
        <!-- Alignement -->
        <button mat-icon-button [matMenuTriggerFor]="alignMenu">
          <mat-icon>{{'format_align_' + sel.align }}</mat-icon>
        </button>
      </span>
      <!-- Style -->
      <span fxLayout="column" fxLayoutAlign="center center">
        <!-- Style -->
        <button mat-icon-button [matMenuTriggerFor]="formatMenu" [disabled]="sel.belongsTo('link')">
          <mat-icon>{{ sel.style.length > 0 ? 'format_' + sel.style[0] : 'text_format' }}</mat-icon>
        </button>
        <!-- Clear -->
        <button mat-icon-button 
          [matTooltip]="msgs?.format?.clear"
          [matTooltipShowDelay]="tooltipDelay"
          [disabled]="sel.belongsTo('link')" 
          (click)="sel.clear()">
          <mat-icon>format_clear</mat-icon>
        </button>
      </span>
      <!-- List -->
      <span fxLayout="column" fxLayoutAlign="center center">
        <!-- Numbered list -->
        <button mat-icon-button
          [matTooltip]="msgs?.insert?.numbered"
          [matTooltipShowDelay]="tooltipDelay"
          [style.backgroundColor]="sel.belongsTo('numbered') ? 'rgba(0,0,0,0.1)' : 'unset'"
          (click)="sel.toggleList('numbered')">
          <mat-icon>format_list_numbered</mat-icon>
        </button>
        <!-- Bulletted list -->
        <button mat-icon-button
          [matTooltip]="msgs?.insert?.bulleted"
          [matTooltipShowDelay]="tooltipDelay"
          [style.backgroundColor]="sel.belongsTo('bulleted') ? 'rgba(0,0,0,0.1)' : 'unset'"
          (click)="sel.toggleList('bulleted')">
          <mat-icon>format_list_bulleted</mat-icon>
        </button>
      </span>
      <!-- Quote/Link -->
      <span fxLayout="column" fxLayoutAlign="center center">
         <!-- Quote -->
        <button mat-icon-button 
          [matTooltip]="msgs?.insert?.quote"
          [matTooltipShowDelay]="tooltipDelay"
          [style.backgroundColor]="sel.belongsTo('blockquote') ? 'rgba(0,0,0,0.1)' : 'unset'"
          (click)="sel.toggleQuote()">
          <mat-icon>format_quote</mat-icon>
        </button>
        <!-- Link -->
        <button mat-icon-button 
          [matTooltip]="msgs?.insert?.link"
          [matTooltipShowDelay]="tooltipDelay"
          style="display: block; border-radius: 0" 
          *ngIf="!sel.belongsTo('link')" 
          (click)="sel.link('./')">
          <mat-icon>link</mat-icon>
        </button>
        <!-- Unlink -->
        <button mat-icon-button 
          [matTooltip]="msgs?.insert?.unlink"
          [matTooltipShowDelay]="tooltipDelay"
          style="display: block; border-radius: 0" 
          *ngIf="sel.belongsTo('link')" 
          (click)="sel.unlink()">
          <mat-icon>link_off</mat-icon>
        </button>
      </span>
      <!-- Indentation -->
      <span fxLayout="column" fxLayoutAlign="center center">
        <!-- Indent more -->
        <button mat-icon-button 
          [matTooltip]="msgs?.indent?.more"
          [matTooltipShowDelay]="tooltipDelay"
          [disabled]="!sel.belongsTo('numbered') && !sel.belongsTo('bulleted')"
          (click)="sel.indent()">
          <mat-icon>format_indent_increase</mat-icon>
        </button>
        <!-- Indent less -->
        <button mat-icon-button 
          [matTooltip]="msgs?.indent?.less"
          [matTooltipShowDelay]="tooltipDelay"
          [disabled]="!sel.belongsTo('numbered') && !sel.belongsTo('bulleted') && !sel.belongsTo('blockquote')"
          (click)="sel.unindent()">
          <mat-icon>format_indent_decrease</mat-icon>
        </button>
      </span>
      <!-- Insert -->
      <span fxLayout="column" fxLayoutAlign="center center">
        <!-- Insert table -->
        <button mat-icon-button 
          [matTooltip]="msgs?.insert?.table"
          [matTooltipShowDelay]="tooltipDelay"
          style="display: block; border-radius: 0" 
          (click)="doNothing()">
          <mat-icon>table_chart</mat-icon>
        </button>
        <!-- Insert image -->
        <button mat-icon-button 
          [matTooltip]="msgs?.insert?.image"
          [matTooltipShowDelay]="tooltipDelay"
          style="display: block; border-radius: 0" 
          (click)="doNothing()">
          <mat-icon>insert_photo</mat-icon>
        </button>
      </span>
  
    </span>
  
  </div>
  <!-- Size menu -->
  <mat-menu #sizeMenu="matMenu">
    <!-- Heading -->
    <button mat-menu-item *ngFor="let level of [1, 2, 3]"
            [matTooltip]="msgs?.size[level]"
            [matTooltipShowDelay]="tooltipDelay"
            [style.backgroundColor]="sel.level === level ? 'rgba(0,0,0,0.1)' : 'unset'"
            (click)="sel.level = level">
            <span [ngClass]="'mat-h' + level">{{ label(msgs?.size[level]) }}</span>
    </button>
    <!-- Paragraph -->
    <button mat-menu-item 
            [matTooltip]="msgs?.size[0]"
            [matTooltipShowDelay]="tooltipDelay"
            [style.backgroundColor]="sel.level === 0 ? 'rgba(0,0,0,0.1)' : 'unset'"
            (click)="sel.level = 0">{{ label(msgs?.size[0]) }}</button>
  
  </mat-menu>
  <!-- Format menu -->
  <mat-menu #formatMenu="matMenu">
    <!-- Styles -->
    <button mat-icon-button *ngFor="let item of styles" 
            [matTooltip]="msgs?.format[item]"
            [matTooltipShowDelay]="tooltipDelay"
            style="display: block; border-radius: 0"
            [style.backgroundColor]="hasStyle(item) ? 'rgba(0,0,0,0.1)' : 'unset'"
            (click)="sel.toggleFormat(item)">
      <mat-icon>{{'format_' + item }}</mat-icon>
    </button>
  
  </mat-menu>
  
  <!-- Alignement menu -->
  <mat-menu #alignMenu="matMenu">
    <!-- Alignaments -->
    <button mat-icon-button *ngFor="let item of alignements" 
            [matTooltip]="msgs?.align[item]"
            [matTooltipShowDelay]="tooltipDelay"
            style="display: block; border-radius: 0"
            [style.backgroundColor]="item === sel.align ? 'rgba(0,0,0,0.1)' : 'unset'"
            (click)="sel.align = item">
      <mat-icon>{{'format_align_' + item }}</mat-icon>
    </button>
  
  </mat-menu>
  