
<!-- Loops on the items -->
<ng-container *ngFor="let item of items">

  <!-- Renders the single items as buttons -->
  <button mat-button class="w100 selected" [color]="hasSelection(item) ? color : ''" (click)="onItemClick(item)">

    <span fxLayout="row" fxLayoutAlign="space-between center">

      <!-- Renders the label with the proper indentation level -->
      <span [style.padding-left.px]="indent" fxFlex="1 1 auto">{{ item.label }}</span>

      <!-- Renders the chrevron in case the item has children -->
      <mat-icon [class.opened]="isOpened(item)" fxFlex="0 0 auto" *ngIf="hasItems(item)">chevron_right</mat-icon>

    </span>
  
  </button>

  <!-- Renders the sub items, if any -->
  <div *ngIf="isOpened(item)"
       class="w100" 
       [wm-toc]="item.items" 
       [color]="color" 
       [(selected)]="selected" 
       (navigate)="navigate.emit($event)" 
       @topic>
  </div>

</ng-container>