@import 'src/variables';
@import 'src/theme';

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  padding: $wm-content-padding 0;
  margin: 0 $wm-content-margin;
}

.bit-of-space {
  margin-top: 20px;
}

.disclaimer {
  max-width: 500px;
  text-align: justify;
}

.apply-btn {
  
  color: mat-contrast($wm-primary, A400);
  background-color: mat-color($wm-primary, A400);
  
  &[disabled] {
    background-color: transparent;
  }
}