
<h1>{{msgs.title}}</h1>
<p>{{msgs.description}}</p>

<mat-vertical-stepper linear>

  <mat-step [stepControl]="nameForm">

    <form [formGroup]="nameForm" (ngSubmit)="renameProject()">

      <ng-template matStepLabel>{{msgs.appName.title}}</ng-template>
      
      <p class="mat-small">{{msgs.appName.description}}</p>

      <mat-form-field appearance="legacy" fxFill>
        <mat-label>{{msgs.appName.label}}</mat-label>
        <input matInput formControlName="name">
        <mat-hint>{{msgs.appName.hint}}</mat-hint>
        <mat-error *ngIf="nameForm.controls.name.errors?.required">
          {{msgs.appName.required}}
        </mat-error>
        <mat-error *ngIf="nameForm.controls.name.errors?.alreadyExist">
          {{msgs.appName.alreadyExist}}
        </mat-error>
      </mat-form-field>

      <div class="bit-of-space">
        <button mat-button matStepperNext type="submit">{{msgs.buttons.next}}</button>
      </div>
    </form>
      
  </mat-step>

  <mat-step *ngFor="let question of msgs.questions; let i=index" [stepControl]="stepForms[i]">
  
    <form [formGroup]="stepForms[i]" (ngSubmit)="updateApplication(i)">

      <ng-template matStepLabel>{{question.title}}</ng-template>
        
      <p class="mat-small">{{question.description}}</p>

      <ng-container *ngFor="let field of question.fields; let j=index">

        <ng-container [ngSwitch]="field.type">

          <mat-form-field *ngSwitchDefault appearance="legacy" fxFill>
            <mat-label>{{field.label}}</mat-label>
            <input matInput [formControlName]="field.name">
            <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
            <mat-error *ngIf="field.required && stepForms[i].controls[field.name].errors?.required">
              {{field.required}}
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngSwitchCase="'textarea'" appearance="legacy" fxFill>
            <mat-label>{{field.label}}</mat-label>
            <textarea matInput [formControlName]="field.name" [rows]="field.rows || 5" >
            </textarea>      
            <mat-hint *ngIf="field.hint">{{field.hint}}</mat-hint>
            <mat-error *ngIf="field.required && stepForms[i].controls[field.name].errors?.required">
              {{field.required}}
            </mat-error>
          </mat-form-field>

          <div class="bit-of-space" *ngIf="j < question.fields.length - 1">
          </div>

        </ng-container>

      </ng-container>

      <div class="bit-of-space">
        <button mat-button matStepperPrevious type="button">{{msgs.buttons.back}}</button>
        <button mat-button matStepperNext type="submit">
          {{msgs.buttons.next}}
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>{{msgs.appSubmit.title}}</ng-template>
    
    <div fxLayout="row" fxLayoutAlign="center center" fxFill>
      <div class="disclaimer">
        <p>{{msgs.appSubmit.description}}</p>
        <p class="mat-small">
          <wm-disclaimer [source]="msgs.appSubmit.disclaimer"
                        (action)="popupTerms()"
                          actionClass="mat-link">
          </wm-disclaimer>
        </p>
        <div fxLayout="row" fxLayoutAlign="center center" fxFill>
          <mat-checkbox labelPosition="before" color="primary" #agree>
            <wm-disclaimer [source]="msgs.appSubmit.agree"
                          (action)="popupTerms()"
                            actionClass="mat-link">
            </wm-disclaimer>
          </mat-checkbox>
        </div>
      </div>
    </div>

    <mat-progress-bar *ngIf="progress" class="bit-of-space" mode="indeterminate"></mat-progress-bar>

    <div *ngIf="!progress" class="bit-of-space" fxLayout="row" fxLayoutAlign="center center">
      <button mat-button class="apply-btn" type="button" 
              [disabled]="!agree.checked" 
              (click)="submitProject()">
        {{ msgs.buttons.apply }}
      </button>
    </div>

  </mat-step>
      
</mat-vertical-stepper>