
<!--ng-container *ngIf="visible">

<div class="consent-container" @fade>

  <div class="container-fluid consent-shadow" #shadow></div>

  <div class="container-fluid consent-body" #content>
    <div class="row align-items-center">
      <div class="col-sm-8 mt-3 mb-sm-3 text-left">
      <h5>{{msgs.body}}</h5>
      </div>
      <div class="col-sm-4 mb-3 mt-sm-3 text-center">
        <button class="btn btn-lg btn-nl" (click)=onDismiss()>
        {{msgs.button}}
        </button> 
      </div>
    </div>
  </div>
</div>

</ng-container-->