@import 'elements-theme';

// Initilize the global application theme
@mixin wm-init-application-theme($theme, $typography) {

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  
  // Includes the material core component independent theme styles w/ typography
  @include mat-core($typography);
  
  // Includes a material component specifics theme styles
  @include angular-material-theme($theme);

  // Ovverrides standard material typo margins
  @include tweak-material-typo-margins();

  // Tweaks material compoment styles for improved flexibility
  @include tweak-material-components();

  // Styles the elements according to the theme
  @include wm-elements-theme($theme);

  // Styles the theme colors globally
  @include wm-theme-colors($theme, ('color', 'background-color', 'border-color', 'stroke', 'fill'));

  // Applies a smooth scroll behaviour whenever supported
  html { scroll-behavior: smooth; }

  // Styles the body
  body {
    // Applies material typography rules globally
    @extend .mat-typography;
    // Applies material theme general colors
    @extend .mat-app-background;
    
    // Disables outline on all elements
    * { outline: none; }

    // Styles links
    a { 

      cursor: pointer;
      color: mat-color($primary); 
      text-decoration: none;

      //&:hover { text-decoration: underline; }

      // Styles according the theme palette colors
      @each $color in ('accent', 'warn') {

        &[color=#{$color}] { 
          color: mat-color( map-get($theme, #{$color}) ); 
        }
      }

      // Styles the disabled link
      &[disabled=true] {

        color: map-get( map-get($theme, foreground) , 'disabled');
        text-decoration: dotted underline;
      }    
    }

    // Smoothen the text color on content
    p, li, td { 
      line-height: 1.5;
      color: rgba(map-get($foreground, text), 0.8); 
    }

    // Defines a global style for blockquotes
    blockquote {
      padding: 0 1em;
      color: rgba(black, 0.4);
      border-left: 0.25em solid rgba(black, 0.11);
      p, li, td { color: inherit; }
    }

    // Code blocks
    pre { 
      // Overrides the PrismJS highlighting default theme color
      background-color: transparent !important; 
    }

    // Ensures the inline-code breaks, eventually
    code { overflow-wrap: break-word; }

    // Defines a global style for tables
    table {
      border-spacing: 0;
      border-collapse: collapse;
      margin-bottom: 16px;

      tr:nth-child(2n) {
        background-color: rgba(0,0,0,0.03); 
      }
      td {
        position: relative;
        padding: 6px 13px;
        border: 1px solid #ddd;
      }
    }
    
    // Defines a global style for dividers
    hr { 

      height: 4px;
      line-height: 24px;
      margin: 24px 0;
      border-style: none;

      background-color: map-get($foreground, divider); 
    }
  }
}
