@import '~@angular/material/theming';
@import 'material';
@import 'elements';
//@import 'markdown';

// This file is actually extending the standard Angular Material theme
// with customized application specific colors and typography styles

// Defines the list of material components to be styled in the application. Uncomment the component dame to enable its styling
$wm-material: (
  //'autocomplete', 
  //'badge', 
  //'bottom-sheet', 
  'button', 
  //'button-toggle', 
  //'card', 
  'checkbox', 
  //'chips', 
  //'table', 
  'datepicker', 
  'dialog', 
  'divider', 
  'expansion-panel', 
  'form-field', 
  //'grid-list', 
  'icon', 
  'input', 
  'list', 
  'menu', 
  //'paginator', 
  'progress-bar', 
  'progress-spinner', 
  //'radio', 
  'select', 
  //'sidenav', 
  //'slide', 
  //'slider', 
  'stepper', 
  //'sort', 
  //'tabs', 
  'toolbar', 
  'tooltip', 
  //'tree', 
  //'snack-bar'
);

// Define the main font family
$wm-font-family: 'Ubuntu, sans-serif';

// Creates a customized material typography first...
$wm-typography: mat-typography-config(
  $font-family:   $wm-font-family,
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(72px, 72px, 400),
  $display-2:     mat-typography-level(56px, 56px, 400),
  $display-1:     mat-typography-level(45px, 48px, 400),
  $headline:      mat-typography-level(36px, 48px, 400),
  $title:         mat-typography-level(24px, 32px, 400),
  $subheading-2:  mat-typography-level(22px, 28px, 400),
  $subheading-1:  mat-typography-level(20px, 24px, 400),
  $body-2:        mat-typography-level(18px, 24px, 400),
  $body-1:        mat-typography-level(16px, 20px, 400),
  $button:        mat-typography-level(16px, 20px, 400)
);
//.. than extends with some application specific values
$wm-typography: extend-material-typography($wm-typography, (
  button-big:     mat-typography-level(22px, 24px, 800),
  social:         mat-typography-level(22px, 24px, 600)
));

// Define the main theme colors palettes.
$wm-primary: mat-palette($mat-indigo);
$wm-accent:  mat-palette($mat-blue);//, A200, A100, A400);
$wm-warn:    mat-palette($mat-red);

// Creates a standard material light theme first...
$wm-theme: mat-light-theme($wm-primary, $wm-accent, $wm-warn);
//... than extends the theme with customized fore/background values
$wm-theme: extend-material-theme($wm-theme, 

  $foreground: (
    // Overwrites some Angular Material standard values
    base:              mat-color($wm-primary, 900),
    disabled-button:   rgba(mat-color($wm-primary, 900), 0.26),
    icon:              mat-color($wm-primary),
    icons:             mat-color($wm-primary),
    text:              mat-color($wm-primary, 900),
    
    // Adds Elements/Markdown specific foreground extensions
    toggler:           mat-color($wm-primary, 900),
    //action:            mat-color($wm-accent),
    //link:              mat-color($wm-accent)
  ),

  $background: (
    // Overwrites some Angular Material standard values
    status-bar:       white,
    app-bar:          white,
    background:       white,

    // Appends extra application specific background extensions
    //editor:           rgba(mat-color($mat-blue, 900), 0.8)
    //selection:          rgba(mat-color($mat-blue, 900), 0.5)
  )
);

// Extracts global fore/background palettes to simplify value comsumption across the app
$wm-theme-foreground: map-get($wm-theme, foreground);
$wm-theme-background: map-get($wm-theme, background);

// Padding top helper
@mixin wm-padding-top($offset: 0) {

  padding-top: $wm-content-top-desktop + $offset;
  @media ($mat-xsmall) {
    padding-top: $wm-content-top-mobile + $offset;
  }
}

// Initilize the global application theme
@mixin wm-init-application-theme($typography: $wm-typography, $theme: $wm-theme, $material: $wm-material) {
  
  // Includes the core theme indepeneted material style
  @include mat-core($typography);
  
  // Include a selection of material theme styles matching the list of $components
  @include custom-material-theme($theme, $material);//@include angular-material-theme($theme);
  
  // Init the wizdm elements theme styles, extending material components. 
  // NOTE: This tweaks some of the global material styles to better blend the components in
  @include wm-elements-theme($theme);
  
  // Let the global styling being applied. Uncomment to customize the theme
  // @include wm-markdown-theme($theme);

  // Defines an additional mat-link class to decorate links diviating
  // from the strict rules of material design for the sake of clarity
  .mat-link {
    cursor: pointer;
    color: mat-color($wm-accent);
    text-decoration: underline;
  }
 
  // Resets the default mat-menu padding
  .mat-menu-content { padding: 0 !important;}
  .mat-menu-panel { min-width: unset !important;}

  // Resets the default menu typography to buttons
  .mat-menu-item {
    font: {
      family: mat-font-family($wm-typography, button);
      size:   mat-font-size($wm-typography, button);
      weight: mat-font-weight($wm-typography, button);
    }
  }

  // Defines a global class to resets dialog container's padding on request
  // to be used in MatDialogConfig.panelClass when needed
  .mat-dialog-reset { mat-dialog-container { padding: 0;} }

  // Applies a smooth scroll behaviour whenever supported
  html { scroll-behavior: smooth; }

  // Styles the body
  body {
    // Applies material typography rules globally
    @extend .mat-typography;
    // Applies material theme general colors
    @extend .mat-app-background;
    
    // Disables outline on all elements
    * { outline: none; }

    // Ensure all links will look the same
    a { @extend .mat-link; }

    // Smoothen the text color on content
    p, li, td { color: rgba(map-get($wm-theme-foreground, text), 0.8); }

    // Defines a global style for blockquotes
    blockquote {
      padding: 0 1em;
      color: rgba(black, 0.4);
      border-left: 0.25em solid rgba(black, 0.11);
      p, li, td { color: inherit; }
    }

    table {
      border-spacing: 0;
      border-collapse: collapse;
      margin-bottom: 16px;

      tr:nth-child(2n) {
        background-color: rgba(0,0,0,0.03); 
      }
      td {
        position: relative;
        padding: 6px 13px;
        border: 1px solid #ddd;
      }
}
  }
}
