$wm-loader-size          : 150px !default;
$wm-loader-thickness     : 3px !default;

$wm-logo-size            : 48px !default;
$wm-login-width          : 300px !default;

$wm-content-top-desktop  : 64px !default;
$wm-content-top-mobile   : 56px !default;
$wm-content-padding      : 16px !default;
$wm-content-margin       : 32px !default;
$wm-menu-margin          : 16px !default;
//$wm-footer-height        : 64px !default;

$wm-zindex-content       : 1 !default;
$wm-zindex-control       : 2 !default;
$wm-zindex-edit          : 3 !default;

// Padding top helper
/*
@mixin wm-padding-top($offset: 0) {

  padding-top: $wm-content-top-desktop + $offset;
  @media ($mat-xsmall) {
    padding-top: $wm-content-top-mobile + $offset;
  }
}
*/