@import "variables";
@import "theme";

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 $wm-content-margin;

  @include wm-padding-top($wm-content-padding);
}

//.upload { fill: mat-color($wm-primary); }