
  <div fxLayout="row" fxLayoutAlign="center center">

    <span>

      <!-- Text format -->
      <mat-button-toggle-group  #formatGroup="matButtonToggleGroup" 
        (change)="applyFormat($event)"
        [value]="format"
        multiple>
        <mat-button-toggle *ngFor="let fff of formats" [value]="fff">
          <mat-icon>{{ 'format_' + fff }}</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>

    </span>

  </div>

  <!--/div-->

    <!--mat-button-toggle-group #style="matButtonToggleGroup">
      <mat-button-toggle value="size">
        <mat-icon>format_size</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="quote">
        <mat-icon>format_quote</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="bulletted">
        <mat-icon>format_list_bulleted</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="numbered">
        <mat-icon>format_list_numbered</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group-->

    <!-- Alignement -->
    <!--mat-button-toggle-group #alignement="matButtonToggleGroup" 
      [value]="align"
      (valueChange)="changeAlign($event)">
      <mat-button-toggle value="left">
        <mat-icon>format_align_left</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center">
        <mat-icon>format_align_center</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="right">
        <mat-icon>format_align_right</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="justify" disabled>
        <mat-icon>format_align_justify</mat-icon>
      </mat-button-toggle>
  </mat-button-toggle-group-->