@import "variables";
@import "theme";

$wm-bar-height: 60px;

:host {
  display: flex;
  position: relative;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;

  width: 100%;
  min-height: $wm-bar-height;
  box-sizing: border-box;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  //overflow: hidden;
  color: #F1F1F1;

  //margin-bottom: $wm-content-padding;
  //margin: 0 $wm-content-margin;

  // Applies a gradient on the cover
  &::before {
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    height: 100%;
    //background: linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0.9) 50%, white);
    background: linear-gradient(90deg, rgba(black, 0.8), rgba(black, 0.25) 50%, rgba(black, 0.8));
    content: "";
  }

  .content {
    position: absolute;
    width: 100%;
    height: 100%;

    .wide {
      width: 100%;
    }
    
    wm-avatar {
      margin: 0 10px;
    }
  }
}
