@import "src/variables";
@import "src/theme";

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding-top: $wm-content-padding;
  margin: 0 $wm-content-margin;
}

.upload { fill: mat-color($wm-primary); }