<!-- USER IMAGE -->
<header fxLayout="column" fxLayoutAlign="center center">

  <!-- Select the image among the uploads -->
  <wm-upload [msgs]="msgs.uploadImage" (file)="selectImage($event)" #uploads>
    <!-- Open the selection on click -->
    <button mat-button class="user" (click)="uploads.chooseFile(userImage)">
      <!-- Displays the image as an Avatar -->
      <wm-avatar color="primary" [src]="userImage"></wm-avatar>
    </button>
  </wm-upload>

</header>

<!-- PROFILE PANELS -->
<mat-accordion displayMode="flat" fxFill>
  <mat-expansion-panel class="mat-elevation-z0" *ngFor="let panel of msgs.panels; let i = index" (closed)=panelClose(i)>

    <!-- PANEL HEADER -->
    <mat-expansion-panel-header fxLayoutAlign="space-between center">
      <mat-panel-title>{{ panel.title }}</mat-panel-title>
      <mat-panel-description fxLayoutAlign="end center"> 
        <wm-icon [icon]="panel?.icon">"</wm-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- PANEL ITEM LIST -->
    <mat-action-list>

      <wm-user-item *ngFor="let field of panel.fields"
                    [name]="field.key"
                    [label]="field.label"
                    [icon]="field.icon"
                    [hint]="field.hint"
                    [type]="field.type"
                    [value]="profileValue(field.key)"
                    [options]="profileOptions(field.key)"
                    [validators]="profileValidators(field.key)"
                    [editable]="profileEditable(field.key)"
                    (editDone)="updateUserProfile(field.key, $event)">
      </wm-user-item>

    </mat-action-list>

    <!-- ACTION BUTTONS or LINKS -->
    <mat-action-row fxLayout="row" fxLayout.lt-sm="column" *ngIf="panel.buttons || panel.applyChanges">

      <ng-container *ngFor="let btn of panel.buttons">

        <button mat-button *ngIf="btn.action" 
                           color="primary" 
                           (click)="action(btn.action)"
                           [disabled]="disabled(btn.action)">{{ btn.caption }}</button>
      </ng-container>

      <!-- APPLY CHANGES BUTTON -->
      <button mat-button *ngIf="panel.applyChanges"
                         color="primary" 
                         [disabled]="!itemChanges"
                         (click)="applyAllItemChanges()">{{ panel.applyChanges }}</button>
    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
