
<!-- Localized content -->
<ng-container *wmContent="let msgs select 'profile'">

  <!-- Action Bar (projected in the top toolbar) -->
  <ng-container *wmActionbar>
    <ng-container *ngIf="msgs.actions || {} as actions">

      <wm-action color="primary" [icon]="actions.signOut?.icon || 'exit_to_app'" wmRedirect="login?mode=signOut">
        {{ actions.signOut?.caption || 'Sign-out' }}
      </wm-action>

      <wm-action color="primary" [icon]="actions.save?.icon || 'save'" [disabled]="form.invalid || form.pristine" (click)="updateProfile()">
        {{ actions.save?.caption || 'Save' }}
      </wm-action>

    </ng-container>
  </ng-container>

  <!-- Page Body -->
  <div fxLayout="column" fxLayoutAlign="center" fxFlex="60%" fxFlex.lt-md="100%">

    <!-- Public Profile Section -->
    <section fxLayout="column" fxLayoutGap="16px">

      <h2>{{ msgs.title || 'Public Profile' }}</h2>

      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="start center" fxLayoutGap="32px">

        <!-- Profile form -->
        <wm-profile-form fxFlexOrder.lt-sm="2" [(value)]="profileData" #form></wm-profile-form>

        <!-- Profile photo -->
        <wm-profile-photo fxFlexOrder.lt-sm="1" [photo]="profilePhoto" (update)="updatePhoto($event)" (delete)="deletePhoto()"></wm-profile-photo>
      
      </div>

    </section>

    <!-- Account Management Section -->
    <section fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="start start" *ngIf="msgs.account as account">

      <h2>{{ account.title || 'Account' }}</h2>
      
      <mat-divider fxFill></mat-divider>
      
      <p [wm-readme]="account.description" [context]="this">
        <span>Your account has been created on <b>{{ creared }}</b>.</span>
      </p>

      <!-- Email Verify -->
      <ng-container *ngIf="account.verifyEmail as verify">
      
        <h3>{{ verify.title || 'Verify Email' }}</h3>
        
        <mat-divider fxFill></mat-divider>
        
        <p [wm-readme]="emailVerified ? verify?.verified : verify?.unverified">
          <span>Your email {{ emailVerified ? 'has been verified already' : 'has not been verified yet '}}.</span>
        </p>
        
        <button mat-stroked-button color="primary" [disabled]="emailVerified" wmRedirect="login?mode=sendEmailVerification">
          {{ verify.action }}
        </button>

      </ng-container>

      <!-- Email / Password change -->
      <ng-container *ngIf="account.changeCredentials as credentials">
      
        <h3>{{ credentials.title || 'Change email / password' }}</h3>
        
        <mat-divider fxFill></mat-divider>
        
        <p [wm-readme]="credentials.description">
          <span>Here you can change the credentials used for signin-in.</span>
        </p>
        
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px"> 
        
          <button mat-stroked-button color="primary" wmRedirect="login?mode=changeEmail">
            {{ credentials.actions?.email || 'Change your email' }}
          </button>
      
          <button mat-stroked-button color="primary" wmRedirect="login?mode=changePassword">
            {{ credentials.actions?.password || 'Change your password' }}
          </button>
      
        </div>

      </ng-container>

      <!-- Delete Account -->
      <ng-container *ngIf="account.deleteAccount as delete">
      
        <h3>{{ delete.title || 'Delete account' }}</h3>
        
        <mat-divider fxFill></mat-divider>
        
        <p [wm-readme]="delete.description">
          <span>By proceeding you'll <b>permanently</b> delete all your data!</span>
        </p>
      
        <button mat-stroked-button color="warn" fxFlexAlign="start" wmRedirect="login?mode=delete">
          {{ delete.action || 'Delete your account' }}
        </button>

      </ng-container>
    
    </section>

  </div>

  <!-- CanLeave Popup Dialog (based on MatDialog) -->
  <wm-dialog [dontLeave]="form.dirty" *ngIf="msgs.canLeave as leave" #canLeave>

    <h2 mat-dialog-title><b>{{ leave.title || 'Unsaved changes' }}</b></h2>
  
    <mat-dialog-content [wm-readme]="leave.message">
      <span>You're about to leave the page without saving the latest changes.<br>Please confirm.</span>
    </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button mat-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>{{ leave.cancel || 'Stay' }}</button>
      <button mat-button color="accent" (click)="updateProfileAndLeave(canLeave.ref)">{{ leave.force || 'Save and leave' }}</button>
      <button mat-button color="warn" [mat-dialog-close]="true">{{ leave.ok || 'Leave anyhow' }}</button>
    </mat-dialog-actions>
  
  </wm-dialog>

</ng-container>

