
:host {

  position: relative;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .padding-top { padding-top: 64px; }
  h1, p { text-align: center; }
}