<div fxLayout="row" fxLayoutAlign="center center">

  <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px" class="wrapper background-color mat-elevation-z3">

    <!-- Undo -->
    <button mat-icon-button 
      [matTooltip]="msgs?.edit?.undo"
      [matTooltipShowDelay]="tooltipDelay"
      [disabled]="!sel.undoable" 
      (click)="sel.undo()">
      <mat-icon>undo</mat-icon>
    </button>

    <!-- Redo -->
    <button mat-icon-button 
      [matTooltip]="msgs?.edit?.redo"
      [matTooltipShowDelay]="tooltipDelay"
      [disabled]="!sel.redoable" 
      (click)="sel.redo()">
      <mat-icon>redo</mat-icon>
    </button>

    <!-- Size (level) menu -->
    <button mat-icon-button [matMenuTriggerFor]="sizeMenu">
      <mat-icon>format_size</mat-icon>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

     <!-- Formatting (desktop) -->
    <button mat-icon-button *ngFor="let item of styles" 
            [matTooltip]="msgs?.format[item]"
            [matTooltipShowDelay]="tooltipDelay"
            [attr.selected]="hasStyle(item)"
            style="border-width:0;"
            (click)="sel.toggleFormat(item)" fxHide.lt-sm>
      <mat-icon>{{'format_' + item }}</mat-icon>
    </button>

    <!-- Format menu (mobile) -->
    <button mat-icon-button [matMenuTriggerFor]="formatMenu" [disabled]="sel.belongsTo('link')" fxHide fxShow.lt-sm>
      <mat-icon>{{ sel.style.length > 0 ? 'format_' + sel.style[0] : 'text_format' }}</mat-icon>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <!-- Alignement menu -->
    <button mat-icon-button [matMenuTriggerFor]="alignMenu">
      <mat-icon>{{'format_align_' + sel.align }}</mat-icon>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <!-- Numbered list -->
    <button mat-icon-button
      [matTooltip]="msgs?.insert?.numbered"
      [matTooltipShowDelay]="tooltipDelay"
      [attr.selected]="sel.belongsTo('numbered')"
      style="border-width:0;"
      (click)="sel.toggleList('numbered')" fxHide.lt-sm>
      <mat-icon>format_list_numbered</mat-icon>
    </button>

    <!-- Bulletted list -->
    <button mat-icon-button
      [matTooltip]="msgs?.insert?.bulleted"
      [matTooltipShowDelay]="tooltipDelay"
      [attr.selected]="sel.belongsTo('bulleted')"
      style="border-width:0;"
      (click)="sel.toggleList('bulleted')" fxHide.lt-sm>
      <mat-icon>format_list_bulleted</mat-icon>
    </button>

    <!-- Indent more -->
    <button mat-icon-button 
      [matTooltip]="msgs?.indent?.more"
      [matTooltipShowDelay]="tooltipDelay"
      [disabled]="!sel.belongsTo('numbered') && !sel.belongsTo('bulleted')"
      (click)="sel.indent()" fxHide.lt-sm>
      <mat-icon>format_indent_increase</mat-icon>
    </button>

    <!-- Indent less -->
    <button mat-icon-button 
      [matTooltip]="msgs?.indent?.less"
      [matTooltipShowDelay]="tooltipDelay"
      [disabled]="!sel.belongsTo('numbered') && !sel.belongsTo('bulleted') && !sel.belongsTo('blockquote')"
      (click)="sel.outdent()" fxHide.lt-sm>
      <mat-icon>format_indent_decrease</mat-icon>
    </button>

    <!-- Quote -->
    <button mat-icon-button 
      [matTooltip]="msgs?.insert?.quote"
      [matTooltipShowDelay]="tooltipDelay"
      [attr.selected]="sel.belongsTo('blockquote')"
      style="border-width:0;"
      (click)="sel.toggleQuote()" fxHide.lt-sm>
      <mat-icon>format_quote</mat-icon>
    </button>

    <!-- Link -->
    <button mat-icon-button 
      [matTooltip]="msgs?.insert?.link"
      [matTooltipShowDelay]="tooltipDelay"
      *ngIf="!sel.belongsTo('link')" 
      (click)="sel.link('./')" fxHide.lt-sm>
      <mat-icon>link</mat-icon>
    </button>

    <!-- Unlink -->
    <button mat-icon-button 
      [matTooltip]="msgs?.insert?.unlink"
      [matTooltipShowDelay]="tooltipDelay"
      *ngIf="sel.belongsTo('link')" 
      (click)="sel.unlink()" fxHide.lt-sm>
      <mat-icon>link_off</mat-icon>
    </button>

    <!-- More menu -->
    <button mat-icon-button [matMenuTriggerFor]="moreMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

  </span>

</div>
<!-- Size menu -->
<mat-menu [class]="'mini wm-theme-colors '+color" #sizeMenu="matMenu">
  <!-- Heading -->
  <button mat-menu-item *ngFor="let level of [1, 2, 3]"
          [matTooltip]="msgs?.size[level]"
          [matTooltipShowDelay]="tooltipDelay"
          style="display: block; border-width:0; border-radius: 0;"
          [attr.selected]="sel.level === level"
          (click)="sel.level = level">
          <span [ngClass]="'mat-h' + level">{{ label(msgs?.size[level]) }}</span>
  </button>
  <!-- Paragraph -->
  <button mat-menu-item 
          [matTooltip]="msgs?.size[0]"
          [matTooltipShowDelay]="tooltipDelay"
          style="display: block; border-width:0; border-radius: 0;"
          [attr.selected]="sel.level === 0"
          (click)="sel.level = 0">{{ label(msgs?.size[0]) }}</button>

</mat-menu>
<!-- Format menu -->
<mat-menu [class]="'mini wm-theme-colors '+color" #formatMenu="matMenu">
  <!-- Formatting -->
  <button mat-icon-button *ngFor="let item of styles" 
          [matTooltip]="msgs?.format[item]"
          [matTooltipShowDelay]="tooltipDelay"
          style="display: block; border-width:0; border-radius: 0;"
          [attr.selected]="hasStyle(item)"
          (click)="sel.toggleFormat(item)">
    <mat-icon>{{'format_' + item }}</mat-icon>
  </button>

</mat-menu>

<!-- Alignement menu -->
<mat-menu [class]="'mini wm-theme-colors '+color" #alignMenu="matMenu">
  <!-- Alignaments -->
  <button mat-icon-button *ngFor="let item of alignements" 
          [matTooltip]="msgs?.align[item]"
          [matTooltipShowDelay]="tooltipDelay"
          style="display: block; border-width:0; border-radius: 0;"
          [attr.selected]="item === sel.align"
          (click)="sel.align = item">
    <mat-icon>{{'format_align_' + item }}</mat-icon>
  </button>

</mat-menu>

<!-- More menu -->
<mat-menu [class]="'mini wm-theme-colors '+color" #moreMenu="matMenu">

   <!-- Numbered list -->
  <button mat-icon-button
    [matTooltip]="msgs?.insert?.numbered"
    [matTooltipShowDelay]="tooltipDelay"
    style="display: block; border-width:0; border-radius: 0;"
    [attr.selected]="sel.belongsTo('numbered')"
    (click)="sel.toggleList('numbered')" fxHide fxShow.lt-sm>
    <mat-icon>format_list_numbered</mat-icon>
  </button>

  <!-- Bulletted list -->
  <button mat-icon-button
    [matTooltip]="msgs?.insert?.bulleted"
    [matTooltipShowDelay]="tooltipDelay"
    style="display: block; border-width:0; border-radius: 0;"
    [attr.selected]="sel.belongsTo('bulleted')"
    (click)="sel.toggleList('bulleted')" fxHide fxShow.lt-sm>
    <mat-icon>format_list_bulleted</mat-icon>
  </button>

  <!-- Indent more -->
  <button mat-icon-button 
    [matTooltip]="msgs?.indent?.more"
    [matTooltipShowDelay]="tooltipDelay"
    [disabled]="!sel.belongsTo('numbered') && !sel.belongsTo('bulleted')"
    style="display: block; border-radius: 0" 
    (click)="sel.indent()" fxHide fxShow.lt-sm>
    <mat-icon>format_indent_increase</mat-icon>
  </button>

  <!-- Indent less -->
  <button mat-icon-button 
    [matTooltip]="msgs?.indent?.less"
    [matTooltipShowDelay]="tooltipDelay"
    [disabled]="!sel.belongsTo('numbered') && !sel.belongsTo('bulleted') && !sel.belongsTo('blockquote')"
    style="display: block; border-radius: 0" 
    (click)="sel.outdent()" fxHide fxShow.lt-sm>
    <mat-icon>format_indent_decrease</mat-icon>
  </button>

  <!-- Quote -->
  <button mat-icon-button 
    [matTooltip]="msgs?.insert?.quote"
    [matTooltipShowDelay]="tooltipDelay"
    style="display: block; border-width:0; border-radius: 0;"
    [attr.selected]="sel.belongsTo('blockquote')"
    (click)="sel.toggleQuote()" fxHide fxShow.lt-sm>
    <mat-icon>format_quote</mat-icon>
  </button>

  <!-- Link -->
  <button mat-icon-button 
    [matTooltip]="msgs?.insert?.link"
    [matTooltipShowDelay]="tooltipDelay"
    style="display: block; border-radius: 0" 
    *ngIf="!sel.belongsTo('link')" 
    (click)="sel.link('./')" fxHide fxShow.lt-sm>
    <mat-icon>link</mat-icon>
  </button>

  <!-- Unlink -->
  <button mat-icon-button 
    [matTooltip]="msgs?.insert?.unlink"
    [matTooltipShowDelay]="tooltipDelay"
    style="display: block; border-radius: 0" 
    *ngIf="sel.belongsTo('link')" 
    (click)="sel.unlink()" fxHide fxShow.lt-sm>
    <mat-icon>link_off</mat-icon>
  </button>

  <!-- Clear formatting -->
  <button mat-icon-button 
    [matTooltip]="msgs?.format?.clear"
    [matTooltipShowDelay]="tooltipDelay"
    [disabled]="sel.belongsTo('link')" 
    style="display: block; border-radius: 0" 
    (click)="sel.clear()">
    <mat-icon>format_clear</mat-icon>
  </button>

  <!-- Insert table -->
  <!--button mat-icon-button 
    [matTooltip]="msgs?.insert?.table"
    [matTooltipShowDelay]="tooltipDelay"
    [disabled]="sel.belongsTo('table')" 
    style="display: block; border-radius: 0" 
    (click)="sel.tableNew(1, 3)">
    <mat-icon>table_chart</mat-icon>
  </button-->

  <!-- Insert image -->
  <!--button mat-icon-button 
    [matTooltip]="msgs?.insert?.image"
    [matTooltipShowDelay]="tooltipDelay"
    [disabled]="true"
    style="display: block; border-radius: 0" 
    (click)="doNothing()">
    <mat-icon>insert_photo</mat-icon>
  </button-->
</mat-menu>