
:host {  
  display: block;
  position: fixed;
  left: 0;
  top: 72px;
  width: 100%;

  pointer-events: none;

  .wrapper {
    pointer-events: all;
    border-radius: 5px;
    padding: 4px;
  }

  button { 
    $size: 24px; 
    position: relative;
    width: auto;
    height: auto;
    line-height: $size;
    padding: 2px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;

    // Tweaks the mat-icon-button related classes to shrink the button size down to 28px
    .mat-icon, .mat-icon-button i { line-height: $size; }
    .mat-icon {
      width: $size;
      height: $size;
      margin: 0;
      // Shrinks the second icon expecting to be the drop-down arrow
      &:nth-child(2) { width: 16px; margin-left: -4px; }
    }
    .material-icons { font-size: $size; }
  }
}
