@import '~@angular/material/theming';

// Thes file is actually extending the standard Angular Material theme
// with customized application specific colors ans typography styles

// Define the main font family
$wm-font-family: 'Ubuntu, sans-serif';

// Custom typography config
$wm-typography: (

  // Angular Material standard values
  display-4:     mat-typography-level(112px, 112px, 300, $wm-font-family),
  display-3:     mat-typography-level(56px, 56px, 400, $wm-font-family),
  display-2:     mat-typography-level(45px, 48px, 400, $wm-font-family),
  display-1:     mat-typography-level(34px, 40px, 400, $wm-font-family),
  headline:      mat-typography-level(32px, 48px, 700, $wm-font-family),
  title:         mat-typography-level(24px, 32px, 600, $wm-font-family),
  subheading-2:  mat-typography-level(20px, 28px, 600, $wm-font-family),
  subheading-1:  mat-typography-level(18px, 24px, 600, $wm-font-family),
  body-2:        mat-typography-level(18px, 24px, 500, $wm-font-family),
  body-1:        mat-typography-level(16px, 24px, 500, $wm-font-family),
  caption:       mat-typography-level(12px, 20px, 400, $wm-font-family),
  button:        mat-typography-level(16px, 20px, 500, $wm-font-family),
  input:         mat-typography-level(inherit, 1.125, 400, $wm-font-family),

  // Application specific typography values
  logo:          mat-typography-level(22px, 24px, 600, $wm-font-family),
  social:        mat-typography-level(22px, 24px, 600, $wm-font-family),
  footnote:      mat-typography-level(16px, 20px, 400, $wm-font-family),
  toc:           mat-typography-level(18px, 24px, 500, $wm-font-family),
);

// Define the main theme palettes.
$wm-primary: mat-palette($mat-blue);
$wm-accent:  mat-palette($mat-indigo, A200, A100, A400);
$wm-warn:    mat-palette($mat-red);

// Custom background palette
$wm-theme-background: (

  // Angular Material standard values
  status-bar:             white,
  app-bar:                white,
  background:             white, //map-get($mat-grey, 50),
  hover:                    rgba(black, 0.04),
  card:                   white,
  dialog:                 white,
  disabled-button:          rgba(black, 0.12),
  raised-button:          white,
  focused-button:           $dark-focused,
  selected-button:          map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle:   map_get($mat-grey, 200),
  unselected-chip:          map_get($mat-grey, 300),
  disabled-list-option:     map_get($mat-grey, 200),

  // Application specific background values
  inline-code:              mat-color($mat-grey, 200),
  block-code:               mat-color($mat-grey, 400),
  table-row:              rgba(0,0,0,0.03),
  edit-box:                 rgba(mat-color($mat-blue, 900), 0.8),
);

// Custom foreground palette
$wm-theme-foreground: (

  // Angular Material standard values
  base:              mat-color($wm-primary, 900),
  divider:           $dark-dividers,
  dividers:          $dark-dividers,
  disabled:          $dark-disabled-text,
  disabled-button:   rgba(mat-color($wm-primary, 900), 0.26),
  disabled-text:     $dark-disabled-text,
  hint-text:         $dark-disabled-text,
  secondary-text:    $dark-secondary-text,
  icon:              mat-color($wm-primary),
  icons:             mat-color($wm-primary),
  text:              rgba(mat-color($wm-primary, 900), 0.87),
  slider-min:        rgba(mat-color($wm-primary, 900), 0.87),
  slider-off:        rgba(mat-color($wm-primary, 900), 0.26),
  slider-off-active: rgba(mat-color($wm-primary, 900), 0.38),

  // Application specific foreground values
  contrast:          white,
  blockquote:        rgba(mat-color($mat-grey, 600), 0.87),
  inline-code:       mat-color($mat-red, 800),
  code:              rgba(black, 0.87),
  table:             $dark-dividers,
  toc-delimiter:     $dark-dividers,
  edit-box:          rgba(white, 0.8),
);

@function wm-app-theme($primary, $accent, $warn) {
  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: false,
    foreground: $wm-theme-foreground,
    background: $wm-theme-background,
  );
}

// Helper to dig into themes
@function mat-theme-get($config, $level, $name) {
  @return map-get(map-get($config, $level), $name);
}

// Create the customized theme
$wm-theme: wm-app-theme($wm-primary, $wm-accent, $wm-warn);

// Defines an additional mat-link class to decorate links diviating
// from the strict rules of material design for the sake of clarity
.mat-link {
  cursor: pointer;
  color: mat-color($wm-primary) !important;
  text-decoration: underline;
}

// Initilize the global application theme
@mixin wm-init-application-theme($typography, $theme) {

  // Includes the core theme indepeneted material style
  @include mat-core($typography);

  // Include all the material theme styles
  @include angular-material-theme($theme);
 
  // Adds custom application specific style extensions
  a {
    &[mat-link] {
      @extend .mat-link;
    }
  }

  // Makes sure the content of mat-list is hidden when overflow globally
  mat-list { overflow: hidden;}

  // Resets the default mat-menu padding
  .mat-menu-content { padding: 0 !important;}

  // Resets the default menu typography to buttons
  .mat-menu-item {
    font: {
      family: mat-font-family($wm-typography, button);
      size:   mat-font-size($wm-typography, button);
      weight: mat-font-weight($wm-typography, button);
    }
    // Restores the same $mat-menu-icon-margin value
    wm-icon { padding-right: 16px;}
  }

  // Defines a global class to resets dialog container's padding on request
  // to be used in MatDialogConfig.panelClass when needed
  .mat-dialog-reset { mat-dialog-container { padding: 0;} }

  // Applies material typography rules globally
  body {
    @extend .mat-typography;
  }
}
