@import 'variables';
@import 'theme';

:host {
  display: block;
  // Uses the "warning" color palette
  background-color: mat-color($wm-warn, 50);
  color: mat-color($wm-warn, 600);

  .error {
    text-align: center;
  }
}
