@import "src/variables";
@import "src/theme";

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding-top: $wm-content-padding;
  
  & > header {
    margin: 0 $wm-content-margin;
  }
}

mat-grid-list {
  margin: 32px;
}
