<header fxLayout="column">
  <h1 fxHide.lt-sm>{{ msgs.title }}</h1>
  <h2 fxHide fxShow.lt-sm>{{ msgs.title }}</h2>
  <p fxHide.lt-sm>{{ msgs.description }}</p>
</header>

<mat-accordion>

  <!-- PROFILE PANELS -->
  <mat-expansion-panel *ngFor="let panel of msgs.panels; let i = index" 
                      [expanded]="panel.expanded" (closed)=panelClose(i)>

    <!-- PANEL HEADER -->
    <mat-expansion-panel-header fxLayoutAlign="space-between center">
      <mat-panel-title>{{panel.title}}</mat-panel-title>
      <mat-panel-description fxLayoutAlign="end center"> 
        <wm-icon [icon]="panel?.icon">"</wm-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- USER IMAGE -->
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="panel.userImage">
      <button mat-button class="user" (click)="selectImage()">
        <wm-avatar [src]="userImage"></wm-avatar>
      </button>
    </div>

    <mat-divider></mat-divider>

    <!-- PANEL ITEM LIST -->
    <mat-list>

      <wm-user-item *ngFor="let field of panel.fields"
                       [name]="field.key"
                       [label]="field.label"
                       [icon]="field.icon"
                       [hint]="field.hint"
                       [type]="field.type"
                       [value]="profileValue(field.key)"
                       [options]="profileOptions(field.key)"
                       [validators]="profileValidators(field.key)"
                       [editable]="profileEditable(field.key)"
                       (editDone)="updateUserProfile(field.key, $event)">
      </wm-user-item>

    </mat-list>

    <!-- ACTION BUTTONS or LINKS -->
    <mat-action-row fxLayout="row" fxLayout.lt-sm="column" *ngIf="panel.buttons || panel.applyChanges">

      <ng-container *ngFor="let btn of panel.buttons">

        <button *ngIf="btn.action" 
                 mat-button color="primary" 
                 (click)="action(btn.action)"
                 [disabled]="disabled(btn.action)">
          {{btn.caption}}
        </button>

      </ng-container>

      <!-- APPLY CHANGES BUTTON -->
      <button mat-button *ngIf="panel.applyChanges"
                          color="primary" 
                         [disabled]="!itemChanges"
                         (click)="applyAllItemChanges()">
        {{panel.applyChanges}}
      </button>

    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>
