
<div fxLayout="row" *ngIf="display === 'page'">

  <!-- Renders the markdown document whenever the display mode is 'page' (default) -->
  <wm-markdown fxFlex="80%" fxFlexOffset="10%"
               fxFlex.lt-sm="100%" fxFlexOffset.lt-sm="0" 
               [data]="document" (navigate)="navigatePage($event)">
  </wm-markdown>
</div>

<!-- Popup dialog version template -->
<ng-template #popupTemplate>

  <!-- Fits the content into a popup dialog -->
  <mat-dialog-content #popupContent>
    
    <!-- Renders the document body -->
    <wm-markdown [data]="document" (navigate)="navigatePopup($event)">
    </wm-markdown>

  </mat-dialog-content>
  
  <!--mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">
      {{ msgs.buttons?.ok }}
    </button>
  </mat-dialog-actions-->

</ng-template>
