@import "src/variables";
@import "src/theme";

:host {
 	cursor: pointer;
}

.logo {
  //left: 0;
  //top: 0;
  //display: inline-block;
  //position: absolute;

  width: $wm-logo-size;
  height: $wm-logo-size;
  fill: mat-color($wm-primary, A400);
}
/*
span {
  line-height: 60px;
}*/