
<!--*** VIEW MODE template **********************************-->
<mat-list-item *ngIf="!edit" (click)="editMode()" @slideout>

  <wm-icon mat-list-icon *ngIf="icon" [icon]="displayIcon"></wm-icon>
  
  <p mat-line>{{ label }}</p>
  <p mat-line>{{ displayValue }}</p>
  <mat-icon *ngIf="editable">navigate_next</mat-icon>
  
</mat-list-item>

<!--*** EDIT MODE template **********************************-->
<mat-list-item *ngIf="edit" @slidein>

  <wm-icon mat-list-icon *ngIf="icon" [icon]="displayIcon"></wm-icon>
  
  <p mat-line></p>

  <form mat-line [formGroup]="form" (ngSubmit)="updateControl()">
    <ng-container [ngSwitch]="type">

      <!-- type: INPUT -->
      <mat-form-field *ngSwitchDefault appearance="legacy" fxFill>

        <mat-label>{{ label }}</mat-label>
        
        <input matInput formControlName="control">

        <button mat-icon-button matSuffix type="submit">
          <mat-icon>save</mat-icon>
        </button>

        <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
        <mat-error *ngIf="control.errors" >{{ errorMessage }}</mat-error>
      
      </mat-form-field>

        <!-- type: DATE -->
      <mat-form-field *ngSwitchCase="'date'" appearance="legacy" fxFill>
        
        <mat-label>{{ label }}</mat-label>

        <input matInput formControlName="control" [matDatepicker]="picker">

        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [touchUi]="mobile" #picker></mat-datepicker>

        <button mat-icon-button matSuffix type="submit">
          <mat-icon>save</mat-icon>
        </button>

        <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
        <mat-error *ngIf="control.errors" >{{ errorMessage }}</mat-error>
      
      </mat-form-field>

      <!-- type: SELECT -->
      <mat-form-field *ngSwitchCase="'select'" appearance="legacy" fxFill>
        
        <mat-label>{{ label }}</mat-label>

        <mat-select formControlName="control">
          <mat-option *ngFor="let option of options" [value]="option.value || option">
            {{ option.label || option }}
          </mat-option>
        </mat-select>

        <button mat-icon-button matSuffix type="submit">
          <mat-icon>save</mat-icon>
        </button>

        <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
        <mat-error *ngIf="control.errors" >{{ errorMessage }}</mat-error>
      
      </mat-form-field>
    </ng-container>

  </form>
  
</mat-list-item>
