
<ng-container *ngIf="signedIn; else public">

  <!-- PRIVATE MENU for Signed in users -->
  <mat-nav-list fxLayout="column" fxLayoutAlign="start center">

    <a mat-list-item *ngFor="let item of menu.private" 
                      [routerLink]="item.link"
                      [queryParams]="item.params">
      {{item.label}}
    </a>
    
  </mat-nav-list>

</ng-container>

<ng-template #public>

  <!-- PUBLIC MENU for visitors -->
  <mat-nav-list fxLayout="column" fxLayoutAlign="start center">

    <a mat-list-item *ngFor="let item of menu.public" 
                      [routerLink]="item.link"
                      [queryParams]="item.params">
      {{item.label}}
    </a>

  </mat-nav-list>

</ng-template>