
:host {

  position: relative;
  display: block;
  width: 100%;
  
  // foregroung article max-width is locked to the viewport width by a directive forcing
  // its content to scroll horizontally (especially code blocks) despite the element is
  // relatively positioned
  .foreground {
    position: relative;
    display: block;
    width: 100%;
    padding: 5vw;
    box-sizing: border-box;
  }
}