
<!-- Gets the localized content, enables anchor scrolling and position restoration while reporting the page name with gtag -->
<ng-container *wmContent="let msgs select 'static'" scrollPositionRestoration="enabled" anchorScrolling="enabled" gtag="static" [path]="path$ | async">

  <!-- Checks for an optional Table Of Contents -->
  <ng-container *ngIf="msgs.toc as toc">

    <!-- Teleports the TOC into the side panel -->
    <ng-template wmSidenav [opened]="!!tocItem && openTOC" (openedChange)="openTOC = $event" let-mobile="isMobile">

      <!-- Renders the Table Of Content -->
      <div [wm-toc]="toc.items" 
           [path]="path$ | async" 
           [color]="msgs.color || 'primary'"
           (navigate)="navigate($event)"
           (selectedChange)="tocChanged($event, mobile)"></div>

    </ng-template>

    <!-- Displays the toc button as a fab button on large screens -->
    <ng-template wmFab side="left" edge="top" let-mobile="isMobile" *ngIf="!!tocItem">

      <button mat-icon-button class="mat-elevation-z2 background-color" 
              [color]="msgs.color || 'primary'" 
              [matTooltip]="toc.tooltip || 'Table of contents'" 
              (click)="openTOC = !openTOC" 
              *ngIf="!mobile">
        <wm-icon [icon]="toc.icon || 'toc'"></wm-icon>
      </button>

    </ng-template>

    <!-- Displays the toc button as an action button on small screens -->
    <ng-template wmActionbar let-mobile="isMobile" *ngIf="!!tocItem">

      <button mat-icon-button [color]="msgs.color || 'primary'" (click)="openTOC = !openTOC" *ngIf="mobile">
        <wm-icon [icon]="toc.icon || 'toc'"></wm-icon>
      </button>

    </ng-template>

  </ng-container>

</ng-container>

<!-- Foreground content having the width locked to the viewport width despite is relatively positioned -->
<article class="foreground" wmAnimate="fadeIn" speed="faster" [replay]="body$ | async" lockMaxWidth>

  <!-- Renders the markdown document body -->
  <section [wm-markdown]="body$ | async" (navigate)="navigate($event)" #body></section>

  <!-- Renders the footnotes, if any -->
  <section *ngIf="body.notes.length > 0">

    <mat-divider></mat-divider>
    
    <div *ngFor="let note of body.notes; index as i">
      {{ i + 1 }} - <span [wm-markdown]="note" inline></span>
    </div>
  
  </section>

</article>
