
<!-- Loops on children nodes -->
<ng-container *ngFor="let node of node?.content">

  <ng-container [ngSwitch]="node.type">

    <!-- Plain text -->
    <span *ngSwitchCase="'text'" [id]="node.id" #el>{{ node.render(el) }}</span>  

    <!-- Bold -->
    <b *ngSwitchCase="'bold'" [wm-content]="node"></b>

    <!-- Italic -->
    <i *ngSwitchCase="'italic'" [wm-content]="node"></i>

    <!-- Underline -->
    <u *ngSwitchCase="'underline'" [wm-content]="node"></u>

    <!-- Delete -->
    <del *ngSwitchCase="'delete'" [wm-content]="node"></del>

    <!-- Link -->
    <a *ngSwitchCase="'link'" [href]="node.url" (click)="navigateUrl($event, node.url)" [wm-content]="node"></a>

    <!-- Sub-script -->
    <sub *ngSwitchCase="'sub'" [wm-content]="node"></sub>

    <!-- Super-script -->
    <sup *ngSwitchCase="'sup'" [wm-content]="node"></sup>

    <!-- Line break -->
    <br *ngSwitchCase="'break'" />

    <!-- Recurs to next level -->
    <!--span *ngSwitchDefault [wm-content]="node"></span-->

  </ng-container>

</ng-container>
