:host {
  outline: none;
  & * { outline: none };

  u {
    text-decoration: underline;
  }

  span { 
    white-space: pre-wrap;

  //&:empty{ content: ' ';}
  /*  
    &::after {
      display: inline-block;
      box-sizing: border-box;
      content: ' ';
    }*/
  }
}
