
<!-- Loops on text/link elements -->
<ng-container *ngFor="let child of node?.content">

  <!-- Renders a text node -->
  <span *ngIf="child.type === 'text'" [id]="child.id" [ngStyle]="style(child)" #txt>{{ child.render(txt) }}</span>

  <!-- Renders a link node -->
  <a *ngIf="child.type === 'link'" [id]="child.id" [routerLink]="child.url" #lnk>{{ child.render(lnk) }}</a>

  <!-- Recurs to render a link node -->
  <!--a *ngIf="child.type === 'link'" [routerLink]="child.url" [wm-editable]="child"></a-->

</ng-container>
