
<!-- Gets the localized content, enables scroll position restoration -->
<ng-container *wmContent="let settigns select 'settings' or defaultSettings" scrollPositionRestoration="top">

  <!-- Navigation menu (on the left) -->
  <mat-nav-list fxLayout="column" fxLayoutAlign="start end"> 

    <wm-router-inkbar side="left" color="primary">

      <a mat-list-item *ngFor="let page of settigns" 
          class="mat-body"
          [routerLink]="page.link" 
          [queryParams]="page.params" 
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkInkbar>

        <wm-icon matListIcon fxHide fxShow.lt-sm [icon]="page.icon"></wm-icon>

        <span fxHide.lt-sm>{{ page.label }}</span>
        
      </a>

    </wm-router-inkbar>

  </mat-nav-list>

</ng-container>

<!-- Divider -->
<mat-divider vertical></mat-divider>

<!-- Child page (on the right) -->
<div fxLayout="row" fxFlex="60%" fxFlex.lt-md="100%">

  <div fxFlex="1 1 auto" class="margins">
    <router-outlet></router-outlet>
  </div>

</div>