@import "src/theme";

$wm-footer-height: 64px !default;
/*
mat-select.mat-select-trigger.mat-select-value {
  color: #FF0000 !important;
}
*/
footer {
  min-height: $wm-footer-height;
  width: 100%;
  padding: 0 32px;
  
  color: mat-color($wm-mat-primary,400);
  background-color: mat-contrast($wm-mat-primary,400);
}

mat-icon {
  font-size: 24px;
}

