@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding-top: $wm-content-padding;
  margin: 0 $wm-content-margin;
}

/*
:host {
  position: absolute;
  width: 100%;
  height: 100%;
  
  @include ut-gradient($ut-oxford, $ut-navy);
}

.content {
	@extend .justify-content-center;
  @extend .align-items-center;

	color: $ut-oxford;
	background: $ut-white;
  
  height: calc(100vh - 200px);
	overflow: hidden;
}

.separator 
 {
  display: block;
  path {
    fill: $ut-white;
    stroke: $ut-white;
  }
}
*/

