<!--div class="d-flex flex-column"--><!-- extra flexbox to fix IE vertical alignement issue -->

  <!--svg class="separator" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
  </svg>

  <section class="d-flex flex-column content">

      <div class="d-flex flex-column">
        <button class="btn btn-linkedin" (click)="join()">
          <span class="fa fa-linkedin"></span> Join with Linkedin
        </button> 
      </div>
  </section>

  <svg class="separator" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
	  <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
	</svg>
</div-->
<h1>Join</h1>