
@mixin wm-avatar-theme($theme) {

  .wm-avatar {
    
    $background: map-get($theme, background);
    
    border: 2px solid map-get($background, background);
    background-color: map-get($background, background);
    
    @each $color in ('primary', 'accent', 'warn') { 

      $palette: map-get($theme, #{$color});
      &[color=#{$color}] { fill: mat-color($palette); }
    }
  }
}
