@import "theme";

:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  svg, img {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border: 2px solid white;
    border-radius: 50%;
    box-sizing: border-box;
  }

  svg {
    // Sets opacity of both background and foreground, so, the latter 
    // will results being the sum of both
    #background, #foreground { 
      opacity: 0.25; 
    }

    // Both background and foreground are semi-transparent
    // due to the previous opacity rules
    fill: mat-color($wm-primary);

    // Underlying background is white
    background-color: white;
  }
}
