@import "theme";

$wm-avatar-size: 40px !default;

:host {
  position: relative;
  display: block;
  width: $wm-avatar-size;
  height: $wm-avatar-size;
  min-width: $wm-avatar-size;
  min-height: $wm-avatar-size;
  line-height: $wm-avatar-size;
}

.avatar {
  display: inline-block;
  width: 100%;
  height: 100%;
  
  border: 2px solid white;
  border-radius: 50%;
  box-sizing: border-box;
  
  // Sets opacity of both background and foreground, so, the latter 
  // will results being the sum of both
  #background, #foreground { 
    opacity: 0.33; 
  }
  
  // Both background and foreground are semi-transparent
  // due to the previous opacity rules
  fill: mat-color($wm-primary);

  // Underlying background is white
  background-color: white;
}