
<ng-container *wmContent="let msgs select 'profile.photo'">

  <label class="label mat-small">{{ msgs.label || 'Profile picture' }}</label>

  <div class="frame">

    <!-- Displays the image as an Avatar -->
    <wm-avatar color="primary" shape="squared" [src]="photo"></wm-avatar>

    <button mat-icon-button class="buttons" (click)="delete.emit()" *ngIf="!!photo; else uploadBtn">
      <wm-icon [icon]="msgs.delete?.icon || 'delete'"></wm-icon>
    </button>

    <ng-template #uploadBtn>

      <wm-openfile accept="image/*" (files)="upload($event)">

        <button mat-icon-button class="buttons">
          <wm-icon [icon]="msgs.upload?.icon || 'cloud_upload'"></wm-icon>
        </button>

      </wm-openfile>

    </ng-template>

  </div>

</ng-container>