@import "variables";
@import "theme";

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;

  padding: $wm-content-padding 0;
  margin: 0 $wm-content-margin;

  @include wm-padding-top($wm-content-padding);
}