<ng-content></ng-content>

<ng-template #template>

  <mat-dialog-content *ngIf="user">

    <!-- Cover -->
    <div class="cover primary background-color-lighter">
      <!-- Cover picture -->
      <!--img *ngIf="user.cover" [src]="user.cover" (error)="user.cover = null" /-->

      <!-- Options menu -->
      <!--button mat-icon-button class="menu" [matMenuTriggerFor]="options">
        <mat-icon class="shade">more_horiz</mat-icon>
      </button-->
    </div>

    <!-- Content --> 
    <div fxLayout="column" fxLayoutAlign="start center" class="content">
      <!-- User picture -->
      <div class="overlap">
        <wm-avatar [src]="user.img" color="primary"></wm-avatar>
      </div>
      <!-- User info -->
      <div class="name mat-subheading-2">{{ user.name }}</div>
      <div class="motto mat-small">{{ user.motto }}</div>

      <!-- Buttons -->
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-button>
          <mat-icon class="shade">email</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="shade">list</mat-icon>
        </button>
        <button mat-button>
          <mat-icon class="shade">favorite</mat-icon>
        </button>
      </div>      
    </div>

 </mat-dialog-content>

</ng-template>
