
<!--mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar-->

<!-- Project header -->
<wm-project-header [project]="project"></wm-project-header>  
<mat-divider></mat-divider>

<!-- Hidden cover picture loader -->
<wm-uploads #uploads></wm-uploads>

<!-- Document body -->
<div fxLayout="row" fxLayoutAlign="space-between strech">

  <div fxFlex="1 1 auto">

    <!-- Renders the table of contents on top on small screens -->
    <wm-markdown class="table-of-contents" display="toc" [data]="document" fxHide fxShow.lt-sm>
      <h2>{{ msgs.tableOfContents }}</h2>
    </wm-markdown>

    <!-- Renders the documetn body -->
    <wm-markdown [data]="document" (rendered)="mdUpdated()">
    </wm-markdown>
  
    <!-- Renders the footnotes at the end -->
    <wm-markdown class="footnotes" display="footnotes" [data]="document">
      <h4>{{ msgs.footnotes }}</h4>
    </wm-markdown>

  </div>

  <!-- Renders the table of contents by side on big screens -->
  <div fxFlex="0 0 auto" fxHide.lt-sm>
    <wm-markdown class="table-of-contents sticky" display="toc" [data]="document">
      <h3>{{ msgs.tableOfContents }}</h3>
    </wm-markdown>
  </div>

  <!-- Displays the crystal edit overlay when in editMode -->
  <wm-crystal-edit [(value)]="document" 
    [save]="saved" 
    (scroll)="onEditScroll($event)"
    (done)="leaveEditMode()" *ngIf="editMode">
  </wm-crystal-edit>
  
</div>
