@import "src/variables";
@import "src/theme";

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding-top: $wm-content-padding;
  
  //& > header {
    margin: 0 $wm-content-margin;
  //}
}

.table-of-contents {
  border-left: 3px solid map-get($wm-theme-foreground, divider);
  margin: 10px 0 10px 10px;
  padding: 5px 0 10px 10px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
}