
<!-- Localized content -->
<ng-container *wmContent="let msgs select 'apply'">

  <!-- Action Bar (projected in the top toolbar) -->
  <ng-template wmActionbar>
    <ng-container *ngIf="msgs.actions || {} as actions">
      
      <wm-action color="primary" [icon]="actions.clear?.icon || 'delete_forever'" [disabled]="!application" (activate)="dlgClear.open()">
        {{ actions.clear?.caption || 'Clear Application' }}
      </wm-action>

    </ng-container>

    <!-- Can Clear confirmation dialog -->
    <wm-dialog (closedChange)="!!$event && clearApplication()" #dlgClear>

      <ng-container *ngIf="msgs.canClear || {} as clear">
  
        <h2 mat-dialog-title><b>{{ clear.title || 'Unsaved changes' }}</b></h2>
  
        <mat-dialog-content [wm-readme]="clear.message">
          Are you sure you want to clear the unsaved application?
        </mat-dialog-content>
      
        <mat-dialog-actions align="end">
          <button mat-button color="primary" (click)="dlgClear.close(false)" cdkFocusInitial>{{ clear.cancel || 'Abort' }}</button>
          <button mat-button color="warn" (click)="dlgClear.close(true)">{{ clear.ok || 'Proceed' }}</button>
        </mat-dialog-actions>
  
      </ng-container>
  
    </wm-dialog>
  
  </ng-template>

  <!-- Page Body -->
  <header fxLayout="column">
    <h1 fxHide.lt-sm>{{ msgs.title }}</h1>
    <h2 fxHide fxShow.lt-sm>{{ msgs.title }}</h2>
    <div fxHide.lt-sm>
      <p *ngIf="welcomeBack" @fadeIn>{{ msgs.welcomeBack }}</p>
      <p *ngIf="!welcomeBack" @fadeIn>{{ msgs.description }}</p>
    </div>
  </header> 

  <mat-vertical-stepper [selectedIndex]="stepIndex" linear #stepper>

    <mat-step [stepControl]="headerForm">

      <!-- NAME step: here we create a new project -->
      <form [formGroup]="headerForm" (ngSubmit)="draftApplication()">

        <ng-template matStepLabel>{{ msgs.header?.title }}</ng-template>
        
        <p class="mat-small">{{ msgs.header?.description }}</p>

        <!-- NAME INPUT -->
        <mat-form-field appearance="legacy" fxFill>

          <mat-label>{{ msgs.header?.name?.label }}</mat-label>
          <input matInput formControlName="name">
          
          <mat-hint>{{ msgs.header?.name?.hint }}</mat-hint>
          <mat-error *ngIf="headerForm.controls['name']?.errors" >
            {{ errorMessage(headerForm.controls['name'].errors, msgs.header?.name?.errors) }}
          </mat-error>
        </mat-form-field>

        <div class="bit-of-space"></div>

        <!-- ELEVETOR PITCH TEXT -->
        <mat-form-field appearance="legacy" fxFill>

          <mat-label>{{ msgs.header?.pitch?.label }}</mat-label>
          <textarea matInput formControlName="pitch" [rows]="msgs.header?.pitch?.rows || 3" 
                                                    [maxlength]="msgs.header?.pitch?.max || 180">
          </textarea>
          
          <mat-hint>{{ msgs.header?.pitch?.hint }}</mat-hint>
          <mat-error *ngIf="headerForm.controls['pitch']?.errors" >
            {{ errorMessage(headerForm.controls['pitch'].errors, msgs.header?.pitch?.errors) }}
          </mat-error>
        </mat-form-field>

        <div class="bit-of-space">
          <button mat-button matStepperNext type="submit">{{ msgs.buttons?.next }}</button>
        </div>
      </form>
        
    </mat-step>

    <!-- QUESTION steps: here the list of questions dynamically build into the stepper  -->
    <mat-step *ngFor="let question of msgs.questions; let i=index" [stepControl]="stepForms[i]">
    
      <form [formGroup]="stepForms[i]" (ngSubmit)="updateApplication(i)">

        <ng-template matStepLabel>{{ question.title }}</ng-template>
          
        <p class="mat-small">{{ question.description }}</p>

        <ng-container *ngFor="let field of question.fields; let j=index">

          <ng-container [ngSwitch]="field.type">

            <!-- INPUT -->
            <mat-form-field *ngSwitchDefault appearance="legacy" fxFill>
              
              <mat-label>{{ field.label }}</mat-label>
              <input matInput [formControlName]="field.name">
              <mat-hint *ngIf="field.hint">{{ field.hint }}</mat-hint>
              <mat-error *ngIf="stepForms[i].controls[field.name]?.errors">
                {{ errorMessage(stepForms[i].controls[field.name].errors, field.errors) }}
              </mat-error>
            </mat-form-field>

            <!-- TEXTAREA -->
            <mat-form-field *ngSwitchCase="'textarea'" appearance="legacy" fxFill>
              
              <mat-label>{{ field.label }}</mat-label>
              <textarea matInput [formControlName]="field.name" [rows]="field.rows || 5" ></textarea>
              <mat-hint *ngIf="field.hint">{{ field.hint }}</mat-hint>
              <mat-error *ngIf="stepForms[i].controls[field.name]?.errors">
                {{ errorMessage(stepForms[i].controls[field.name].errors, field.errors) }}
              </mat-error>
            </mat-form-field>

            <div class="bit-of-space" *ngIf="j < question.fields.length - 1">
            </div>

          </ng-container>
        </ng-container>

        <div class="bit-of-space">
          <button mat-button matStepperPrevious type="button">{{ msgs.buttons?.back }}</button>
          <button mat-button matStepperNext type="submit">
            {{ msgs.buttons?.next }}
          </button>
        </div>
      </form>
    </mat-step>

    <!-- SUBMIT w/ DISCLAIMER -->
    <mat-step *ngIf="msgs.appSubmit as submit">
      <ng-template matStepLabel>{{ submit.title }}</ng-template>
      
      <div fxLayout="row" fxLayoutAlign="center center" fxFill>
        <div class="disclaimer">
          <p [wm-readme]="submit.description"></p>
          <p class="mat-small" [wm-readme]="submit.disclaimer"></p>

          <!-- Agree checkbox -->
          <div fxLayout="row" fxLayoutAlign="center center" fxFill>
            <mat-checkbox labelPosition="before" color="primary" #agree>
              <span [wm-readme]="submit.agree"></span>
            </mat-checkbox>
          </div>
        </div>
      </div>

      <!-- Progress bar -->
      <mat-progress-bar *ngIf="progress" class="bit-of-space" mode="indeterminate"></mat-progress-bar>

      <!-- Apply button -->
      <div *ngIf="!progress" class="bit-of-space" fxLayout="row" fxLayoutAlign="center center">
        <button mat-flat-button color="primary" type="button" 
                [disabled]="!agree.checked" 
                (click)="submitProject()">
          {{ msgs.buttons?.apply }}
        </button>
      </div>

    </mat-step>
        
  </mat-vertical-stepper>

  <!-- Can Leave dialog -->
  <wm-dialog [dontLeave]="!!application">

    <ng-container *ngIf="msgs.canLeave || {} as leave">

      <h2 mat-dialog-title><b>{{ leave.title || 'Unsaved changes' }}</b></h2>
    
      <mat-dialog-content [wm-readme]="leave.message">
        You're about to leave the page without saving the latest changes.<br>Please confirm.
      </mat-dialog-content>
    
      <mat-dialog-actions align="end">
        <button mat-button color="warn" [mat-dialog-close]="false" cdkFocusInitial>{{ leave.cancel || 'Abort' }}</button>
        <button mat-button color="primary" [mat-dialog-close]="true">{{ leave.ok || 'Proceed' }}</button>
      </mat-dialog-actions>

    </ng-container>
  
  </wm-dialog>

</ng-container>