@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding: $wm-content-padding 0;
  margin: 0 $wm-content-margin;
}

p {
  text-align: justify;
}
