
<!-- Localized content -->
<ng-container *wmContent="let msgs select 'explore-people'" gtag="people">

  <!-- User's search form -->
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" autocomplete="off" cdkTrapFocus cdkTrapFocusAutoCapture>

    <mat-form-field>

      <mat-label>{{ msgs.search?.label || 'Search' }}</mat-label>
      
      <wm-icon matPrefix [icon]="msgs.search?.icon || 'search'"></wm-icon>
      
      <input matInput name="name" [ngModel]="name" (ngModelChange)="search$.next(name = $event)" cdkFocusInitial #formName="ngModel">

      <mat-hint>{{ msgs.search?.hint || 'Type the name to search for' }}</mat-hint>
  
    </mat-form-field>

  </form>

  <!-- Search result list -->
  <mat-action-list>

    <mat-list-item *ngFor="let item of items$ | async; trackBy: trackById" [routerLink]="['/', '@' + item.userName]">

      <wm-avatar matListAvatar [src]="item.photo" color="primary"></wm-avatar>

      <h3 matLine [wm-highlight]="item.fullName || item.name" [pattern]="highlight" color="accent"></h3>
      
      <p matLine>{{ item.bio || item.motto }}</p>

    </mat-list-item>

    <!-- Loading skeleton items -->
    <mat-list-item *ngFor="let item of loading$ | async">
  
      <wm-avatar matListAvatar class="skeleton-loading"></wm-avatar>
      
      <h3 matLine class="skeleton-loading text"><span></span></h3>
      
      <p matLine class="skeleton-loading text"><span></span></p>
  
    </mat-list-item>
    
  </mat-action-list>
  
</ng-container>
