@import 'theme';
@import 'variables';

.highlight {
  background-color: mat-color($wm-primary, A400);
  color: mat-contrast($wm-primary, A400);
}

mat-toolbar-row {
  padding: 0 $wm-content-padding;
}

* {
  &[margin="right"] {
    margin-right: 10px;
  }
  &[margin="left"] {
    margin-left: 10px;
  }
}
