
<!-- Renders the action buttons -->
<ng-container *ngTemplateOutlet="actionBar; context: { buttons: buttons, menu: false }"></ng-container>

<ng-template let-buttons="buttons" let-menuItem="menu" #actionBar>

  <ng-container *ngFor="let button of buttons">

    <!-- ACTION MENU -->
    <ng-container *ngIf="button.menu">
      <mat-menu overlapTrigger="false" #menu>
        <ng-container *ngTemplateOutlet="actionBar; context: { buttons: button.menu, menu: true }"></ng-container>
      </mat-menu>
      
      <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" @fadeIn>
        <wm-icon icon="more_vert"></wm-icon>
      </button>
    </ng-container>

    <!-- ACTION BUTTON, LINK or MENU-ITEM-->
    <wm-toolbar-action [menu]="menuItem" [action]="button" (activate)="performAction($event)">
    </wm-toolbar-action>

  </ng-container> 

</ng-template>
