
:host {
  display: block;
  position: relative;
  * { vertical-align: middle; }
}
/*
:host {

  .fake-button {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
  
    //padding: 0 16px;
    min-width: 56px;//88px;
    line-height: 36px;
    
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    & > * { vertical-align: middle;}
  }
}
*/