
<ng-container *wmContent="let msgs select 'chat'">

  <section fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start center">

    <div class="message out">

      <wm-balloon side="left" color="primary" class="mat-elevation-z3">

        <span wm-emoji-text="Fake message out"></span>

      </wm-balloon>

    </div>

    <div class="message" [ngClass]="even ? 'out' : 'in'" *ngFor="let msg of messages;let even = even">

      <wm-balloon [side]="even ? 'left' : 'right'" [color]="even ? 'primary' : 'accent'" class="mat-elevation-z3">

        <span [wm-emoji-text]="msg"></span>

      </wm-balloon>

    </div>

    <br><br>

  </section>

  <wm-composer fxFlex="0 0 auto" [(value)]="text" [keys]="keys" (send)="send($event)"></wm-composer> 

  <!-- Can Leave dialog -->
  <wm-dialog [dontLeave]="!!text"> 

    <ng-container *ngIf="msgs.canLeave || {} as leave">

      <h2 mat-dialog-title><b>{{ leave.title || 'Unsent message' }}</b></h2>
    
      <mat-dialog-content [wm-readme]="leave.message">
        You're about to leave the page without sending the last message.<br>Please confirm.
      </mat-dialog-content>
    
      <mat-dialog-actions align="end">
        <button mat-button color="warn" [mat-dialog-close]="false" cdkFocusInitial>{{ leave.cancel || 'Wait' }}</button>
        <button mat-button color="primary" [mat-dialog-close]="true">{{ leave.ok || 'Proceed' }}</button>
      </mat-dialog-actions>

    </ng-container>

  </wm-dialog>

</ng-container>

