
:host {

  position: relative;
  display: flex;
  flex-flow: column;
  
  wm-emoji-input, textarea {
    word-break: break-all;
  }

  .message {
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;

    &.in { 
      
      justify-content: flex-end; 
      & + .in { margin-top: 2px; }
      & + .out { margin-top: 12px; }  
    }
    
    &.out { 

      justify-content: flex-start; 
      & + .out { margin-top: 2px; }
      & + .in { margin-top: 12px; }  
    }
  }
}