
:host {

  display: block;
  position: relative;

  .mat-radio-group {
    margin: 8px;
  }

  .wm-emoji-input, textarea {
    line-height: 1.5em;
    word-break: break-all;
  }

  .debug {
    word-break: break-all;
  }

  .mat-form-field, .wm-emoji-text {
    width: 400px;
    max-width: 90%
  }

  .wm-emoji-keyboard {
    width: 400px;
    max-width: 100%
  }
}
