

:host {
  position: relative;
  
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch; 
  box-sizing: border-box;

  margin-top: 5px;

  wm-emoji-input, textarea {
    word-break: break-all;
  }

  .mat-icon-button {
    margin-bottom: 10px;
  }
}