
:host {
  
  .stories {

    .row {

      .cell {

        padding: 8px;

        .content {

          width: 100%;
          height: 100%;
          padding: 16px;
          text-align: center;
          box-sizing: border-box;
          //border-radius: 5px;
        }
      }
    }
  }

  .spinner {
    width: 210px;
    height: 260px;
  }
}