
:host {
  //display: block;
  //position: relative;
  //box-sizing: border-box;
  
  //@include wm-padding-top($wm-content-padding);

  wm-explore-item {
    margin-bottom: 32px;
  }

  .spinner {
    width: 210px;
    height: 260px;
  }
}