
<ng-container *wmContent="let msgs select 'explore'">

  <header fxLayout="column">
    <h1 fxHide.lt-sm>{{ msgs.title }}</h1>
    <h2 fxHide fxShow.lt-sm>{{ msgs.title }}</h2>
    <p [wm-readme]="msgs.description">
      Here a list of the major features offered by Wizdm. We'll be glad to <a wmRedirect="contact">hear from you</a> for any suggestion or enquiry.
    </p>
  </header> 

  <!-- Features Matrix -->
  <section fxLayout="column" fxLayoutAlign="center center">

    <div class="row" fxLayout="row wrap" fxLayout.lt-sm="column">
  
      <div class="cell" fxFlex="33.3%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%" *ngFor="let feat of msgs.features">

        <!-- Feature Card -->
        <div class="content mat-elevation-z2" wmAnimate="pulse" speed="fast" aos>
      
          <div class="goto" [wmRedirect]="feat.reference ||'docs/missing'">

            <!-- Icon -->
            <wm-icon class="icon" [icon]="feat.icon"></wm-icon>
            
            <!-- Title -->
            <h2><b>{{ feat.title }}</b></h2>

          </div> 

          <!-- Feature description -->
          <p [wm-readme]="feat.description"></p>          

          <div *ngIf="feat.comingSoon" class="tag accent background-color-default contrast-default mat-small">{{ msgs.comingSoon }}</div>

          <div *ngIf="feat.experimental" class="tag warn background-color-default contrast-default mat-small">{{ msgs.experimental }}</div>


        </div>

      </div>
      
    </div>
  
  </section>
  
</ng-container>