@import "variables";
@import "theme";

:host {
  display: block;
  cursor: pointer;
  outline: none;
   
  // Inlcudes the application specific logo typography styles
  @include mat-typography-level-to-styles($wm-typography, logo);
}

.logo {
  width: $wm-logo-size;
  height: $wm-logo-size;
}

span {
  line-height: $wm-logo-size;
  vertical-align: middle;
}