
<ng-container *ngIf="msgs$ | async as msgs">
  
  <div class="background primary color-default"></div>

  <section fxLayout="row" fxLayoutAlign="center center" class="banner">

    <div fxFlex.gt-sm="50" fxLayout="column" fxLayoutAlign="center center" class="textbox" wmAnimate="landing" speed="slow">

      <h1 class="mat-display-1"><b>{{ msgs.title }}</b></h1>
      
      <p>{{ msgs.pitch }}</p>
      
      <button mat-raised-button color="accent" [routerLink]="msgs.action?.link">{{ msgs.action?.caption }}</button>
      
      <p [wm-disclaimer]="msgs.join" class="mat-small" (navigate)="content.navigate($event.target)"></p>
  
    </div>

    <wm-illustration fxHide.lt-sm fxFlex="50" [src]="msgs.illustration" color="primary"></wm-illustration>

  </section>

  <section class="features" fxLayout="column" fxLayoutAlign="center center">

    <div class="row" fxLayout="row wrap" fxLayout.lt-sm="column">
  
      <ng-container *ngFor="let feat of msgs.features">
    
        <div class="cell" fxFlex="33.3%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
  
          <div class="content mat-elevation-z2">

            <div *ngIf="feat.comingSoon" class="coming-soon accent background-color-default mat-small">{{ msgs.comingSoon }}</div>
  
            <wm-icon class="icon" [icon]="feat.icon"></wm-icon>
            <h2><b>{{ feat.title }}</b></h2>
            <p [wm-disclaimer]="feat.description" (navigate)="content.navigateByUrl($event.target)"></p>
  
          </div>
  
        </div>
  
      </ng-container>
      
    </div>
  
  </section>

</ng-container>