
<ng-container *wmContent="let msgs select 'home';let lang = language" gtag="home">
  
  <!-- Applies a scrolling background image to the navigator -->
  <wm-background [url]="msgs.banner" attachment="local" repeat="no-repeat" size="cover"></wm-background>

  <section fxLayout="row" fxLayoutAlign="center center" class="banner">

    <div fxFlex.gt-sm="50" fxLayout="column" fxLayoutAlign="center center" class="textbox" wmAnimate="landing" speed="slow" aos>

      <h1 class="mat-display-1"><b>{{ msgs.title || 'Get your app done right' }}</b></h1>
      
      <p [wm-readme]="msgs.pitch">
        Wizdm provides all the key features of a modern single page application ready to use.
      </p>
      
      <button mat-raised-button color="accent" [routerLink]="msgs.action?.link">{{ msgs.action?.caption || 'Get started' }}</button>
      
      <p [wm-readme]="msgs.join" class="mat-small">
        Join us and become part of the revolution of <a wmRedirect="about">Wizdm</a>
      </p>
  
    </div>

    <wm-illustration fxHide.lt-sm fxFlex="50" [src]="msgs.illustration" color="primary"></wm-illustration>

  </section>

</ng-container>