<div anchor [style.left.px]="left" [style.top.px]="top" [matMenuTriggerFor]="menu"></div>

<mat-menu #menu="matMenu">

  <!-- Text size -->
  <button mat-menu-item [matMenuTriggerFor]="sizeMenu">
    <mat-icon>format_size</mat-icon>
    <span>{{ labels.size.title }}</span>
  </button>

  <!-- Format -->
  <button mat-menu-item *ngIf="!sel.belongsTo('link')" [matMenuTriggerFor]="formatMenu">
    <mat-icon>{{ sel.style.length > 0 ? 'format_' + sel.style[0] : 'text_format' }}</mat-icon>
    <span>{{ labels.format.title }}</span>
  </button>

  <!-- Alignement -->
  <button mat-menu-item [matMenuTriggerFor]="alignMenu">
    <mat-icon>{{'format_align_' + sel.align }}</mat-icon>
    <span>{{ labels.align.title }}</span>
  </button>

  <!--mat-divider></mat-divider-->

  <!-- Link -->
  <button mat-menu-item *ngIf="!sel.belongsTo('link')" (click)="sel.link('./')">
    <mat-icon>link</mat-icon>
    <span>{{ labels.insert.link }}</span>
  </button>

  <!-- Unlink -->
  <button mat-menu-item *ngIf="sel.belongsTo('link')" (click)="sel.unlink()">
    <mat-icon>link_off</mat-icon>
    <span>{{ labels.insert.unlink }}</span>
  </button>

  <!-- Clear format -->
  <button mat-menu-item (click)="sel.clear()">
    <mat-icon>format_clear</mat-icon>
    <span>{{ labels.format.clear }}</span>
  </button>

</mat-menu>

<!-- Size -->
<mat-menu #sizeMenu="matMenu">

  <button mat-menu-item *ngFor="let level of [1, 2, 3]"
          [style.backgroundColor]="sel.level === level ? 'rgba(0,0,0,0.1)' : 'unset'"
          (click)="sel.level = level">
    <span [ngClass]="'mat-h' + level">{{ labels.size['heading' + level] }}</span>
  </button>

  <button mat-menu-item 
          [style.backgroundColor]="sel.level === 0 ? 'rgba(0,0,0,0.1)' : 'unset'"
          (click)="sel.level = 0">{{ labels.size.paragraph }}</button>

</mat-menu>

<!-- Format -->
<mat-menu #formatMenu="matMenu">

  <button mat-menu-item *ngFor="let item of formats"
          [style.backgroundColor]="hasStyle(item) ? 'rgba(0,0,0,0.1)' : 'unset'"
          (click)="sel.toggleFormat(item)">
    <mat-icon>{{'format_' + item }}</mat-icon>
    <span>{{ labels.format[item] }}</span>
  </button>

</mat-menu>

<!-- Alignement -->
<mat-menu #alignMenu="matMenu">

  <button mat-menu-item *ngFor="let item of alignements" 
          [style.backgroundColor]="item === sel.align ? 'rgba(0,0,0,0.1)' : 'unset'"
          (click)="sel.align = item">
    <mat-icon>{{'format_align_' + item }}</mat-icon>
    <span>{{ labels.align[item] }}</span>
  </button>

</mat-menu>