

<!-- Project header -->
<!--wm-project-header [project]="project"></wm-project-header-->

<!-- Document body -->
<div fxLayout="row" fxLayoutAlign="space-between strech">

  <div fxFlex="1 1 auto">

    <!-- Renders the table of contents on top on small screens -->
    <wm-document-toc class="table-of-contents" [source]="document" fxHide fxShow.lt-sm>
      <h2>{{ msgs.tableOfContents }}</h2>
    </wm-document-toc>

    <!-- Renders the documetn body -->
    <wm-document [source]="document"></wm-document>
  
  </div>

  <!-- Renders the table of contents by side on big screens -->
  <div fxFlex="0 0 auto" fxHide.lt-sm>
    <wm-document-toc class="table-of-contents sticky" [source]="document">
      <h3>{{ msgs.tableOfContents }}</h3>
    </wm-document-toc>
  </div>

</div>
