
/*
// Creates a customized material typography first...
$wm-typography: mat-typography-config(
  $font-family:   $wm-font-family,
  $headline:      mat-typography-level(32px, 48px, 700),
  $title:         mat-typography-level(24px, 32px, 600),
  $subheading-2:  mat-typography-level(20px, 28px, 600),
  $subheading-1:  mat-typography-level(18px, 24px, 600),
  $body-2:        mat-typography-level(18px, 24px, 500),
  $body-1:        mat-typography-level(16px, 20px, 500),
  $button:        mat-typography-level(16px, 20px, 500)
);

//.. than extends with some application specific values
$wm-typography: extend-material-typography($wm-typography, 
  (
    logo:         mat-typography-level(22px, 24px, 600),
    social:       mat-typography-level(22px, 24px, 600),
    //footnote:   mat-typography-level(16px, 20px, 400),
    //toc:        mat-typography-level(18px, 24px, 500)
  ) 
);
*/

@function extend-material-typography($mat-config, $extension) {

  // Gets the general font family
  $font-family: map-get($mat-config, font-family);

  // Loop through the extension levels and set the `font-family` of the ones that don't have one.
  // Since Sass can't modify maps in place we need to merge and re-assign.
  @each $key, $level in $extension {
    @if map-get($level, font-family) == null {
      $new-level: map-merge($level, (font-family: $font-family));
      $extension: map-merge($extension, ($key: $new-level));
    }
  }

  // Returns the extended typography
  @return map-merge($mat-config, $extension);
}

/*
// Defines the main theme colors palettes.
$wm-primary: mat-palette($mat-blue);
$wm-accent:  mat-palette($mat-indigo, A200, A100, A400);
$wm-warn:    mat-palette($mat-red);

// Creates a standard material light theme first...
$wm-theme: mat-light-theme($wm-primary, $wm-accent, $wm-warn);

//... than overrides with customized fore/background values
$wm-theme: extend-material-theme($wm-theme, 

  $foreground: (
    // Overwrites some Angular Material standard values
    base:              mat-color($wm-primary, 900),
    disabled-button:   rgba(mat-color($wm-primary, 900), 0.26),
    icon:              mat-color($wm-primary),
    icons:             mat-color($wm-primary),
    text:              rgba(mat-color($wm-primary, 900), 0.87),
    slider-min:        rgba(mat-color($wm-primary, 900), 0.87),
    slider-off:        rgba(mat-color($wm-primary, 900), 0.26),
    slider-off-active: rgba(mat-color($wm-primary, 900), 0.38),

    // Adds extra application specific foreground extension
    contrast:          white,
    edit-box:          rgba(white, 0.8)
  ),

  $background: (
    // Overwrites some Angular Material standard values
    status-bar:       white,
    app-bar:          white,
    background:       white,

    // Appends extra application specific background extensions
    edit-box:         rgba(mat-color($mat-blue, 900), 0.8)
  )
);
*/

// Overrides standard theme foreground and background values with customized ones
@function tweak-material-theme($theme, $foreground: (), $background: ()) {
  
  // Gets the standard material maps of fore/background
  $fore: map-get($theme, foreground);
  $back: map-get($theme, background);

  // Merges the standard values with the override
  $result: map-merge($theme, (
    foreground: map-merge($fore, $foreground),
    background: map-merge($back, $background)
  ));
  
  // Overrides the default contrast values to reflect the new foreground
  @return map-merge($result, tweak-material-contrast($result));
}

// Overrides standard theme palette contrasts with customized values
@function tweak-material-contrast($theme) {

  // Picks the light/dark text overrides from the extended foreground 
  $fore: map-get($theme, foreground);
  $dark: map-get($fore, dark-text);
  $light: map-get($fore, light-text);

  // Loops on the three palettes
  @each $pal in ('primary', 'accent', 'warn') {

    $palette: map-get($theme, $pal);

    // Loops on the three color contrasts
    @each $cnt in ('default', 'lighter', 'darker') {

      $contrast: map-get($palette, #{$cnt}-contrast);

      // Overrides $dark-primary-text values
      @if $dark and $contrast == $dark-primary-text {
        $palette: map-merge($palette, (#{$cnt}-contrast: $dark));
        $theme: map-merge($theme, (#{$pal}: $palette ));
      }

      // Overrides $light-primary-text values
      @if $light and $contrast == $light-primary-text {
        $palette: map-merge($palette, (#{$cnt}-contrast: $light));
        $theme: map-merge($theme, (#{$pal}: $palette ));
      }
    }
  }

  @return $theme;
}

@mixin tweak-material-typo-margins(

  $display-4:    24,
  $display-3:    24,
  $display-2:    24,
  $display-1:    24,
  $headline:     16,
  $title:        16,
  $subheading-2: 16,
  $subheading-1: 16,
  $body:         12

) { 

  .mat-h1, .mat-headline, .mat-typography h1 { margin: 0 0 #{$headline}px; }
  .mat-h2, .mat-title, .mat-typography h2 { margin: 0 0 #{$title}px; }
  .mat-h3, .mat-subheading-2, .mat-typography h3 { margin: 0 0 #{$subheading-2}px; }
  .mat-h4, .mat-subheading-1, .mat-typography h4 { margin: 0 0 #{$subheading-1}px; }
  .mat-h5, .mat-typography h5 { margin: 0 0 #{$body}px; }
  .mat-h6, .mat-typography h6 { margin: 0 0 #{$body}px; }
  .mat-body, .mat-body-1, .mat-typography { p { margin: 0 0 #{$body}px; }}
  .mat-display-4, .mat-typography .mat-display-4 { margin: 0 0 #{$display-4}px; }
  .mat-display-3, .mat-typography .mat-display-3 { margin: 0 0 #{$display-3}px; }
  .mat-display-2, .mat-typography .mat-display-2 { margin: 0 0 #{$display-2}px; }
  .mat-display-1, .mat-typography .mat-display-1 { margin: 0 0 #{$display-1}px; }
}

// Tweaks the mat-badge to better accomodate long texts
@mixin tweak-mat-badge-size($size) {
  .mat-badge-content {
    min-width: $size;
    width: auto;
    padding: 0 4px;
    border-radius: $size / 2;
    box-sizing: border-box;
  }
}

@mixin tweak-material-components() {

  // Minifies the menu on request
  .mat-menu-panel.mini { min-width: unset !important; min-height: unset !important; }  

  // Removes the fixed height of list items
  .mat-list-item.height-unset { height: unset !important; }

  // Resets the padding for menu, dialog, expansion panel...
  .mat-menu-panel.padding-0 .mat-menu-content,
  .mat-dialog.padding-0 .mat-dialog-container,
  .mat-expansion-panel.padding-0 .mat-expansion-panel-body { 
    padding: 0;
  }

  // Adds center alignement for material table
  .mat-header-cell.center { 
    text-align: center; 
    .mat-sort-header-container { justify-content: center; } 
  }
  .mat-cell.center { text-align: center; }

  // Fix the mat-badge to better accomodate long texts
  .mat-badge-small { @include tweak-mat-badge-size($mat-badge-small-size); }
  .mat-badge-medium { @include tweak-mat-badge-size($mat-badge-default-size); }
  .mat-badge-large { @include tweak-mat-badge-size($mat-badge-large-size); }
}

// Create the theme styles for selected component only.
@mixin custom-material-theme($theme, $config: null) {

  $config: ('autocomplete', 'badge', 'bottom-sheet', 'button', 'button-toggle', 'card', 'checkbox', 'chips', 'table', 'datepicker', 'dialog', 'divider', 'expansion-panel', 'form-field', 'grid-list', 'icon', 'input', 'list', 'menu', 'paginator', 'progress-bar', 'progress-spinner', 'radio', 'select', 'sidenav', 'slide', 'slider', 'stepper', 'sort', 'tabs', 'toolbar', 'tooltip', 'tree', 'snack-bar') !default;

  @include mat-core-theme($theme);
  @if index($config,'autocomplete') { @include mat-autocomplete-theme($theme);}
  @if index($config,'badge') { @include mat-badge-theme($theme);}
  @if index($config,'bottom-sheet') { @include mat-bottom-sheet-theme($theme);}
  @if index($config,'button') { @include mat-button-theme($theme);}
  @if index($config,'button-toggle') { @include mat-button-toggle-theme($theme);}
  @if index($config,'card') { @include mat-card-theme($theme);}
  @if index($config,'checkbox') { @include mat-checkbox-theme($theme);}
  @if index($config,'chip') { @include mat-chips-theme($theme);}
  @if index($config,'table') { @include mat-table-theme($theme);}
  @if index($config,'datepicker') { @include mat-datepicker-theme($theme);}
  @if index($config,'dialog') { @include mat-dialog-theme($theme);}
  @if index($config,'divider') { @include mat-divider-theme($theme);}
  @if index($config,'expansion-panel') { @include mat-expansion-panel-theme($theme);}
  @if index($config,'form-field') { @include mat-form-field-theme($theme);}
  @if index($config,'grid-list') { @include mat-grid-list-theme($theme);}
  @if index($config,'icon') { @include mat-icon-theme($theme);}
  @if index($config,'input') { @include mat-input-theme($theme);}
  @if index($config,'list') { @include mat-list-theme($theme);}
  @if index($config,'menu') { @include mat-menu-theme($theme);}
  @if index($config,'paginator') { @include mat-paginator-theme($theme);}
  @if index($config,'progress-bar') { @include mat-progress-bar-theme($theme);}
  @if index($config,'progress-spinner') { @include mat-progress-spinner-theme($theme);}
  @if index($config,'radio') { @include mat-radio-theme($theme);}
  @if index($config,'select') { @include mat-select-theme($theme);}
  @if index($config,'sidenav') { @include mat-sidenav-theme($theme);}
  @if index($config,'slide-toggle') { @include mat-slide-toggle-theme($theme);}
  @if index($config,'slider') { @include mat-slider-theme($theme);}
  @if index($config,'stepper') { @include mat-stepper-theme($theme);}
  @if index($config,'sort') { @include mat-sort-theme($theme);}
  @if index($config,'tabs') { @include mat-tabs-theme($theme);}
  @if index($config,'toolbar') { @include mat-toolbar-theme($theme);}
  @if index($config,'tooltip') { @include mat-tooltip-theme($theme);}
  @if index($config,'tree') { @include mat-tree-theme($theme);}
  @if index($config,'snack-bar') { @include mat-snack-bar-theme($theme);}
}

