
@mixin preloader($size, $thickness, $color) {

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    perspective: 800px;
    @content;

    & > div {
      position: absolute;
      left: calc(50% - #{$size/2} );
      top: calc(50% - #{$size/2} );
      width: $size;
      height: $size;
    
      border-radius: 50%;
      border: $thickness solid transparent;
    }
  
    div:nth-child(1){
      border-bottom-color: darken($color, 20%);
      animation: spin-one 1.0s linear infinite;
    }
  
    div:nth-child(2){
      border-right-color: $color;
      animation: spin-two 1.0s linear infinite; 
    }
  
    div:nth-child(3){
      border-top-color: lighten($color, 20%);
      animation: spin-three 1.0s linear infinite;
    }
  }

  @keyframes spin-one {
    0% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);}
    100% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);}
  }
  @keyframes spin-two {
      0% { transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);}
    100% { transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);}
  }
  @keyframes spin-three {
      0% { transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);}
    100% { transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);}
  }
}




