@import "variables";
@import "theme";

$wm-footer-height: 64px !default;

footer {
  min-height: $wm-footer-height;
  width: 100%;

  section { 
    padding: 32px;
    width: 100%; 
  }
  
  *[contrast] {
    background-color: mat-color($wm-accent);
    color: mat-color($wm-accent, 100);
  }

  a.link-disabled {
    text-decoration: dotted underline;
    pointer-events: none;
    color: map-get($mat-gray, 600);
  }
}
