
<mat-divider></mat-divider>
<footer fxLayout="column" fxLayoutAlign="center center" *wmContent="let msgs select 'footer';let lang = language">

  <!-- Top section with links -->
  <section fxLayout="column" fxLayoutGap="16px">

    <!-- Mini fab with social links -->
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">

      <a mat-mini-fab color="primary" routerLink="/redirect" [queryParams]="{ url: item.link }" *ngFor="let item of msgs.socials">
        <wm-icon [icon]="item.icon"></wm-icon>
      </a>

    </div>

    <!-- Links to internal key topics -->
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center">

      <a mat-button *ngFor="let item of msgs.links" [routerLink]="item.link"> 
        {{ item.label }}
      </a>
      
    </div>

    <!-- Languages -->
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">

      <a class="mat-small" 
         [hreflang]="item.value"
         [routerLink]="languageLink(item.value)" 
         [attr.disabled]="item.value === lang"
         *ngFor="let item of msgs.languages">{{ item.label }}</a>
      
    </div>

  </section>

  <section fxLayout="row" fxLayoutAlign="center center" class="tag-line">

    <span class="mat-small">{{ copyright(msgs.copyright) }}</span>
  
  </section>

</footer> 
