<!-- Gets the localized content -->
<ng-container *wmContent="let msgs select 'navigator.footer';let lang = language">

  <!-- Top section with links -->
  <section class="content" fxLayout="row" fxLayoutAlign="space-between" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center">

    <!-- Left/Top pane: Links to About, terms, privacy... -->
    <div fxLayout="row" fxHide.lt-sm fxLayoutAlign="center center">

      <!-- Regular links on desktop -->
      <a mat-button *ngFor="let item of msgs.links" [routerLink]="item.link"> 
        {{ item.label }}
      </a>
      
    </div>

    <!-- Right/Bottom pane -->
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">

      <!-- Links menu on mobile -->
      <a mat-icon-button fxHide fxShow.lt-sm [matMenuTriggerFor]="linksMenu">
        <wm-icon icon="fas:fa-info-circle"></wm-icon>
      </a>

      <!-- Links menu on mobile -->
      <mat-menu #linksMenu="matMenu">
        <button mat-menu-item *ngFor="let item of msgs.links" [routerLink]="item.link">{{ item.label }}</button>
      </mat-menu>

      <!-- Social media links -->
      <a mat-icon-button routerLink="/redirect" [queryParams]="{ url: item.link }" *ngFor="let item of msgs.socials">
        <wm-icon [icon]="item.icon"></wm-icon>
      </a>

      <!-- Language selection -->
      <a mat-icon-button [matMenuTriggerFor]="langMenu">
        <wm-icon icon="fas:fa-globe-europe"></wm-icon>
        <span class="mat-small" style="text-transform: uppercase;">{{ lang }} </span>
      </a>

      <!-- Language menu -->
      <mat-menu #langMenu="matMenu">
        <button mat-menu-item *ngFor="let item of msgs.languages"
               [routerLink]="languageLink(item.value)" 
               [disabled]="item.value === lang" >{{ item.label }}</button>
      </mat-menu>

    </div>

  </section>

  <!-- Copyright banner -->
  <section fxLayout="row" fxLayoutAlign="center center" class="copyright background-color-darker color-100 primary">
    <span class="mat-small">{{ copyright(msgs.copyright) }}</span>
  </section>

</ng-container> 
