
<mat-divider></mat-divider>
<footer fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center">

  <div fxFlexOrder.lt-sm="3">
    <button mat-button routerLink="terms">{{msgs.terms}}</button>
  </div>
  
  <div fxFlexOrder.lt-sm="2">
    <a mat-icon-button *ngFor="let item of msgs.items" [href]="item.link" target="_blank">
      <wm-icon class="social" [icon]="item.icon"></wm-icon>
    </a>
  </div>
  
  <div fxLayout="row" fxFlexOrder.lt-sm="1" *ngIf="multiLanguage">
    <mat-form-field>
      <!--img matPrefix class="langImg" [src]="content.language.img"/-->
      <mat-select [value]="language" (valueChange)=changeLanguage($event)>
        <mat-option *ngFor="let opt of options" [value]="opt.value">
          {{ opt.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</footer>
