//@import '~bootstrap/scss/bootstrap';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
//@import "~bootstrap/scss/type";
//@import "~bootstrap/scss/code";
//@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";@import "src/variables";

$ut-logo-width:   180px !default;
$ut-logo-height:   40px !default;
$ut-logo-margin:   48px !default;

:host {
 	cursor: pointer;

  @extend .d-flex;
  @extend .flex-row;
  @extend .justify-content-center;
  @extend .align-items-center;
  
  position: absolute;
  width: $ut-logo-width;
  height: $ut-logo-height;
  z-index: $zindex-fixed;

  color: $ut-white;  // Overwritten by @theme

  & > h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 1.2em;

    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
  }

  & > h1:first-child {
    font-weight: 700;
  }

  &[center] {
    left: 50vw; 
    margin-left: -$ut-logo-width / 2;
  }

  &[middle] {
    top: 50vh;
    margin-top: -$ut-logo-height / 2;
  }

  &[top] {
    top: $ut-logo-margin * 0.75;
    margin-top: -$ut-logo-height / 2;

    @include media-breakpoint-up(md) {
      top: $ut-logo-margin;
    }
  }

  &[bottom] {
    bottom: $ut-logo-margin * 0.75;
    margin-bottom: -$ut-logo-height / 2;

    @include media-breakpoint-up(md) {
      bottom: $ut-logo-margin;
    }
  }

  &[left] { left: 0;}
  &[right] { right: 0;}
}