
$wm-toggler-size:  20px !default;

:host {
    display: inline-block;
    position: absolute;
    
    width: $wm-toggler-size;
    height: $wm-toggler-size;
  
    margin-top: -$wm-toggler-size / 2;
    margin-left: -$wm-toggler-size / 2;

    span { position: absolute; }

    // Style 'menu'
    &[toggler-style='menu'] {

      $element-size: 2px;

      span {     
        height: $element-size;
        width: 100%;
        left: 0;
        border-radius: $element-size / 2;

        &[top]    { top: calc(10% - #{$element-size} / 2);}
        &[middle] { top: calc(50% - #{$element-size} / 2);}
        &[bottom] { top: calc(90% - #{$element-size} / 2);}
      }
    }

    // Style 'more' vertical
    &[toggler-style='more_vert'] {

      $element-size: 4px;
    
      span {          
          height: $element-size;
          width: $element-size;
          left: calc(50% - #{$element-size} / 2);
          border-radius: $element-size / 2;

          &[top]    { top: calc(10% - #{$element-size} / 2); }
          &[middle] { top: calc(50% - #{$element-size} / 2); }
          &[bottom] { top: calc(90% - #{$element-size} / 2); }
      }
    }

    // Style 'more' horizontal
    &[toggler-style='more_horiz'] {

      $element-size: 4px;
    
      span {          
          height: $element-size;
          width: $element-size;
          top: calc(50% - #{$element-size} / 2);
          border-radius: $element-size / 2;

          &[top]    { left: calc(10% - #{$element-size} / 2); }
          &[middle] { left: calc(50% - #{$element-size} / 2); }
          &[bottom] { left: calc(90% - #{$element-size} / 2); }
      }
    }
}


