
:host {

  .background {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 480px;
    height: 80vh;
    max-height: 560px;
    box-sizing: border-box;
    transform: skewY(-10deg);
    transform-origin: 0 100%;
  }

  .foreground {
    display: block;
    position: relative;
    width: 100%;
    min-height: 350px;
    box-sizing: border-box;
    padding: 5vw;
  }
}