
<ng-container *wmContent="let document select 'document'">

  <!-- Foreground content -->
  <article class="foreground" wmAnimate="fadeIn" speed="faster" [replay]="document">

    <!-- Renders the markdown document -->
    <section [wm-markdown]="document" (navigate)="redirect.navigate($event)" #body></section>

    <!-- Renders the footnotes -->
    <section *ngIf="body.notes.length > 0">

      <mat-divider></mat-divider>
      
      <div *ngFor="let note of body.notes; index as i">
        {{ i + 1 }} - <span [wm-markdown]="note" inline></span>
      </div>
    
    </section>
  
  </article>

</ng-container>

