<mat-expansion-panel #profile>
    
  <mat-expansion-panel-header fxLayoutAlign="space-between center">
    <mat-panel-title>{{msgs.title}}</mat-panel-title>
    <mat-panel-description fxLayoutAlign="end center"> 
      <wm-icon [icon]="msgs.icon">"</wm-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>
  
  <mat-list>
    <!--mat-list-item>
      <img matListAvatar [src]="userImage()">
    </mat-list-item-->
    
    <wm-list-item *ngFor="let field of msgs.fields" 
                  [field]="userProfileField(field)"
                  [validators]="userProfileValidators(field.key)"
                  (editDone)="updateUserProfile(field.key, $event)">
    </wm-list-item>
  
  </mat-list>



  <mat-action-row>
    <button mat-button color="primary" disabled>
      {{msgs.buttons.edit}}
    </button>
    <button mat-button color="primary" (click)="profile.close()">
      {{msgs.buttons.close}}
    </button>
  </mat-action-row>
</mat-expansion-panel>
