<header fxLayout="column">
  <h1 fxHide.lt-sm>{{ msgs.title }}</h1>
  <h2 fxHide fxShow.lt-sm>{{ msgs.title }}</h2>
  <p fxHide.lt-sm>{{ msgs.description }}</p>
</header>

<mat-accordion>

  <!-- PROFILE PANELS -->
  <mat-expansion-panel *ngFor="let panel of msgs.panels; let i = index" 
                      [expanded]="panel.expanded" (closed)=panelClose(i)>

    <!-- PANEL HEADER -->
    <mat-expansion-panel-header fxLayoutAlign="space-between center">
      <mat-panel-title>{{panel.title}}</mat-panel-title>
      <mat-panel-description fxLayoutAlign="end center"> 
        <wm-icon [icon]="panel?.icon">"</wm-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- USER IMAGE -->
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="panel.userImage">
      <button mat-button class="user" (click)="selectImage()">
        <img *ngIf="userImage; else avatar" [src]="userImage"/>
      </button>
    </div>

    <mat-divider></mat-divider>

    <!-- PANEL ITEM LIST -->
    <mat-list>

      <wm-profile-item *ngFor="let field of panel.fields"
                       [name]="field.key"
                       [label]="field.label"
                       [icon]="field.icon"
                       [hint]="field.hint"
                       [type]="field.type"
                       [value]="profileValue(field.key)"
                       [options]="profileOptions(field.key)"
                       [validators]="profileValidators(field.key)"
                       [editable]="profileEditable(field.key)"
                       (editDone)="updateUserProfile(field.key, $event)">
      </wm-profile-item>

    </mat-list>

    <!-- ACTION BUTTONS or LINKS -->
    <mat-action-row fxLayout="row" fxLayout.lt-sm="column" *ngIf="panel.buttons || panel.applyChanges">

      <ng-container *ngFor="let btn of panel.buttons">

        <button *ngIf="btn.action" 
                 mat-button color="primary" 
                 (click)="action(btn.action)"
                 [disabled]="disabled(btn.action)">
          {{btn.caption}}
        </button>

      </ng-container>

      <!-- APPLY CHANGES BUTTON -->
      <button mat-button *ngIf="panel.applyChanges"
                          color="primary" 
                         [disabled]="!itemChanges"
                         (click)="applyAllItemChanges()">
        {{panel.applyChanges}}
      </button>

    </mat-action-row>

  </mat-expansion-panel>
</mat-accordion>

<!-- AVATAR TO REPLACE USER IMAGE WHEN UNAVAILABLE -->
<ng-template #avatar>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
  </svg>
</ng-template>