@import "src/variables";
@import 'src/theme';

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding: $wm-content-padding 0;
  margin: 0 $wm-content-margin;
}

mat-list {
  overflow: hidden;
}

.highlight {
  background-color: mat-color($wm-primary, A400);
  color: mat-contrast($wm-primary, A400);

  &[disabled] {
    background-color: transparent;
  }
}