$sheetFile: "/assets/emoji/sheets/20.png";
@import './emoji-keys';

.wm-emoji-keyboard {
  position: relative; 
  display: block;
  width: 100%;
 
  .favorites {

    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    overflow: hidden;
  }

  @include defineKeys("key");

  .mat-expansion-panel, .mat-expansion-panel-content, .mat-expansion-panel-body {
    width: 100%;
    padding: 0;
  }

  .cdk-virtual-scroll-viewport {
    width: 100%;

    .cdk-virtual-scroll-content-wrapper {
      display: flex;
      flex-direction: row;
    }
  }
}