
<div class="favorites"> 

  <button mat-icon-button (mousedown)="toggle()" >
    <mat-icon>emoji_emotions</mat-icon>
  </button>
  
  <button mat-icon-button *ngFor="let key of favorites" (mousedown)="press(key)">
    <span class="key" [attr.mode]="behavior" [attr.key]="key"></span>
  </button>

</div>

<mat-expansion-panel class="mat-elevation-z0" hideToggle #panel>

  <mat-divider></mat-divider>

  <!-- Scrollbar hiding container -->
  <div scrollHide>

    <!-- Adjust the height to accomodate for the scrollbar -->
    <cdk-virtual-scroll-viewport orientation="horizontal" [itemSize]="keySize" [scrollHeight]="viewportHeight">
      
      <div fxLayout="column" *cdkVirtualFor="let column of columns$ | async">

        <button mat-icon-button *ngFor="let key of column" (mousedown)="press(key)">
          <span class="key" [attr.mode]="behavior" [attr.key]="key"></span>
        </button>

      </div>
      
    </cdk-virtual-scroll-viewport>

  </div>

</mat-expansion-panel>