@import "../../../../variables";
@import '../../../../theme';

$wm-toggler-line: 2px !default;

:host {
    display: inline-block;
    position: absolute;
    
    width: $wm-toggler-width;
    height: $wm-toggler-height;
    
    margin-top: -$wm-toggler-height / 2;
    margin-left: -$wm-toggler-width / 2;
    
    span {
        content: '';
        position: absolute;
        
        height: $wm-toggler-line;
        background-color: map-get($wm-theme-foreground, text);

        &[top] { top: 10%; left: 10%; width: 80%;}
        &[middle] { top: 50%; left: 10%; width: 80%;}
        &[bottom] { top: 90%; left: 10%; width: 80%;}
    }
}


