<ng-container *ngFor="let node of content">

  <ng-container [ngSwitch]="node.type">

    <!-- Paragraphs at root level -->
    <p *ngSwitchCase="'paragraph'" [wm-editable]="node"></p>

    <!-- Numbered lists with nesting -->
    <ol *ngSwitchCase="'numbered'" [wm-list]="node"></ol>

    <!-- Bulleted lists with nesting -->
    <ul *ngSwitchCase="'bulleted'" [wm-list]="node"></ul>

    <!-- Blockquotes supporting paragraph and list indentation -->
    <blockquote *ngSwitchCase="'blockquote'" [wm-block]="node"></blockquote>

    <!-- Tables at root level only -->
    <table *ngSwitchCase="'table'" [wm-table]="node"></table>

    <!-- Images at root level only -->
    <div *ngSwitchCase="'image'" [wm-image]="node"></div>

  </ng-container>
  
</ng-container>
