
<ng-container *ngIf="data$ | async as data">

  <div fxFlex="0 0 auto" [matBadge]="data.unread" [matBadgeHidden]="!data.unread" matBadgeSize="small">
    <wm-avatar  [src]="data.sender?.img" color="primary"></wm-avatar>
  </div>

  <div fxFlex="1 1 auto" class="content">

    <div class="name mat-title">{{ data.sender?.name || '\n' }}</div>

    <div class="last mat-body" [class.unread]="data.unread > 0">{{ data.last?.body || '\n' }}</div>

    <div class="time mat-small">{{ time(data.last?.timestamp) }}</div>

  </div>

</ng-container>