@import 'variables';
@import 'theme';

:host {
  display: block;

  .wm-inkbar-line {
 
    position: absolute;

    background-color: mat-color($wm-primary);
    
    &[color="accent"] { background-color: mat-color($wm-accent); }
    &[color="warn"] { background-color: mat-color($wm-warn); }
  }
}
