
<!-- Localized content, restore scroll position, report gtag -->
<ng-container *wmContent="let msgs select 'landing'" scrollPositionRestoration="top" gtag="landing">
  
  <!-- Applies a background as per the configuration -->
  <wm-background *ngIf="msgs.background as background" 
    [url]="background.url" 
    [attachment]="background.attachment || 'local'" 
    [repeat]="background.repeat || 'no-repeat'" 
    [size]="background.size || 'cover'">
  </wm-background>

  <!-- Dynamically loads the requested widgets -->
  <ng-container *ngFor="let widget of msgs.widgets">

    <!-- For a list of widgets check the landing.module -->
    <ng-container [wm-load-widget]="widget"></ng-container>

  </ng-container>

</ng-container>