@import "src/variables";

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  padding-top: $wm-content-padding * 2;
  padding-bottom: $wm-content-padding;
  margin: 0 $wm-content-margin;
}
