
<!-- Loads the localized content -->
<ng-container *wmContent="let msgs select 'explore-feed'">

  <!-- Actionbar -->
  <ng-template wmActionbar let-mobile="isMobile">

    <!-- New post button -->
    <button mat-stroked-button type.lt-sm="icon" color="primary" routerLink="edit">

      <!-- Use an icon button on small screens -->
      <wm-icon *ngIf="mobile; else newMessage" [icon]="msgs.post?.new?.icon || 'add'"></wm-icon>

      <!-- Use a stroked button on large screens -->
      <ng-template #newMessage>{{ msgs.post?.new?.caption || 'New' }}</ng-template>

    </button>

  </ng-template>

  <!-- List all posts in descending order -->
  <ul class="feed-list">

    <li *ngFor="let post of feed$ | async" class="feed-item mat-elevation-z3">

      <wm-post [post]="post" (navigate)="navigate($event)"></wm-post>

    </li>
  </ul>

</ng-container>
