
<!-- Localized content -->
<!--ng-container *wmContent="let msgs select 'feed'"-->

  <!-- Action Bar (projected in the top toolbar) -->
  <!--ng-template wmActionbar let-mobile="isMobile">
    
    <button mat-button [type]="mobile ? 'icon' : 'basic'" color="primary">
      
      <span *ngIf="!mobile">{{ msgs.filter? || 'Sign-out' }}</ng-template>

      <wm-icon [icon]="msgs.filter?.icon || 'filter_list'"></wm-icon>
      
    </button>

  </ng-template-->

<!--/ng-container-->

<!-- List all posts in descending order -->
<wm-post class="mat-elevation-z3" *ngFor="let post of feed$ | async" [post]="post"></wm-post>
