
:host {
  display: flex;
  flex-direction: column;
  //align-items: center;
  padding-left: 20px;

  .more {

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .feed-list {
    margin: 0;
    padding: 0;
    max-width: 700px;
    list-style: none;
  }

  .feed-item {
    position: relative;
    margin-bottom: 20px;
    border-radius: 8px; 
    transition: ease-in-out .2s;
  }
}
