
<!-- Loads the localized content -->
<ng-container *wmContent="let msgs select 'explore-feed'">

  <!-- Actionbar -->
  <ng-template wmActionbar let-mobile="isMobile">

    <!-- Refresh posts -->
    <ng-container *ngIf="(unread$ | async) as unread">

      <button mat-stroked-button type.lt-sm="icon" color="accent" (click)="refresh()" 
              [matBadge]="unread" matBadgeColor="accent" matBadgePosition="before">
        
        <!-- Always display an icon -->
        <wm-icon [icon]="msgs.refresh?.icon || 'refresh'"></wm-icon>
        
        <!-- Use a stroked button on large screens -->
        <span *ngIf="!mobile">{{ msgs.refresh?.caption || 'Refresh' }}</span>
      
      </button>
      
    </ng-container>

    <!-- New post button, refreshed the list when posting a new one -->
    <button mat-stroked-button type.lt-sm="icon" color="primary" openDialog="edit" (dialogClosedTruthy)="refresh()">

      <!-- Use an icon button on small screens -->
      <wm-icon *ngIf="mobile; else newMessage" [icon]="msgs.new?.icon || 'add'"></wm-icon>

      <!-- Use a stroked button on large screens -->
      <ng-template #newMessage>{{ msgs.new?.caption || 'New' }}</ng-template>

    </button>

  </ng-template>

  <!-- List all posts in descending order -->
  <ul class="feed-list">

    <li *ngFor="let post of feed$ | async" class="feed-item mat-elevation-z3">
      <wm-post [post]="post" (navigate)="navigate($event)"></wm-post>
    </li>

    <!-- Dummy empty posts while loading -->
    <li *ngFor="let dummy of loading$ | async" class="feed-item mat-elevation-z3">
      <wm-post [post]="null"></wm-post>
    </li>
  </ul>

</ng-container>
