<div anchor [style.left.px]="left" [style.top.px]="top" [matMenuTriggerFor]="menu"></div>

<mat-menu #menu="matMenu">

  <!-- Content copy -->
  <button mat-menu-item (click)="edit('copy')">
    <mat-icon>content_copy</mat-icon>
    <span>{{ label(msgs?.edit?.copy) }}</span>
  </button>

  <!-- Content cut -->
  <button mat-menu-item (click)="edit('cut')">
    <mat-icon>content_cut</mat-icon>
    <span>{{ label(msgs?.edit?.cut) }}</span>
  </button>

  <!-- Content paste -->
  <button mat-menu-item (click)="edit('paste')">
    <mat-icon>content_paste</mat-icon>
    <span>{{ label(msgs?.edit?.paste) }}</span>
  </button>

  <mat-divider></mat-divider>

  <!-- Text size -->
  <button mat-menu-item [matMenuTriggerFor]="sizeMenu">
    <mat-icon>format_size</mat-icon>
    <span>{{ label(msgs?.size.title) }}</span>
  </button>

  <!-- Format -->
  <button mat-menu-item *ngIf="!sel.belongsTo('link')" [matMenuTriggerFor]="formatMenu">
    <mat-icon>{{ sel.style.length > 0 ? 'format_' + sel.style[0] : 'text_format' }}</mat-icon>
    <span>{{ label(msgs?.format?.title) }}</span>
  </button>

  <!-- Alignement -->
  <button mat-menu-item [matMenuTriggerFor]="alignMenu">
    <mat-icon>{{'format_align_' + sel.align }}</mat-icon>
    <span>{{ label(msgs?.align?.title) }}</span>
  </button>

  <!-- Insert table -->
  <button mat-menu-item *ngIf="sel.belongsTo('table')" [matMenuTriggerFor]="tableMenu">
    <mat-icon>table_chart</mat-icon>
    <span>{{ label(msgs?.insert?.table) }}</span>
  </button>

  <!-- Link -->
  <button mat-menu-item *ngIf="!sel.belongsTo('link')" (click)="sel.link('./')">
    <mat-icon>link</mat-icon>
    <span>{{ label(msgs?.insert?.link) }}</span>
  </button>

  <!-- Unlink -->
  <button mat-menu-item *ngIf="sel.belongsTo('link')" (click)="sel.unlink()">
    <mat-icon>link_off</mat-icon>
    <span>{{ label(msgs?.insert?.unlink) }}</span>
  </button>

  <!-- Clear format -->
  <button mat-menu-item (click)="sel.clear()">
    <mat-icon>format_clear</mat-icon>
    <span>{{ label(msgs?.format?.clear) }}</span>
  </button>

</mat-menu>

<!-- Size menu -->
<mat-menu [class]="'wm-theme-colors '+color" #sizeMenu="matMenu">

  <button mat-menu-item *ngFor="let level of [1, 2, 3]"
          [attr.selected]="sel.level === level"
          [style.border-width]="0"
          (click)="sel.level = level">
    <span [ngClass]="'mat-h' + level">{{ label(msgs?.size[level]) }}</span>
  </button>

  <button mat-menu-item 
          [attr.selected]="sel.level === 0"
          [style.border-width]="0"
          (click)="sel.level = 0">{{ label(msgs?.size[0]) }}</button>

</mat-menu>

<!-- Format menu -->
<mat-menu [class]="'wm-theme-colors '+color" #formatMenu="matMenu">

  <button mat-menu-item *ngFor="let item of formats"
          [attr.selected]="hasStyle(item)"
          [style.border-width]="0"
          (click)="sel.toggleFormat(item)">
    <mat-icon>{{'format_' + item }}</mat-icon>
    <span>{{ label(msgs?.format[item]) }}</span>
  </button>

</mat-menu>

<!-- Alignement menu -->
<mat-menu [class]="'wm-theme-colors '+color" #alignMenu="matMenu">

  <button mat-menu-item *ngFor="let item of alignements" 
          [attr.selected]="item === sel.align"
          [style.border-width]="0"
          (click)="sel.align = item">
    <mat-icon>{{'format_align_' + item }}</mat-icon>
    <span>{{ label(msgs?.align[item]) }}</span>
  </button>

</mat-menu>

<!-- Table menu -->
<!--mat-menu #tableMenu="matMenu">

  <button mat-menu-item (click)="sel.tableRow('above')">{{ label(msgs?.table?.rowAbove) }}</button>
  <button mat-menu-item (click)="sel.tableRow('below')">{{ label(msgs?.table?.rowBelow) }}</button>
  <button mat-menu-item (click)="sel.tableColumn('left')">{{ label(msgs?.table?.columnLeft) }}</button>
  <button mat-menu-item (click)="sel.tableColumn('right')">{{ label(msgs?.table?.columnRight) }}</button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="sel.tableDelete('row')">{{ label(msgs?.table?.deleteRow) }}</button>
  <button mat-menu-item (click)="sel.tableDelete('column')">{{ label(msgs?.table?.deleteColumn) }}</button>
  <button mat-menu-item (click)="sel.tableDelete('table')">{{ label(msgs?.table?.delete) }}</button>

</mat-menu-->