@import 'src/theme';

$wm-avatar-size: 36px;

.link-active {
  text-decoration: underline;
}

.highlight {
  background-color: mat-color($wm-primary, A400);
  color: mat-contrast($wm-primary, A400);
}

.avatar {
  width: $wm-avatar-size;
  height: $wm-avatar-size;
  border-radius: 50%;
  fill: mat-color($wm-primary);
}