<mat-toolbar fxLayout="row">

  <wm-logo fxFlex="20" fxFlex.lt-sm="90"></wm-logo>
 
  <section fxFlex="80" fxLayout="row" fxLayoutAlign="end center" fxHide.lt-sm="true">
    <a mat-button *ngFor="let item of menu.items" 
       routerLinkActive="link-active" [routerLink]="item.link">
      {{item.label}}
    </a>
  </section>

  <wm-toggler [status]="toggler" 
              (statusChange)="toggle()" 
              fxFlex="10" fxHide="true" fxShow.lt-sm="true">
  </wm-toggler>

</mat-toolbar>
<mat-divider></mat-divider>