<mat-toolbar>

  <!-- NAVIGATION TOOLBAR -->
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" [@shrink]="someAction">

    <wm-logo></wm-logo>
  
    <section fxLayout="row" fxLayoutAlign="end center" fxHide.lt-sm="true">
      
      <!-- PRIVATE MENU -->
      <ng-container *ngIf="signedIn; else public">
        <a mat-button *ngFor="let item of msgs.menu.private" 
                      routerLinkActive="link-active" 
                      [routerLink]="item.link"
                      [queryParams]="item.params"
                      [ngClass]="{'highlight': item.highlight}">
          {{item.label}}
        </a>

        <!-- USER PROFILE BUTTON -->
        <button mat-icon-button routerLink="profile">
          <img *ngIf="userImage" class="avatar" [src]="userImage" />
          <svg *ngIf="!userImage" class="avatar"> 
            <use xlink:href="#avatar"></use>
          </svg>
        </button>
      </ng-container>

      <!-- PUBLIC MENU -->
      <ng-template #public>
        <a mat-button *ngFor="let item of msgs.menu.public" 
                      routerLinkActive="link-active" 
                      [routerLink]="item.link"
                      [queryParams]="item.params"
                      [ngClass]="{'highlight': item.highlight}">
          {{item.label}}
        </a>
      </ng-template>

    </section>
        
    <section fxLayout="row" fxLayoutAlign="end center" fxHide="true" fxShow.lt-sm="true">

      <!-- USER PROFILE BUTTON -->
      <button mat-icon-button routerLink="profile" *ngIf="signedIn">
        <img *ngIf="userImage" class="avatar" [src]="userImage" />
        <svg *ngIf="!userImage" class="avatar"> 
          <use xlink:href="#avatar"></use>
        </svg>
      </button>

      <!-- MENU TOGGLER -->
      <button mat-icon-button (click)="toggle()">
        <wm-toggler [status]="toggler">
        </wm-toggler>
      </button>
  </section>

</mat-toolbar-row>

<!-- PAGE ACTION BAR -->
<mat-toolbar-row fxLayout="row" fxLayoutAlign="end center" [@action]="someAction">

  <!-- ACTION BUTTONS or LINKS -->
  <ng-container *ngFor="let button of actionButtons">

    <!-- ACTION BUTTON -->
    <ng-container *ngIf="button?.code">
      
      <!-- TEXT BUTTON (DESKTOP) -->
      <button mat-button color="primary" [fxHide.lt-sm]="button?.icon" 
        (click)="performAction(button.code)"
        [disabled]="!!button.enabler ? !(button.enabler | async) : false">
        {{ button.caption }}
      </button>

      <!-- ICON BUTTON (MOBILE) -->
      <button mat-icon-button color="primary" fxHide [fxShow.lt-sm]="button?.icon" 
        (click)="performAction(button.code)" 
        [disabled]="!!button.enabler ? !(button.enabler | async) : false">
        <wm-icon [icon]="button?.icon"></wm-icon>
      </button>

    </ng-container>

    <!-- ACTION LINK -->
    <ng-container *ngIf="button?.link">
      
      <!-- TEXT LINK (DESKTOP) -->
      <a mat-button color="primary" [fxHide.lt-sm]="button?.icon" [routerLink]="button.link" [queryParams]="button?.params">
        {{ button.caption }}
      </a>

      <!-- ICON LINK (MOBILE) -->
      <a mat-icon-button color="primary" fxHide [fxShow.lt-sm]="button?.icon" [routerLink]="button.link" [queryParams]="button?.params">
        <wm-icon [icon]="button?.icon"></wm-icon>
      </a>

    </ng-container>

  </ng-container>

</mat-toolbar-row>

</mat-toolbar>

<mat-divider [@divider]="divider"></mat-divider>

<!-- AVATAR TO REPLACE USER IMAGE WHEN UNAVAILABLE -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" display="none">
  <symbol id="avatar" viewBox="0 0 24 24">
    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
  </symbol>
</svg>