@import 'src/theme';
/*
:host {
  display: flex;
  flex: none;
  box-sizing: border-box;
}
*/
.link-active {
  text-decoration: underline;
}

a {
  font-size: mat-font-size($wm-typography, subheading-1);
  margin: 0 2px;
}

a:last-child {
  background-color: mat-color($wm-primary, A400);
  color: mat-contrast($wm-primary, A400);
}