@import "src/variables";
@import "src/theme";

$wm-project-width: 300px;
$wm-project-height: 200px;

$wm-area-element-width: 100px !default;
$wm-area-element-height: 26px !default;


:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  box-sizing: border-box;

  //width: $wm-project-width;
  //height: $wm-project-height;

  border: 1px solid map-get($wm-theme-foreground, divider);
  border-radius: 3px;
}

.content {
  margin: 0 10px;
}

.status {
  text-transform: uppercase;
  //font-size:  
}

.owner-toolbar {
  color: map-get($mat-grey, 300);//map-get($wm-theme-foreground, disabled-button); //rgba(black, 0.12);
}
/*
.name {
  //height: 20px;
  //max-height: 36px;
  //color: black;
  //line-height: 36px;
  //margin: 0;
  //overflow: hidden;
}
*/
.description {
  height: 60px;
  text-align: justify;
  color: map-get($wm-theme-foreground, secondary-text);
  overflow: hidden;
}

.image {
  width: 32px;
  //border-radius: 50%;
}

.team {
  border-bottom: 1px solid;
}

.area-element {
  min-width: $wm-area-element-width;
  height: $wm-area-element-height;
  line-height: $wm-area-element-height;
  box-sizing: border-box;
  text-align: center;
  vertical-align: baseline;

  border-bottom: 1px solid map-get($wm-theme-foreground, icons);
  color: map-get($wm-theme-foreground, icons);

  padding: 0 3px;
  margin: 0 2px;

  &.disabled {
    color: map-get($wm-theme-foreground, disabled-text);
    border-bottom-color: map-get($wm-theme-foreground, disabled-text);
  }
}
