@import "../../../../variables";
@import "../../../../theme";

$wm-toolbar-end: 80px;
$wm-line-height: 24px;

form {
  position: fixed;
  top: $wm-toolbar-end;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  box-sizing: border-box;
  border: none;

  background-color: map-get($wm-theme-background, edit-box);
  color: map-get($wm-theme-foreground, edit-box);

  textarea {
    @include mat-typography-level-to-styles($wm-typography, body-2);

    // Makes sure about the line height to correcly compute the top visible line
    line-height: $wm-line-height;

    background-color: transparent;
    color: inherit;

    padding: 20px 50px;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
  }
}
