
$wm-icon-size: 24px !default;

:host {
  position: relative;
  display: inline-block;
  width: $wm-icon-size;
  height: $wm-icon-size;
  line-height: $wm-icon-size;
  // Overwrites the mat-icon styles to fit the container
  .mat-icon {
    display: inherit;
    width: 100%;
    height: 100%;
    line-height: inherit;
  }
}
