@import "variables";
@import "theme";

//$wm-toolbar-end: 80px;
$wm-line-height: 24px;

:host {
  display: block;
  box-sizing: border-box;
  z-index: $wm-zindex-edit;

  form {
    position: absolute;//fixed;
    top: 0;//$wm-toolbar-end;
    left: 0;
    //right: 0;
    //bottom: 0;
    width: 100%;
    height: 100%;
    //box-sizing: border-box;
    border: none;
  
    background-color: map-get($wm-theme-background, editor);
    color: map-get($wm-theme-foreground, editor);
  
    textarea {
      @include mat-typography-level-to-styles($wm-typography, body-2);
  
      // Makes sure about the line height to correcly compute the top visible line
      line-height: $wm-line-height;
  
      background-color: transparent;
      color: inherit;
  
      padding: 20px 50px;
      box-sizing: border-box;
      border: none;
      outline: none;
      resize: none;
      overflow: auto;
    }
  }
}
