
.wm-spinner {
  
  display: block;
  position: relative;

  .spinner {
    animation: rotator 5s linear infinite;
    transform-origin: center;
  }

  @keyframes rotator {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .path {
    stroke-dasharray: 265;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.3s ease-in-out infinite;
  }

  @keyframes dash {
    0% { stroke-dashoffset: 265; }
    50% {
      stroke-dashoffset: 65;
      transform: rotate(90deg);
    }
    100% {
      stroke-dashoffset: 265;
      transform: rotate(360deg);
    }
  }
}
