
<!--thead *ngIf="!!head?.length">
  <tr *ngFor="let row of head" [id]="row.id">
    <th *ngFor="let cell of row.content" [attr.colspan]="cell.data.colspan" [wm-editable]="cell"></th>
  </tr>
  </thead>
<tbody-->
<tr *ngFor="let row of table?.content" [id]="row.id">
  <td *ngFor="let cell of row.content" [attr.colspan]="cell.data.colspan" [wm-editable]="cell"></td>
</tr>
<!--/tbody>
<tfoot *ngIf="!!foot?.length">
  <tr *ngFor="let row of foot" [id]="row.id">
    <td *ngFor="let cell of row.content" [attr.colspan]="cell.data.colspan" [wm-editable]="cell"></td>
  </tr>
</tfoot-->
