
// Table style and alignement
:host {
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 16px;

  th, td {
    padding: 6px 13px;
    border: 1px solid #ddd;
  }
  
  tr:nth-child(2n) {
    background-color: rgba(0,0,0,0.03);
  }
}
