:host {
  position: relative;
  display: flex;
  flex-direction: column;

  padding: 24px 40px 16px 40px;

  .avatar {
    width: 40px;
    height: 40px;
  }

  .menu {
    position: absolute;
    top: 24px;
    right: 24px;
  }

  .mat-divider {
    margin: 6px 0 6px 0;
  }

  .photo {
    margin-bottom: 6px;
  }

}