<header fxLayout="column">
  <h1 fxHide.lt-sm>{{ msgs.title }}</h1>
  <h2 fxHide fxShow.lt-sm>{{ msgs.title }}</h2>
  <p fxHide.lt-sm [@fade]="activeTab">{{ tabDescription || msgs.description }}</p>
</header>

<mat-tab-group dynamicHeight [(selectedIndex)]="activeTab">

  <mat-tab *ngFor="let tab of msgs.tabs" [label]="tab.label">

    <ng-template matTabContent>

      <mat-grid-list rowHeight="260px" [cols]="cols" gutterSize="10px" *ngIf="projects$ | async as projects">    
      
        <mat-grid-tile *ngFor="let project of projects">

          <wm-project-card [project]="project"
                             [tools]="enableTools(project)"
                            (update)="updateProject($event)">
          </wm-project-card>          

        </mat-grid-tile>

        <!-- Loading spinner -->
        <mat-grid-tile *ngIf="loading$ | async">
          <div fxLayout="column" fxLayoutAlign="center center" class="spinner">
            <mat-spinner diameter="60" strokeWidth="2"></mat-spinner>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

    </ng-template>

  </mat-tab>

</mat-tab-group>
