<!-- Headibng cover -->
<div class="cover" [wmThemeColor]="color">
  <img *ngIf="project.cover" 
       [src]="project.cover" 
       (error)="project.cover = null" />

  <!-- Cover picture loader -->
  <wm-uploads (file)="selectCover($event)" #uploads *ngIf="tools">
    <button mat-icon-button (click)="uploads.chooseFile(project.cover)" class="tools">
      <mat-icon>insert_photo</mat-icon>
    </button>
  </wm-uploads>
</div>

<!-- Card content --> 
<div class="content" *ngIf="owner$ | async as owner">
  
  <div class="overlap">
    <wm-user-info [owner]="project" #userInfo></wm-user-info>
    <wm-avatar [src]="owner.img" [color]="avatarColor" [wmUserInfoTrigger]="userInfo">
    </wm-avatar>
  </div>

  <div class="title" [routerLink]="[ '.', project.id ]">
    {{ project.name }}
  </div>
  
  <div class="author">{{ owner.name }}</div>
  <p>{{ project.pitch }}</p>

  <!-- Theme color picker -->
  <wm-color-picker [color]="project.color" (pick)="setColor($event)" class="color" *ngIf="tools">
    <button mat-icon-button class="tools">
      <mat-icon>brush</mat-icon>
    </button>
  </wm-color-picker>
</div>
  