<div class="content" fxLayout="column" fxLayoutAlign="center strech">

  <!-- TOP BAR -->
  <header fxLayout="row" fxLayoutAlign="space-between center">
    
    <span class="status">{{project?.status}}</span>

    <div class="owner-toolbar" fxLayout="row" fxLayoutAlign="center center" *ngIf="isMine">
  
      <button mat-icon-button (click)="editProject()">
        <wm-icon icon="edit"></wm-icon>
      </button>
  
      <button mat-icon-button (click)="deleteProject()">
        <wm-icon icon="delete"></wm-icon>
      </button>
  
    </div>

    <button mat-icon-button (click)="toggleFavorite()" *ngIf="!isMine">
      <wm-icon [icon]="favorite ? 'favorite' : 'favorite_border'"></wm-icon>
    </button>
  
  </header>

  <mat-divider></mat-divider>

  <!-- PROJECT DESCRIPTION -->
  <div fxLayout="row" fxLayoutAlign="space-between start">
    <h3 class="name"><b>{{project?.name}}</b></h3>
    <img class="image" [src]="projectImage" />
  </div>  
  <p class="mat-small description">{{project?.application?.description}}</p>

  <!-- TEAM COVERAGE -->
  <div fxLayout="column" fxLayoutAlign="center center" fxFill>
  
    <div class="team" fxLayout="row" fxLayoutAlign="space-between center" fxFill>
      <span class="mat-small">Team coverage</span>
      <span class="mat-small">{{completion}}%</span>
    </div>
  
    <div fxLayout="row wrap" fxLayoutAlign="center center" fxFill>
      <div class="area-element" *ngFor="let e of areas" fxFlex="1 1 auto" [class.disabled]="e.label==='Legal'">  
        <wm-icon [icon]="e.icon"> <!--[style.color]="e.color"-->
        </wm-icon>
        <span class="mat-small">{{e.label}}</span>
      </div>
    </div>
   
  </div>

  <!-- SEE APPLICATION -->

  <!-- SEE DEVELOPMENT -->

</div>