@import 'src/variables';
@import 'src/theme';

:host {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

mat-sidenav {
  a:last-child {
    background-color: mat-color($wm-primary, A400);
    color: mat-contrast($wm-primary, A400);
  }
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content {
  padding: $wm-content-margin;
}
