<wm-toolbar fxFlex="0 0 auto"
            [toggler]="snav.opened" 
            (togglerChange)="snav.toggle()" #toolbar>
</wm-toolbar>

<mat-sidenav-container fxFlex="1 1 auto" fxLayout="column">

  <mat-sidenav mode="over" position="end" #snav>

    <ng-container *ngIf="signedIn; else public">
      <mat-nav-list fxLayout="column" fxLayoutAlign="start center">
        <a mat-list-item *ngFor="let item of msgs.menu.private" 
                         [routerLink]="item.link"
                         [queryParams]="item.params">
          {{item.label}}
        </a>
      </mat-nav-list>
    </ng-container>
    
    <ng-template #public>
      <mat-nav-list fxLayout="column" fxLayoutAlign="start center">
        <a mat-list-item *ngFor="let item of msgs.menu.public" 
                         [routerLink]="item.link"
                         [queryParams]="item.params">
          {{item.label}}
        </a>
      </mat-nav-list>
    </ng-template>
  
  </mat-sidenav>  
    
  <mat-sidenav-content fxFlex="1 1 auto" fxLayout="column" wm-scroll-view threshold="20" (scrolled)="toolbar.showDivider($event)"> 

    <div fxFlex="1 1 auto">
      <router-outlet (activate)="snav.close()" (deactivate)="toolbar.clearActions()">
      </router-outlet>
    </div>
    <wm-footer fxFlex="0 0 auto"></wm-footer>

  </mat-sidenav-content>

</mat-sidenav-container>
