<wm-toolbar fxFlex="0 0 auto"
            [toggler]="snav.opened" 
            (togglerChange)="snav.toggle()"
            [divider]="divider && !snav.opened">
</wm-toolbar>

<mat-sidenav-container fxFlex="1 1 auto" fxLayout="column">

  <mat-sidenav mode="over" 
               position="end"
               #snav>

    <mat-nav-list>
      <a mat-list-item *ngFor="let item of msgs.menu.items" 
                       [routerLink]="item.link">
        {{item.label}}
      </a>
    </mat-nav-list>
  </mat-sidenav>  
    
  <mat-sidenav-content fxFlex="1 1 auto" fxLayout="column" 
                       (scroll)="onScroll($event)">
    <div fxFlex="1 1 auto">
      <router-outlet></router-outlet>
    </div>
    <wm-footer fxFlex="0 0 auto"></wm-footer>
  </mat-sidenav-content>

</mat-sidenav-container>
