<wm-toolbar fxFlex="0 0 auto"
            [toggler]="snav.opened" 
            (togglerChange)="snav.toggle()"
            [divider]="divider && !snav.opened"
            [signedIn]="signedIn">
</wm-toolbar>

<mat-sidenav-container fxFlex="1 1 auto" fxLayout="column">

  <mat-sidenav mode="over" position="end" #snav>

    <ng-container *ngIf="signedIn; else public">
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of msgs.menu.private" 
                         [routerLink]="item.link"
                         [queryParams]="item.params">
          {{item.label}}
        </a>
      </mat-nav-list>
    </ng-container>
    
    <ng-template #public>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of msgs.menu.public" 
                         [routerLink]="item.link"
                         [queryParams]="item.params">
          {{item.label}}
        </a>
      </mat-nav-list>
    </ng-template>
  
  </mat-sidenav>  
    
  <mat-sidenav-content fxFlex="1 1 auto" fxLayout="column" (scroll)="onScroll($event)" #content>
    <div fxFlex="1 1 auto">
      <router-outlet></router-outlet>
    </div>
    <wm-footer fxFlex="0 0 auto" [signedIn]="signedIn"></wm-footer>
  </mat-sidenav-content>

</mat-sidenav-container>
