@import 'src/theme';

:host {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

a {
  &[mat-list-item]{
    color: mat-color($wm-mat-primary, 600);
  }
}

mat-sidenav-container {
  height: 100%;
}
