<!-- Localized content -->
<ng-container *wmContent="let msgs select 'settings-profile'" gtag="profile">

  <!-- Action Bar (projected in the top toolbar) -->
  <ng-template wmActionbar let-mobile="isMobile">
  
    <!-- Update profile button -->
    <button mat-stroked-button type.lt-sm="icon" color="primary" [disabled]="!(form.dirty || prefs.dirty) || form.invalid || prefs.invalid" (click)="updateProfile()">

      <wm-icon *ngIf="mobile; else saveProfile" [icon]="msgs.actions?.save?.icon || 'save'"></wm-icon>
      
      <ng-template #saveProfile>{{ msgs.actions?.save?.caption || 'Update Profile' }}</ng-template>

    </button>

  </ng-template>

  <!-- Public profile -->
  <h2>{{ msgs.title || 'Public profile' }}</h2>

  <mat-divider></mat-divider>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="start center" fxLayoutGap="32px">

    <!-- Profile form -->
    <wm-profile-form fxFlexOrder.lt-sm="2" [(value)]="profile" #form></wm-profile-form>

    <!-- Profile photo w/ loader -->
    <wm-profile-photo fxFlexOrder.lt-sm="1" [url]="profile?.photo" [folder]="profile?.id" (update)="updatePhoto($event)"></wm-profile-photo>
  
  </div>

  <!-- User preferences -->
  <h3>{{ msgs.preferences?.title || 'User\'s preferences' }}</h3>

  <mat-divider></mat-divider>

  <!-- Preferences form -->
  <wm-preferences-form [(value)]="profile" #prefs></wm-preferences-form>
  
  <!-- CanLeave Popup Dialog (based on MatDialog) -->
  <wm-dialog [dontLeave]="form.dirty || prefs.dirty" (beforeClosed)="$event === 'save' && updateProfile(form.userData)">

    <h2 mat-dialog-title><b>{{ msgs.canLeave?.title || 'Unsaved changes' }}</b></h2>
  
    <mat-dialog-content [wm-readme]="msgs.canLeave?.message">
      <span>You're about to leave the page without saving the latest changes.<br>Please confirm.</span>
    </mat-dialog-content>
  
    <mat-dialog-actions align="end">
      <button mat-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>{{ msgs.canLeave?.cancel || 'Stay' }}</button>
      <button mat-button color="accent" [mat-dialog-close]="'save'">{{ msgs.canLeave?.force || 'Save and leave' }}</button>
      <button mat-button color="warn" [mat-dialog-close]="true">{{ msgs.canLeave?.ok || 'Leave anyhow' }}</button>
    </mat-dialog-actions>
  
  </wm-dialog>

</ng-container>

