$wm-pcard-width: 600px !default;
$wm-pcard-height: 50%;
$wm-avatar-size: 48px !default;

.wm-addpost {
  position: relative;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;

  .mat-card {
    height: 80px;
    margin-top: 100px;
    border-radius: 10px;
  }

  .mob-mat-card {
    margin-top: 100px;
  
    
  }

  mat-card-content {
    width: 100%;
  }

  .post-entry {
    border-radius: 50px;
    background-color: hsla(0, 0%, 81.2%, .25);
    width: 100%;
    margin-left: 25px
  }

  .post-modal-entry {
    height: 100%;
    cursor: pointer
  }
}

.wm-dlg-addpost {
  position: relative;
  display: block;
  width: 450px;
  left: 100px;
  top: -40px;

  .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    width: 100%;
  }

  .dlg-subheader {
    margin-top: $wm-avatar-size/4;
    margin-bottom: 10px;
  }

  .dlg-avatar {
    position: relative;
    height: $wm-avatar-size;

    wm-avatar {
      width: $wm-avatar-size;
      height: $wm-avatar-size;
      line-height: $wm-avatar-size;
      cursor: pointer;
    }
  }

  .dlg-header__close {
    wm-icon {
      cursor: pointer;
    }
   
  }

  .tools {
    cursor: pointer;
    vertical-align: middle;
  }

  .wm-emoji-keyboard {
    flex-direction: column !important;

    .mat-button {
      min-width: 40px;
    }
  }

}
