
// Component
:host {

  .feedback-btn {
    position: fixed;
    right: 14px;
    bottom: 14px;
    border-radius: 500px;
  }
}

// Dialog

.mat-dialog-content { 
  max-width: 100%;
  width: 350px;
  margin: 0;
  padding: 0;
}

.upload {
  cursor: pointer;
  span { opacity: 0.5; }
  &:hover {
    span { opacity: inherit; }
  }

  &[disabled=true] {
    pointer-events: none;
    color: gray;
  }
}
