
<ng-container *wmContent="let msgs select 'feedback'">

  <button mat-raised-button class="feedback-btn" (click)="open()">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
      <span>{{ msgs.caption || 'Feedback' }}</span>
      <wm-icon [icon]="msgs.icon || 'message'"></wm-icon>
    </div>
  </button>

</ng-container>

<!-- Feedback Popup Dialog -->
<ng-template #formTemplate>

  <ng-container *wmContent="let msgs select 'feedback'">

    <!-- Common header with close button -->
    <header mat-dialog-title fxLayout="row" fxLayoutAlign="space-between end">
      
      <span>{{ msgs.title || 'Feedback'}}</span>
      
      <button mat-icon-button mat-dialog-close>
        <wm-icon inline="true" icon="close"></wm-icon>
      </button>

    </header>

    <!-- Thank you message on feedback sent -->
    <ng-template #thankYou>

      <mat-dialog-content [ngSwitch]="success">

        <p class="message info" *ngSwitchCase="true">{{ msgs.notifications?.success || 'Succeeded' }}</p>

        <p class="message error" *ngSwitchCase="false">{{ msgs.notifications?.error || 'Error' }}</p>
      
      </mat-dialog-content>

    </ng-template>

    <!-- Feedback form to fill-in -->
    <form [formGroup]="form" (ngSubmit)="send()" *ngIf="!sent; else thankYou">

      <mat-dialog-content fxLayout="column" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">

        <!-- Name -->
        <mat-form-field appearance="outline" [fxHide]="authenticated">
          <mat-label>{{ msgs.name?.label || 'Name' }}</mat-label>
          <input matInput formControlName="name">
          <mat-hint>{{ msgs.name?.hint }}</mat-hint>
        </mat-form-field>
    
        <!-- Email -->
        <mat-form-field appearance="outline" [fxHide]="authenticated">
          <mat-label>{{ msgs.email?.label || 'Email' }}</mat-label>
          <input matInput formControlName="email">
          <mat-hint>{{ msgs.email?.hint }}</mat-hint>
          <mat-error *ngIf="form.controls['email'].errors?.required">{{ msgs.email?.errors?.required || 'Email required' }}</mat-error>
          <mat-error *ngIf="form.controls['email'].errors?.email">{{ msgs.email?.errors?.invalid || 'Invalid email' }}</mat-error>
        </mat-form-field>

        <!-- Message -->
        <mat-form-field appearance="outline">
          <mat-label>{{ msgs.message?.label || 'Message' }}</mat-label>
          <textarea matInput formControlName="message" rows="5" cdkFocusInitial></textarea>
          <mat-hint>{{ msgs.message?.hint }}</mat-hint>
          <mat-error *ngIf="form.controls['message'].errors?.required">{{ msgs.message?.errors?.required || 'Message required' }}</mat-error>
        </mat-form-field>

        <!-- Attachments -->
        <ng-container *ngIf="msgs.attachments && msgs.attachments.enable">

          <input style="display:none" type="file" multiple (change)="files = $event.target?.files" #openfile />
          
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px" class="upload" (click)="openfile.click()" [attr.disabled]="sending">

            <wm-icon [icon]="msgs.attachments.icon || 'attach_file'"></wm-icon>

            <span class="mat-error" *ngIf="fileSizeExceeded; else filesOk">
              {{ msgs.attachments.errors?.sizeExceeded || 'File size exeeded' }}
            </span>
            <ng-template #filesOk>

              <span>{{ msgs.attachments.label || 'Attachments' }}</span>
              
              <span *ngIf="files?.length > 0">&nbsp;({{ files.length }})</span>

            </ng-template>
          
          </div>
        </ng-container>
        
      </mat-dialog-content>

      <!-- Submit button -->
      <mat-dialog-actions align="end">

        <mat-progress-bar *ngIf="sending" mode="indeterminate" color="primary"></mat-progress-bar>

        <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid || sending">{{ msgs.send || 'Send' }}</button>

      </mat-dialog-actions>

    </form>

    <!-- Credits -->
    <a *ngIf="!!msgs.credits" class="mat-small" [href]="msgs.credits.url" (click)="redirect(msgs.credits.url)">{{ msgs.credits.caption }}</a>
  
  </ng-container>

</ng-template>