
.feedback {
  position: fixed;
  right: 14px;
  bottom: 14px;
  border-radius: 500px;
  //background-color: rgba(0,0,0,0.1);
}

.mat-dialog-content { 
  min-width: 250px;
  margin: 0;
  padding: 0;
}