@import "../../../variables";
//@import "../../../theme";

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;

  padding: $wm-content-padding 0;
  margin: 0 $wm-content-margin;
}

.panel {
  width: $wm-login-width;
  text-align: center;

  & > form {
    width: $wm-login-width;
  }
}

.bit-of-space { 
  margin: 12px 0; 
}

.btn {
  margin-top: 10px;
  min-height: 48px;
}
.providers {
  font-size: 1.5em;
}

