@import 'variables';
@import 'theme';

:host {
  display: block;
  //position: absolute;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;

  //background-color: map-get($wm-theme-background, app-bar);
  //box-shadow: 0 0 6px rgba(black, 0.5);

  //nav { margin-bottom: $wm-menu-margin;}
}

.link-active {
  border-left: 2px solid mat-color($wm-primary);
  border-right: 2px solid mat-color($wm-primary);
}