
:host {

  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;

  .link-active {

    border-style: none solid;
    border-width: 2px;
    border-radius: 0;
  }
}