
<!-- ACTION BUTTON -->
<ng-container *ngIf="action.code && !menu">
      
  <!-- TEXT BUTTON (DESKTOP) -->
  <button mat-button color="primary" [fxHide.lt-sm]="action.icon" [fxHide]="!action.caption"
    (click)="activate.emit(action.code)"
    [disabled]="!!action.disabled" @fadeIn>
    {{ action.caption }}
  </button>

  <!-- ICON BUTTON (MOBILE) -->
  <button mat-icon-button color="primary" [fxHide]="!!action.caption || !action.icon" [fxShow.lt-sm]="action.icon" 
    (click)="activate.emit(action.code)" 
    [disabled]="!!action.disabled" @fadeIn>
    <wm-icon [icon]="action.icon"></wm-icon>
  </button>

</ng-container>

<!-- ACTION LINK -->
<ng-container *ngIf="action.link && !menu">
  
  <!-- TEXT LINK (DESKTOP) -->
  <button mat-button color="primary" [fxHide.lt-sm]="!!action.icon" 
    [routerLink]="action.link" [queryParams]="action.params" @fadeIn>
    {{ action.caption }}
  </button>

  <!-- ICON LINK (MOBILE) -->
  <button mat-icon-button color="primary" [fxHide]="!!action.caption || !action.icon" [fxShow.lt-sm]="!!action.icon" 
  [routerLink]="action.link" [queryParams]="action.params" @fadeIn>
  <wm-icon [icon]="action.icon"></wm-icon>
  </button>

</ng-container>

<!-- ACTION MENU-ITEM -->
<ng-container *ngIf="menu">

  <ng-container *ngIf="action.code">
    <button mat-menu-item color="primary"
      (click)="activate.emit(action.code)"
      [disabled]="!!action.disabled">
      <wm-icon *ngIf="action.icon" [icon]="action.icon"></wm-icon>
      <span>{{ action.caption }}</span>
    </button>
  </ng-container> 
  
  <ng-container *ngIf="action.link">
    <button mat-menu-item color="primary"
      [routerLink]="action.link" 
      [queryParams]="action.params">
      <wm-icon *ngIf="action.icon" [icon]="action.icon"></wm-icon>
      <span>{{ action.caption }}</span>
    </button>
  </ng-container>

</ng-container> 
  