
<!-- Navigation linkbar-->
<wm-router-inkbar #inkbar [color]="color" *ngIf="menuItems?.length > 0">

  <!-- Links animation container -->
  <span [@menu]="menuItems" (@menu.start)="inkbar.clear()" (@menu.done)="inkbar.update()">

    <!-- Top level links -->
    <ng-container *ngFor="let item of menuItems">

      <!-- Top level link buttons -->
      <button mat-button [routerLink]="item.link" 
                         [queryParams]="item.params" 
                         [queryParamsHandling]="item.handling"
                         [routerLinkActiveOptions]="{ exact: item.exact }"
                         routerLinkInkbar *ngIf="item.link">{{ item.label }}</button>

      <!-- Top level menus -->
      <ng-contaienr *ngIf="item.menu">

        <!-- Top menu trigger. Using InkbarDirective to drag the inkbar whenever a menu link is active -->
        <button mat-button class="menu-trigger" [matMenuTriggerFor]="topMenu" [wmInkbarIf]="menuLinks.isActive">{{ item.label }}</button>

        <!-- Top menu. Using routerLinkActive to detect whenever e child link is active -->
        <mat-menu class="wm-navbar" #topMenu="matMenu" routerLinkActive #menuLinks="routerLinkActive">
            
          <!-- Top menu level links -->
          <ng-container *ngFor="let top of item.menu">

            <!-- Menu level link buttons -->
            <button mat-menu-item [routerLink]="top.link" 
                                  [queryParams]="top.params"
                                  [queryParamsHandling]="top.handling"
                                  [routerLinkActive]="'link-active border-color-default ' + color"
                                  *ngIf="top.link">{{ top.label }}</button>
            <!-- Sub menus -->
            <ng-contaienr *ngIf="top.menu">

              <!-- Sub menu level trigger -->
              <button mat-menu-item [matMenuTriggerFor]="subMenu" >{{ top.label }}</button>

              <!-- Sub menu -->
              <mat-menu class="wm-navbar" #subMenu="matMenu">

                <!-- Sub menu level links -->
                <ng-container *ngFor="let sub of top.menu">

                  <!-- Sub menu level link button -->
                  <button mat-menu-item [routerLink]="sub.link" 
                                        [queryParams]="sub.params"
                                        [queryParamsHandling]="sub.handling"
                                        [routerLinkActive]="'link-active border-color-default ' + color"
                                        *ngIf="sub.link">{{ sub.label }}</button>
                </ng-container>

              </mat-menu>

            </ng-contaienr>
            
          </ng-container>
          
        </mat-menu>

      </ng-contaienr>
      
    </ng-container>
   
  </span>

</wm-router-inkbar>
