@import "src/variables";
@import "src/theme";

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  //padding: $wm-content-padding 0;
  //margin: 0 $wm-content-margin;
}

/*
mat-grid-tile {
  border: 1px solid map-get($wm-theme-foreground, divider);
  border-radius: 5px;
}
*/