
<ng-container *ngIf="editMode then editTemplate; else viewTemplate">

  <!-- One of the two below templates will take pace here -->

</ng-container>

<!--*** VIEW MODE template **********************************-->
<ng-template #viewTemplate>
  <mat-list-item>

    <wm-icon mat-list-icon *ngIf="field.icon" [icon]="field.icon"></wm-icon>
    
    <h3 mat-line (click)="edit()">{{ field.label }}</h3>
    
    <p mat-line (click)="edit()">{{ field.value }}</p>
    
    <!--button mat-icon-button (click)="edit()">
      <mat-icon mat-list-icon *ngIf="editable">edit</mat-icon>
    </button-->
  </mat-list-item>
</ng-template>

<!--*** EDIT MODE template **********************************-->
<ng-template #editTemplate>
  <mat-list-item>
    <wm-icon mat-list-icon *ngIf="field.icon" [icon]="field.icon"></wm-icon>
    
    <h3 mat-line></h3>

    <form mat-line [formGroup]="form" (ngSubmit)="updateControl()">
      <ng-container [ngSwitch]="field?.type">
    
        <!-- type: INPUT -->
        <mat-form-field *ngSwitchDefault [appearance]="appearence" fxFill>

          <mat-label>{{ field.label }}</mat-label>
          
          <input matInput [formControl]="control"
                          (keydown)="keydown($event)" 
                          (blur)="updateControl()" #refControl>

          <mat-hint *ngIf="field.hint">{{ field.hint }}</mat-hint>
          <mat-error *ngIf="control.errors" >{{ errorMessage }}</mat-error>

        </mat-form-field>
    
        <!-- type: TEXTAREA -->
        <mat-form-field *ngSwitchCase="'textarea'" [appearance]="appearence">
          
          <mat-label>{{ field.label }}</mat-label>
          
          <textarea matInput [formControl]="control" 
                             [rows]="field.rows || 5"
                             (keydown)="keydown($event)"
                             (blur)="updateControl()" #refControl>
          </textarea>      
          
          <mat-hint *ngIf="field.hint">{{ field.hint }}</mat-hint>
          <mat-error *ngIf="control.errors" >{{ errorMessage }}</mat-error>
        
        </mat-form-field>

        <!-- type: SELECT -->
        <mat-form-field *ngSwitchCase="'select'" [appearance]="appearence">
          
          <mat-label>{{ field.label }}</mat-label>

          <mat-select [formControl]="control"
                      [value]="field.value"
                      (valueChange)="changeSelect($event)"
                      (keydown)="keydown($event)"
                      (blur)="blurSelect()" #refSelect>

            <mat-option *ngFor="let option of field.options" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>

          <mat-hint *ngIf="field.hint">{{ field.hint }}</mat-hint>
          <mat-error *ngIf="control.errors" >{{ errorMessage }}</mat-error>
        
        </mat-form-field>
      </ng-container>
    </form>

    <!--button mat-icon-button type="submit">
      <mat-icon mat-list-icon>done</mat-icon>
    </button>
    <button mat-icon-button type="button" (click)="edit = false">
      <mat-icon mat-list-icon>cancel</mat-icon>
    </button-->    
  </mat-list-item>
</ng-template>