
<ng-container *ngIf="editMode then editTemplate; else viewTemplate">

  <!-- One of the two below templates will take pace here -->

</ng-container>

<!--*** VIEW MODE template **********************************-->
<ng-template #viewTemplate>
  <mat-list-item>

    <wm-icon mat-list-icon *ngIf="field.icon" [icon]="field.icon"></wm-icon>
    
    <h3 mat-line (click)="edit()">{{ field.label }}</h3>
    
    <p mat-line (click)="edit()">{{ fieldValue }}</p>

  </mat-list-item>
</ng-template>

<!--*** EDIT MODE template **********************************-->
<ng-template #editTemplate>
  <mat-list-item>
    <wm-icon mat-list-icon *ngIf="field.icon" [icon]="field.icon"></wm-icon>
    
    <h3 mat-line></h3>

    <form mat-line [formGroup]="form" (ngSubmit)="updateControl()">
      <ng-container [ngSwitch]="field?.type">

        <!-- type: INPUT -->
        <mat-form-field *ngSwitchDefault [appearance]="appearence" fxFill>

          <mat-label>{{ field.label }}</mat-label>
          
          <input matInput formControlName="control"
                          (keydown)="keydown($event)" 
                          (blur)="updateControl()" #refControl>

          <mat-hint *ngIf="field.hint">{{ field.hint }}</mat-hint>
          <mat-error *ngIf="control.errors" >{{ errorMessage }}</mat-error>
        </mat-form-field>

        <!-- type: SELECT -->
        <mat-form-field *ngSwitchCase="'select'" [appearance]="appearence">
          
          <mat-label>{{ field.label }}</mat-label>

          <mat-select formControlName="control"
                      (valueChange)="updateControl()"
                      (openedChange)="skipSelect()"
                      (keydown)="keydown($event)"
                      (blur)="skipSelect()" #refSelect>

            <mat-option *ngFor="let option of field.options" [value]="option.value || option">
              {{ option.label || option }}
            </mat-option>
          </mat-select>

          <mat-hint *ngIf="field.hint">{{ field.hint }}</mat-hint>
          <mat-error *ngIf="control.errors" >{{ errorMessage }}</mat-error>
        
        </mat-form-field>
      </ng-container>
    </form>
  </mat-list-item>
</ng-template>