
$wm-loader-size:   150px !default;
$wm-loader-thick:    3px !default;
$wm-logo-size:      60px !default;
$wm-toggler-width:  24px !default;
$wm-toggler-height: 20px !default;
$wm-footer-height:  64px !default;
$wm-content-margin: 16px !default;
