
// Host material icons
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

// Uncomment this option to load material icons from the web
//@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Host fontawesome free icons
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// Load the main Ubuntu google font from the web
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

@import 'variables';
@import 'theme';
@import 'preloader';

// Include the common styles for Angular Material (make sure this is included only once)
@include mat-core();

// Apply custom theme styles and typography for core and each component used in your app.
@include angular-material-typography($wm-typography);
@include angular-material-theme($wm-theme);

// Creates the .preloader spinner class applying the theme color
@include preloader($wm-loader-size, 
                   $wm-loader-thick, 
                   mat-color($wm-primary, A400), 
                   map-get($wm-theme-background, background ));

body {

  // Applies material typography rules globally
  @extend .mat-typography;
 
  // Removes the margin
  margin: 0;
}