
<ng-container *ngIf="project?.author$ | async as author">

  <!-- top bar -->
  <div fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="space-between start" class="wide">

    <!-- Project title on the right -->
    <div>
      <h1>{{ project.data.name }}</h1>
      <p>{{ project.data.pitch }}</p>
    </div>

    <!-- Details button on the right (DESKTOP) -->
    <button mat-flat-button color="accent" [routerLink]="[ project.id ]" fxHide.lt-sm>
      {{ msgs.details }}
    </button>

    <!-- Details button on the right (MOBILE) -->
    <button mat-icon-button [routerLink]="[ project.id ]" fxHide fxShow.lt-sm>
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>

  <p fxFlex="1 1 auto" class="wide">{{ project.data.description }}</p>

  <!-- bottom bar -->
  <div fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="space-between center" class="wide">
    
    <!-- Author on the left -->
    <div fxLayout="row" fxLayoutAlign="start center">
      <!-- User picture with info -->
      <button mat-icon-button [wmUserInfoTrigger]="userInfo">
        <wm-avatar color="accent" [src]="author?.img"></wm-avatar>
        <wm-user-info [author]="project.data" #userInfo></wm-user-info>
      </button>
      
      <div fxLayout="column">
        <span>{{ author?.name || msgs.unnamed }}</span>
        <span class="mat-small">{{ msgs.modifiedOn.interpolate( { modified: modifiedOn(project) } )}}</span>
      </div>

    </div>

    <!-- Likes on the right -->
    <wm-likes [readonly]="project.isMine"
              [counter]="project.likes.counter$ | async"
              (changeFavorite)="project.likes.update($event ? 1 : -1)">
    </wm-likes>

  </div>

</ng-container>

