
$wm-item-height: 250px;

:host {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  outline: none;
  
  width: 100%;
  height: $wm-item-height;
  
  //border: 1px solid mat-color($wm-primary);
  border-radius: 2px;

  box-shadow: 0 2px 2px rgba(50,50,50,0.15);
  box-sizing: border-box;

  h1, p { margin: 0; }
  p { text-align: justify; }

  .wide { 
    width: 100%; 
    padding: 10px;
  }
/*
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  color: #F1F1F1;

  // Applies a gradient on the cover
  &::before {
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(black, 0.8), rgba(black, 0.25) 50%, rgba(black, 0.8));
    content: "";
  }
*/
}
