
<!-- Project name on the cover  -->
<div fxLayout="column" fxLayoutAlign="center center" class="content">
  <h1>{{ project.data.name }}</h1>
</div>

<div fxLayout="column" fxLayoutAlign="space-between center" class="content" *ngIf="project?.author$ | async as author" [routerLink]="[ '../documents', project.id ]">

  <!-- top bar -->
  <div fxLayout="row" fxLayoutAlign="end center" class="wide">
    <!-- Likes on the right -->
    <wm-likes [readonly]="project.isMine"
              [counter]="project.likes.counter$ | async"
              (changeFavorite)="project.likes.update($event ? 1 : -1)">
    </wm-likes>
  </div>

  <!-- bottom bar -->
  <div fxLayout="row" fxLayoutAlign="start center" class="wide">
    
      <!-- Author on the left -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <!-- User picture with info -->
        <button mat-icon-button [wmUserInfoTrigger]="userInfo">
          <wm-avatar [src]="author?.img"></wm-avatar>
          <wm-user-info [author]="project.data" #userInfo></wm-user-info>
        </button>
        
        <div fxLayout="column">
          <span>{{ author?.name || msgs.unnamed }}</span>
          <span class="mat-small">{{ msgs.modifiedOn.interpolate( { modified: modifiedOn(project) } )}}</span>
        </div>
  
      </div>
  
    </div>

</div>

