
<!-- Localized content -->
<ng-container *wmContent="let menu select 'explore'">

  <!-- Checks if the menu has been defined -->
  <ng-container *ngIf="!!menu.length">

    <!-- Side navigation menu -->
    <ng-template wmSidenav opened persist minWidth="200px" let-mobile="isMobile">

      <mat-nav-list>
        
        <a *ngFor="let item of menu" 
           mat-list-item 
           [routerLink]="item.link" 
           routerLinkActive="primary color-default">{{ item.label }}</a>

      </mat-nav-list>

    </ng-template>
 
  </ng-container>

</ng-container> 

<!-- Loads the child page here -->
<!--div fxLayout="row" fxFlex="60%" fxFlex.lt-sm="100%"-->

  <div fxFlex="1 1 auto" class="margins">
    <router-outlet></router-outlet>
  </div>

<!--/div-->