  
<!-- Author on the left -->
<div fxLayout="row" fxLayoutAlign="start center" *ngIf="project?.owner$ | async as owner">
  <!-- User picture with info -->
  <wm-avatar [src]="owner.img" [wmUserInfoTrigger]="userInfo"></wm-avatar>
  <wm-user-info [owner]="project.data" #userInfo></wm-user-info>
  
  <div fxLayout="column">
    <span>{{ owner.name || msgs.unnamed }}
      <!-- Project name to be shown in case the image cover is not defined -->
      <ng-container *ngIf="!project.cover">&nbsp;-&nbsp;{{ project.data.name }}</ng-container>
    </span>
    <span class="mat-small">{{ msgs.modifiedOn.interpolate( { modified: modifiedOn(project) } )}}</span>
  </div>

</div>

<!-- Likes on the right -->
<wm-likes [readonly]="project.isMine"
          [counter]="project.likes.counter$ | async"
          (changeFavorite)="project.likes.update($event ? 1 : -1)">
</wm-likes>
