service cloud.firestore {
  match /databases/{database}/documents {

  	// User profiles.
  	// Allows everyone to read user data 
    // Allows every signed-in user to create a new profile
    // Allows only the user herself to update or delete the profile
    match /users/{userId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow update, delete: if isOwner(userId);
    }
    
    // Projects.
    // Allows everyone to browse projects
    // Allows every signed-in user to create new projects
    // Allows only the project owner to update or delete them
    match /projects/{project} {
    	allow read: if true;
    	allow create: if isSignedIn();
      allow update, delete: if isOwner(resource.data.author);
		}
    
    // Project's likes.
    // Allows everyone to read project's likes
    // Allows every signed-in user to likes other's projects
    // Only the owner is allowed to delete it (deleting the user)
    match /projects/{project}/likes/{shards} {
    	allow read: if true;
    	allow create, update: if isSignedIn();
      allow delete: if isOwner(resource.data.author);
		}
        
    // User' uploads.
    // Allows everyone to view the uploaded files
    // Allows only the user herself to upload, modify or delete contents
    match /users/{userId}/uploads/{upload} {
    	allow read: if true;
      //allow read: if isSignedIn();
      allow create, update, delete: if isOwner(userId);
    }
    
    // Conversations.
    // Allows every signed-in user to read and create conversations
    // Allows only the sender to update or delete them
    match /conversations/{conversation} {
    	allow read, create: if isSignedIn();
      allow update, delete: if isOwner(resource.data.from);
		}
    
    // Messages.
    // Allows every signed-in user to read and create messages
    // Allows only the sender to update or delete them
    match /conversations/{conversation}/messages/{message} {
    	allow read, create: if isSignedIn();
      allow update, delete: if isOwner(resource.data.from);
		}

		// Check if the requesting user is signed in
    function isSignedIn() {
  		return request.auth.uid != null;
		}
    
    // Check if the specified userId corresponds the the requesting user
    function isOwner(userId) {
  		return request.auth.uid == userId;
		}
  }
}