
<ng-container *ngFor="let segment of segments">

      <ng-template #plainText>{{ segment.content }}</ng-template>

      <a *ngIf="segment.type ==='link'; else plainText" 
            [ngClass]="linkClass" 
            [ngStyle]="linkStyle"
            (click)="navigate(segment)">{{ segment.content }}</a>

      <!--a *ngIf="segment.type ==='link'; else plainText" 
            [ngClass]="linkClass" 
            [ngStyle]="linkStyle"
            [href]="segment.url"
            (click)="navigate(segment)">{{ segment.content }}</a-->

</ng-container>
