
<ng-content></ng-content>

<ng-template #dialog><!-- This template will be used for the dialog window only -->

  <header mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">

    <h2>{{ msgs?.title }}</h2>

    <!-- Thumbnail size selector -->
    <mat-button-toggle-group value="sm" #sizes="matButtonToggleGroup">
      <mat-button-toggle value="sm"><wm-icon icon="fas:fa-th"></wm-icon></mat-button-toggle>
      <mat-button-toggle value="md"><wm-icon icon="fas:fa-th-large"></wm-icon></mat-button-toggle>
    </mat-button-toggle-group>

  </header>

  <mat-dialog-content>

    <div fxFlex="1 1 auto" fxLayout="row wrap"  fxLayoutAlign="center center" *ngIf="uploads | async as files">

      <!-- No files message -->
      <p *ngIf="!files.length">{{ msgs?.noFiles }}</p>

      <!-- None selected item -->
      <button mat-button (click)="select({})" *ngIf="none">
        <wm-thumbnail [name]="msgs?.none" [size]="sizes.value" [selected]="!selectedFile.id">
          <div class="none"></div>
        </wm-thumbnail>
      </button>
      
      <!-- List of uploaded items -->
      <button mat-button *ngFor="let file of files" (click)="select(file)">
        <wm-thumbnail [src]="file.url" [name]="file.name" [size]="sizes.value" [selected]="file.id === selectedFile.id">
          <div class="none"></div>
        </wm-thumbnail>
      </button>

      <!-- Fake uploading item -->
      <wm-thumbnail [name]="msgs?.loading" [size]="sizes.value" *ngIf="loading">
        <wm-spinner></wm-spinner>
      </wm-thumbnail>

    </div>
      
  </mat-dialog-content>

  <!-- Hidden OpenFile component -->
  <wm-openfile accept="image/*" (files)="upload($event)" #openfile></wm-openfile>

  <!-- Buttons -->
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center">

    <button mat-button color="primary" [mat-dialog-close]="null">{{ msgs?.cancel }}</button>
  
    <button mat-button color="primary" [mat-dialog-close]="selectedFile" cdkFocusInitial>{{ msgs?.select }}</button>
  
    <button mat-button color="primary" type="button" (click)="openfile.open()">{{ msgs?.browse }}</button>
  
  </mat-dialog-actions>
  
</ng-template>