<!-- Displays favorites, if any -->
<ng-container *ngIf="favorites.length > 0">

  <!-- Favorites buttons -->
  <div fxFlexLayout="row" fxFill> 

    <button mat-icon-button *ngFor="let key of favorites" (mousedown)="press(key)">
      <span class="key" [attr.mode]="behavior" [attr.key]="key"></span>
    </button>

  </div>

  <mat-divider></mat-divider>

</ng-container>

<!-- Scrollbar hiding container -->
<div scrollHide>

  <!-- Adjust the height to accomodate for the scrollbar -->
  <cdk-virtual-scroll-viewport orientation="horizontal" [itemSize]="keySize" [scrollHeight]="viewportHeight">
    
    <div fxLayout="column" *cdkVirtualFor="let column of columns$">

      <button mat-icon-button *ngFor="let key of column" (mousedown)="press(key)">

        <span class="key" [attr.mode]="behavior" [attr.key]="key"></span>
      
      </button>

    </div>
    
  </cdk-virtual-scroll-viewport>

</div>