
<ng-content></ng-content>

<!-- Gets the localized content -->
<ng-template wmContent="let msgs select 'folder'">

  <header mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">

    <h2>{{ msgs?.title || 'Upload files' }}</h2>

    <!-- Thumbnail size selector -->
    <mat-button-toggle-group value="sm" #sizes="matButtonToggleGroup">

      <mat-button-toggle value="sm"><wm-icon icon="fas:fa-th"></wm-icon></mat-button-toggle>
      
      <mat-button-toggle value="md"><wm-icon icon="fas:fa-th-large"></wm-icon></mat-button-toggle>
    
    </mat-button-toggle-group>

  </header>

  <mat-dialog-content>

    <div fxFlex="1 1 auto" fxLayout="row wrap" fxLayoutAlign="center center">

      <!-- None selected item -->
      <button mat-button (click)="selectFile('none')" *ngIf="none">

        <wm-thumbnail [name]="msgs?.none || 'None'" [size]="sizes.value" [selected]="isFileSelected('none')">
          <div class="none"></div>
        </wm-thumbnail>

      </button>

      <!-- List of uploaded items -->
      <ng-container *ngFor="let file of files$ | async">
      
        <button mat-button *ngIf="file.url$ | async as fileUrl" (click)="selectFile(fileUrl)">

          <wm-thumbnail [src]="fileUrl" [name]="file.name$ | async" [size]="sizes.value" [selected]="isFileSelected(fileUrl)">
            <wm-spinner></wm-spinner>
          </wm-thumbnail>

        </button>

    </ng-container>
      
    </div>
      
  </mat-dialog-content>

 
  <!-- Buttons -->
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center">

    <button mat-button color="primary" mat-dialog-close>{{ msgs?.cancel || 'Cancel' }}</button>

    <button mat-button color="primary" type="button" (click)="fileDeleteDlg.open()" [disabled]="!selectedFile">{{ msgs?.delete || 'Delete' }}</button>
  
    <button mat-button color="primary" type="button" (click)="upload($event)">{{ msgs?.browse || 'Browse' }}</button>

    <button mat-button color="primary" [mat-dialog-close]="selectedFile" cdkFocusInitial>{{ msgs?.select || 'Select' }}</button>
  
  </mat-dialog-actions>

  <!-- Can Delete confirmation dialog -->
  <wm-dialog (closedChange)="!!$event && deleteFile(selectedFile.id)" #fileDeleteDlg>

    <ng-container *ngIf="msgs.canDelete || {} as delete">

      <h2 mat-dialog-title><b>{{ delete.title || 'Deleting files' }}</b></h2>

      <mat-dialog-content [wm-readme]="delete.message">
        <b>WARNIN!!!</b><br>By proceeding you'll permanently delete the selected file(s).
      </mat-dialog-content>
    
      <mat-dialog-actions align="end">

        <button mat-button color="primary" [mat-dialog-close]="false" cdkFocusInitial>{{ delete.cancel || 'Abort' }}</button>
        
        <button mat-button color="warn" [mat-dialog-close]="true">{{ delete.ok || 'Proceed' }}</button>
      
      </mat-dialog-actions>

    </ng-container>

  </wm-dialog>
  
</ng-template>