
@mixin wm-link-theme($theme) {

  // Defines an additional wm-link class to decorate links diviating from the strict rules of material design for the sake of clarity
  .wm-link {

    // Styles according the theme palette colors
    @each $color in ('primary', 'accent', 'warn') {

      &[color=#{$color}], &.#{color} { 

        color: mat-color( map-get($theme, #{$color}) ); 
      }
    }

    text-decoration: underline;

    // Styles the disabled link
    &[disabled=true] {

      color: map-get( map-get($theme, foreground) , 'disabled');
      text-decoration: dotted underline;
    }
  }
}