<!-- Gets the localized content -->
<ng-container *wmContent="let msgs select 'consent'">

  <!-- Title -->
  <h2 mat-dialog-title>{{ msgs.title || 'We uses cookies' }}</h2>

  <mat-dialog-content>

    <!-- Cookie message -->
    <p [wm-readme]="msgs.body">We use our own and third-party cookies to personalize content and to analyze web traffic.</p>
      
  </mat-dialog-content>
 
  <mat-dialog-actions align="center">

    <!-- Accept all cookies button -->
    <button mat-flat-button [mat-dialog-close]="true" color="accent" cdkFocusInitial>
      
      <wm-icon icon="fas:fa-cookie-bite"></wm-icon>
      
      <span>{{ msgs.ok || 'Accept' }}</span>
    
    </button>

    <!-- Sign-in -->
    <button mat-button color="primary" routerLink="/login">{{ msgs.cancel || 'Join | Sign-in' }}</button>

  </mat-dialog-actions>
  
</ng-container>