
<!-- Project name on the cover (only if cover image is defined) -->
<div fxLayout="column" fxLayoutAlign="center center" class="content" *ngIf="project?.cover">
  <h1>{{ project.name }}</h1>
</div>

<!-- Wait fot the project before displaing the content -->
<div fxLayout="column" fxLayoutAlign="end center" class="content" *ngIf="project?.owner$ | async as owner">

  <!-- bottom bar -->
  <div fxLayout="row" fxLayoutAlign="space-between center" class="wide">
    
    <!-- Author on the left -->
    <div fxLayout="row" fxLayoutAlign="start center">
      <!-- User picture with info -->
      <wm-avatar [src]="owner.img" [wmUserInfoTrigger]="userInfo"></wm-avatar>
      <wm-user-info [owner]="project" #userInfo></wm-user-info>
      
      <div fxLayout="column">
        <span>{{ owner.name || msgs.unnamed }}
          <!-- Project name to be shown in case the image cover is not defined -->
          <ng-container *ngIf="!project.cover">&nbsp;-&nbsp;{{ project.name }}</ng-container>
        </span>
        <span class="mat-small">{{ msgs.modifiedOn.interpolate( { modified: modifiedOn(project) } )}}</span>
      </div>

    </div>

    <!-- Likes on the right -->
    <button mat-button (click)="toggleFavorite()">
      <span class="mat-small">532</span>
      <wm-icon [icon]="favorite ? 'favorite' : 'favorite_border'"></wm-icon>
    </button>
    
  </div>

</div>
