
<header fxLayout="row" fxLayoutAlign="space-between center" *ngIf="project">
  
  <div fxLayout="row"><!-- Author on the left -->
    
    <wm-avatar [src]="project.owner?.img"></wm-avatar>
    
    <div fxLayout="column">
      <span>{{ project.owner?.name || msgs.unnamed }}&nbsp;-&nbsp;{{ project.name }}</span>
      <span class="mat-small">{{ msgs.modifiedOn.interpolate( { modified: modifiedOn(project) } )}}</span>
    </div>

  </div>

  <div fxLayout="row"><!-- Notifications on the right -->

    <button mat-icon-button (click)="panel.toggle()" *ngIf="isMine">
      <wm-icon [icon]="'notifications_none'" matBadge="3"></wm-icon>
    </button>

    <button mat-button (click)="toggleFavorite()">
      <span class="mat-small">532</span>
      <wm-icon [icon]="favorite ? 'favorite' : 'favorite_border'"></wm-icon>
    </button>
  </div>

</header>

<!-- List of Notifications -->
<mat-expansion-panel #panel>

  <mat-list fxFlex="1 1 auto">
    <wm-user-message [message]="message" *ngFor="let message of messages; last as isLast">
      <mat-divider *ngIf="!isLast"></mat-divider>
    </wm-user-message>
  </mat-list>

</mat-expansion-panel>
